Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Add documentation on `ros2_control_node` and make lock_memory false by default (#1890)
  controller_manager/doc/userdoc.rst
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Lock memory by default on a realtime system setup (#1896)
  controller_manager/doc/userdoc.rst
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Move to single rw_rate variable instead of read and write separate rates
  hardware_interface/include/hardware_interface/hardware_component_info.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Apply suggestions from code review
  joint_limits/CMakeLists.txt
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Rename the joint_limiter_struct.hpp to data_structures.hpp
  joint_limits/include/joint_limits/data_structures.hpp
  joint_limits/include/joint_limits/joint_soft_limiter.hpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

improve documentation of the helper methods
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[Feature] Choose different read and write rate for the hardware components (#1570)
  doc/release_notes.rst
  hardware_interface/doc/different_update_rates_userdoc.rst
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/hardware_component_info.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add states for a better state transition
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add the initial trigger_read and trigger_write API for the hardware component interfaces
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

remove old async components implementation
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add the initial integration of the AsyncFunctionHandler for the read and write async triggering
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/package.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add missing on_init for System and Sensor + typos
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add async read and write tests for the test components with ResourceManager
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update the logic to use only single async_handler for both read and write cycles
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Parse thread scheduler priority parsing to the async handlers
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

parse thread priority from the URDF ros2_control component
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add new API naming changes
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add CLEAR_ALL_REGISTRIES macro in destructor
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

disable introspection on cleanup
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

CM: Check if a valid time is received (#1901)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add clang job
  .github/workflows/humble-binary-build.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/rolling-binary-build.yml
Due: ament_copyright

Add concurrency settings to all workflows
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-check-docs.yml
  .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-pre-commit.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-check-docs.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-pre-commit.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-check-docs.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-commit.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rosdoc2.yml
Due: ament_copyright

Fix implicit conversion
  hardware_interface/test/test_macros.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix implicit conversion
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix clang errors
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Satisfy clang
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use clang for semi-binary
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: ament_copyright

Fix jazzy clang
  .github/workflows/jazzy-semi-binary-build.yml
Due: ament_copyright

Satisfy clang
  controller_interface/include/semantic_components/force_torque_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use humble branch for realtime_tools
  ros2_control.humble.repos
Due: ament_copyright

Remove static_cast
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update CPU affinity parameter to be set multiple CPUs
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "Remove static_cast"
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update docs
  controller_manager/doc/userdoc.rst
Due: ament_copyright

rename macro to REGISTER_ROS2_CONTROL_INTROSPECTION
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/introspection.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add backward ros to hardware_interface
  hardware_interface/CMakeLists.txt
  hardware_interface/package.xml
Due: ament_lint_cmake, ament_copyright

Fix test due to changes of #1570
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Readd deactivated tests
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Remove debug output
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
