Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Add helper method to strip whitespaces (#2934)
  hardware_interface/include/hardware_interface/helpers.hpp
  hardware_interface/test/test_helpers.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Catch exceptions of sleep_until context
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fixed issue with mock_components being linked even when not needed (#2925)
  controller_interface/CMakeLists.txt
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Add URDF validation function and corresponding test case
  hardware_interface/include/hardware_interface/component_validator.hpp
  hardware_interface/src/component_validator.cpp
  hardware_interface/test/test_component_validator.cpp
  ros2_control_test_assets/urdf/test_hardware_components_xsd_file.urdf
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix URDF validation by correcting XSD path normalization and updating test cases
  hardware_interface/src/component_validator.cpp
  hardware_interface/test/test_component_validator.cpp
  ros2_control_test_assets/CMakeLists.txt
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add component validator for URDF validation against XSD
  hardware_interface/include/hardware_interface/component_validator.hpp
  hardware_interface/src/component_validator.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

urdf files moved to ros2_control_test_assets
  hardware_interface/urdf/test_hardware_components.urdf
  ros2_control_test_assets/urdf/test_hardware_components.urdf
  ros2_control_test_assets/urdf/test_hardware_components_with_error.urdf
Due: ament_copyright

Enhance URDF validation by adding support for remote XSD files and updating test cases
  hardware_interface/src/component_validator.cpp
  hardware_interface/test/test_component_validator.cpp
  ros2_control_test_assets/CMakeLists.txt
  ros2_control_test_assets/urdf/test_hardware_components_xsd_web.urdf
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

accidentely removed the code to add schema to directory
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Remove unused Google Test includes from component_validator.hpp
  hardware_interface/include/hardware_interface/component_validator.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Enhance URDF validation by normalizing XSD paths and downloading remote schemas
  hardware_interface/include/hardware_interface/component_validator.hpp
  hardware_interface/src/component_validator.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add LibXml2 to package dependencies in CMakeLists.txt
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Add component validator and tests for URDF validation against XSD
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/component_validator.hpp
  hardware_interface/src/component_validator.cpp
  hardware_interface/test/test_component_validator.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

urdf directory code updated
  hardware_interface/CMakeLists.txt
  hardware_interface/test/test_validate_xml_schema.cpp
  ros2_control_test_assets/CMakeLists.txt
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add functions to validate URDF against XSD and extract ROS2 Control XSD tag
  hardware_interface/include/hardware_interface/component_validator.hpp
  hardware_interface/src/component_validator.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

test dependencies updated
  hardware_interface/package.xml
Due: ament_copyright

test_validate_xml_schema is removed as test_hardware_component is used for xsd file validation
  hardware_interface/CMakeLists.txt
  hardware_interface/test/test_validate_xml_schema.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

test added for xml schema validation
  hardware_interface/CMakeLists.txt
  hardware_interface/schema/ros2_control.xsd
  hardware_interface/test/test_validate_xml_schema.cpp
  hardware_interface/urdf/test_hardware_components.urdf
  hardware_interface/urdf/test_hardware_components_with_error.urdf
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Apply suggestions from code review
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

[Simulation] Catch exceptions of sleep_until context (#2963)
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use draft branch of ros2_control_ci
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

First implementation of async slave controller
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/hardware_component.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/hardware_component_interface.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Parametrize slave mode on controllers
  controller_interface/include/controller_interface/controller_interface_params.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

periodicity measurement fix:
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

parametrize slave mode and target hardware
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

wait for all slave controller update to complete before write
  controller_interface/src/controller_interface_base.cpp
  hardware_interface/src/hardware_component_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

remove test 500us sleep in controller update
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

separate sync_signal_latency measurement for read/update
  controller_interface/src/controller_interface_base.cpp
  hardware_interface/src/hardware_component_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve warning if spawner cannot acquire filelock
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Print info warning if lock was acquired after hitting timeout once
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Log only once
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Apply suggestions from code review
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Improve warning if spawner cannot acquire filelock (#2970)
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Fix tests
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  controller_manager/test/test_controller_manager_with_namespace.cpp
  controller_manager/test/test_controller_manager_with_resource_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update descriptions to reproduce the issue
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

strip the whitespaces from components XML
  hardware_interface/include/hardware_interface/helpers.hpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright
