Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.3
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Simplify things
  hardware_interface/doc/joints_userdoc.rst
Due: none

Change kEnableTag to kEnableAttribute and other minor typos
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Add tests for the acceleration and jerk limits parsing
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

Fix minor bug in the acceleration and deceleration signs
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Add tests for specific use conditions
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

Apply suggestions from code review
  hardware_interface/doc/joints_userdoc.rst
Due: none

Fix pre-commit
  hardware_interface/doc/joints_userdoc.rst
Due: none

deactivate the controllers when they return error similar to the hardware errors
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Better logging format
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

If external_commands_for_testing_ is set to not finite then return error in update cycle in test_controller
  controller_manager/test/test_controller/test_controller.cpp
Due: ament_cppcheck, ament_cpplint

Add stop_controllers_on_controller_error test case
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
Due: ament_cppcheck, ament_cpplint

remove the outdated docs
  controller_manager/doc/userdoc.rst
Due: none

Rename tests
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

Format error strings
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Add comment to remove duplicate code
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Add another test with different min/max values
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

Fix the missing GPIOs part in the tests
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint

add more common interface type constants
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
Due: ament_cppcheck, ament_cpplint

add temperature interface to the constants
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
Due: ament_cppcheck, ament_cpplint

Add integration test with a lot of controller spawners
  controller_manager/CMakeLists.txt
  controller_manager/test/test_spawner_integration.py
  ros2_control_test_assets/CMakeLists.txt
  ros2_control_test_assets/urdf/test_description_mock.urdf
Due: ament_lint_cmake

Do not wait for controller_manager node
  controller_manager/controller_manager/spawner.py
Due: none

Re-add controller_manager_timeout
  controller_manager/controller_manager/spawner.py
Due: none

Resolve deadlock in calling controller_manager services
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Add missing controllers file
  controller_manager/test/test_controllers.yaml
Due: none

Adding more examples
  hardware_interface/doc/joints_userdoc.rst
Due: none

Add fallback controllers list name to the ControllerInfo object
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint

Add a functionality to look for the controller type in the params file when not parsed
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/spawner.py
  controller_manager/test/test_controller_spawner_with_type.yaml
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Remove unnecessary check and add test if it still throws
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Fix continuous joint limits
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Test if it throws on revolute+prismatic without limits
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Successfully parse continuous joint limits if set in URDF
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

add fallback controllers parsing through the spawners
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/spawner.py
  controller_manager/test/test_controller_spawner_with_fallback_controllers.yaml
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

add test to reproduce the overloading type issue with multiple controllers in same file
  controller_manager/test/test_controller_spawner_with_type.yaml
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

fix the overloading type param issue in spawner
  controller_manager/controller_manager/spawner.py
Due: none

Throw if trying to configure a fixed joint
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

added gain interfaces to constants to standardize
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
Due: ament_cppcheck, ament_cpplint

Specify runner/container images
  .github/workflows/humble-source-build.yml
  .github/workflows/iron-source-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-pre-commit.yml
  .github/workflows/rolling-source-build.yml
Due: none

Add joint_limits to coverage
  codecov.yml
Due: none

Satisfy flake8 on noble
  ros2controlcli/ros2controlcli/api/__init__.py
  ros2controlcli/ros2controlcli/verb/load_controller.py
Due: none
