Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

first steps towards variants and storing of value in handle, missing: * variant * adjusting of resource manager
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/test/test_component_interfaces.cpp
  transmission_interface/include/transmission_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint

change rest of component_interface test and mark what should be removed
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/test/test_component_interfaces.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

adjusted resource manager to work with shared_ptr adapt actuator,sensor and system
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint

add more tests
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/test/test_component_interfaces.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

cleanup
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

add variant support
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint

code review suggestions and: * components check for export of interfaces * change intefaces to allow custom export and test
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

export_interfaces_2() virtual for custom interface export
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  hardware_interface/test/test_components.hpp
Due: ament_cppcheck, ament_cpplint

merge parser functions
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint

review suggestions
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/include/hardware_interface/types/hardware_interface_emergency_stop_signal.hpp
  hardware_interface/include/hardware_interface/types/hardware_interface_error_signals.hpp
  hardware_interface/include/hardware_interface/types/hardware_interface_warning_signals.hpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  hardware_interface/test/test_error_warning_codes.cpp
Due: ament_cppcheck, ament_cpplint

undo prefix_ -> prefix (HWInfo) and Command-/StateIntefaceSharedPtr
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint

add interface for warning, error and report
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/include/hardware_interface/types/hardware_interface_emergency_stop_signal.hpp
  hardware_interface/include/hardware_interface/types/hardware_interface_error_signals.hpp
  hardware_interface/include/hardware_interface/types/hardware_interface_warning_signals.hpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  hardware_interface/test/test_error_warning_codes.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

add basic test for error codes setting
  hardware_interface/test/test_error_warning_codes.cpp
Due: ament_cppcheck, ament_cpplint

remove rebase artefacts
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint

use unordered map and adjust tests
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint

make states and commands of component interfaces private
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
Due: ament_cppcheck, ament_cpplint

docs for error and warning signals
  doc/index.rst
  hardware_interface/doc/error_and_warning_interfaces_userdoc.rst
Due: none

Move migration notes
  doc/migration/Foxy.rst
  hardware_interface/doc/hardware_components_userdoc.rst
Due: none

Set the os_code to jammy
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: none

Try a new cache
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: none

Try to set the rosdep index
  .github/workflows/rolling-coverage-build.yml
Due: none

Use coverage build of master branch
  .github/workflows/rolling-coverage-build.yml
Due: none

Use master-branch of CI repo
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: none

Add the missing limits to the diffbot urdf continuous joints
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Fix formatting changes
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint

added an actuator interface with exclusive interface handling
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_components/test_actuator_exclusive.cpp
  hardware_interface_testing/test/test_components/test_components.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

ran precommit
  hardware_interface_testing/test/test_components/test_actuator_exclusive.cpp
Due: ament_cppcheck, ament_cpplint

renamed into test_actuator_exclusive_interfaces
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
  hardware_interface_testing/test/test_components/test_components.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

added a test controller that fails at activation
  controller_manager/CMakeLists.txt
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.cpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.hpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

forgot to run pre-commit
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.cpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.hpp
Due: ament_cppcheck, ament_cpplint

formatting fix
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
Due: ament_cppcheck, ament_cpplint

return the proper const object of the pointer in the const method
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

return the proper const object of the pointer in the const method (#1494)
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

Remove CLI from ros2_control index
  doc/index.rst
Due: none

Adaptions for rosdoc2
  .pre-commit-config.yaml
  transmission_interface/Doxyfile
  transmission_interface/doc/conf.py
  transmission_interface/include/transmission_interface/differential_transmission.hpp
Due: ament_cppcheck, ament_cpplint

Add custom landing page
  transmission_interface/doc/index.rst
Due: none

First draft of joint kinematics section
  doc/index.rst
  hardware_interface/doc/joints_userdoc.rst
Due: none

Extend the docs
  hardware_interface/doc/joints_userdoc.rst
Due: none

Add missing calculate_dynamics
  hardware_interface/doc/mock_components_userdoc.rst
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
