Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Add more parameter overriding tests by parsing multiple parameter files (#1899)
  controller_manager/CMakeLists.txt
  controller_manager/test/test_controller_overriding_parameters.yaml
  controller_manager/test/test_controller_spawner_with_type.yaml
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

add first integration of pal_statistics
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/introspection.hpp
  hardware_interface/package.xml
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

namespace the introspection_data to the controller_manager node naming
  hardware_interface/include/hardware_interface/introspection.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

remove execution time introspection
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add integration into the controller and hardware components base classes and add helper macros
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/introspection.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

handle cases when the value_ptr_ is invalid
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Check if a valid time is received
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: ament_copyright

Use time argument instead
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add suggestions from code review
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_copyright

Apply suggestions from code review
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "Apply suggestions from code review"
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve log output
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Return proper warnings and use controller_period if necessary
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Simplify logic
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Rename the variable `ok` to `successful` and add documentation
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use throttled output
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[Diagnostics] Add diagnostics of execution time and periodicity of the controllers and controller_manager (#1871)
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/CMakeLists.txt
  controller_manager/doc/parameters_context.yaml
  controller_manager/doc/userdoc.rst
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

2.45.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

[Spawner] Accept parsing multiple `--param-file` arguments to spawner (#1805)
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/launch_utils.py
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  doc/release_notes.rst
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add logic for 'params_file' to handle both string and string_array (#1898)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the launch_utils regression
  controller_manager/controller_manager/launch_utils.py
Due: ament_copyright

Merge latest diagnostics changes
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

change get_lifecycle_state to get_state
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

adapt the tests for humble
  controller_manager/test/test_controller_spawner_with_basic_controllers.yaml
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add missing install rule
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Add missing )
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix the splitting when not parsed
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Add controller node options args to be able to set controller specific node options arguments
  controller_manager/controller_manager/spawner.py
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use the consexpr for --ros-args
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add deprecation notice to remapping args to the controller manager node
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Added test for the remapped service from the controller using the spawner args
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix missing test_controller dependency to the test_hardware_spawner
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

update the documentaion on spawners
  controller_manager/doc/userdoc.rst
Due: ament_copyright

update release_notes
  doc/release_notes.rst
Due: ament_copyright

Fix the launch_utils regression (#1909)
  controller_manager/controller_manager/launch_utils.py
Due: ament_copyright

Lock memory by default on a realtime system setup (#1896)
  controller_manager/doc/userdoc.rst
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
