Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Add the missing check
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update print list
  .pre-commit-config.yaml
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add a utility method to check if 2 containers have common items or not
  hardware_interface/include/hardware_interface/helpers.hpp
  hardware_interface/test/test_helpers.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

remove commented tests
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Create ControllerPeerInfo and add the dependency
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add logic to have a functional AUTO mode
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove more unused code
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add first complete working version
  controller_manager/include/controller_manager/controller_spec.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

first decent version
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add new `build_controllers_topology_info` method and move common information
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Added more tests for the chaining activation
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add deprecation to old init method
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix exclusive hardware control mode switching on controller failed activation (#1522)
  controller_manager/CMakeLists.txt
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.cpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.hpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.xml
  controller_manager/test/test_release_interfaces.cpp
  hardware_interface_testing/test/test_components/test_components.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Update controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

rename the parameter to allow_controller_activation_with_inactive_hardware
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/types/resource_manager_params.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add deactivate_controllers_on_hardware_return_deactivate parameter
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/types/resource_manager_params.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update controller_manager/src/controller_manager_parameters.yaml
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_copyright

rename the parameter to deactivate_controllers_on_hardware_self_deactivate
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add warn expression for the new parameter
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add release notes
  doc/release_notes.rst
Due: ament_copyright

Fix the condition
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix exclusive hardware control mode switching on controller failed activation (#1522)
  controller_manager/CMakeLists.txt
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.cpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.hpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.xml
  controller_manager/test/test_release_interfaces.cpp
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
  hardware_interface_testing/test/test_components/test_components.xml
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Apply suggestions from code review
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_copyright

Update hardware_interface/src/resource_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

remove the node to fix the shadowing error in clang build
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the skipped cycles of controllers running at different rate (#2557)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[Handle] Use `get_optional` instead of `get_value<double>` (#2061)
  doc/migration.rst
  doc/release_notes.rst
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_handle.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the notes
  controller_manager/doc/userdoc.rst
Due: ament_copyright

remove new line
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Add parameter to allow controllers with inactive hardware components (#2501)
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  doc/release_notes.rst
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/types/resource_manager_params.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Silence -Wdeprecated-declarations of legacy wrappers
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Silence -Wdeprecated-declarations of legacy wrappers (#2585)
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add force and current interfaces to transmissions
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/test/differential_transmission_test.cpp
  transmission_interface/test/simple_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fixed typo in exception message
  transmission_interface/include/transmission_interface/simple_transmission.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Cleanup deprecations
  controller_interface/test/test_force_torque_sensor.cpp
  controller_interface/test/test_gps_sensor.cpp
  controller_interface/test/test_imu_sensor.cpp
  controller_interface/test/test_led_rgb_device.cpp
  controller_interface/test/test_pose_sensor.cpp
  controller_interface/test/test_semantic_component_command_interface.cpp
  controller_interface/test/test_semantic_component_interface.cpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/hardware_component.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/hardware_component.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: ament_copyright

Add constructor with null deleter
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

mark both the constructors explicit
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright
