Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PEP 257
  - repo: https://github.com/FalconSocial/pre-commit-mirrors-pep257
    rev: v0.3.3
    hooks:
    - id: pep257
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

correct build error.
  hardware_interface/include/hardware_interface/resource_manager.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Controller Manager should not crash when trying to start finalized or unconfigured controller (#461) (#524)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

add M_PI macro for windows in test_component_parser.cpp (#502)
  hardware_interface/test/test_component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update ActuatorInterface according to comments.
  hardware_interface/include/hardware_interface/actuator_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Addressing review comments.
  controller_interface/src/controller_interface.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Restrucutre HardwareInterfaces for better code reusability.
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/base_interface.hpp
  hardware_interface/include/hardware_interface/hardware_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/fake_components/generic_system.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_sensor.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add generic controller parameters class for managing controllers.
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/controller_parameters.hpp
  controller_interface/src/controller_parameters.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Correct formatting.
  controller_interface/include/controller_interface/controller_parameters.hpp
  controller_interface/src/controller_parameters.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Methods controlling the lifecycle of controllers all have on_ prefix
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/src/controller_interface.cpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

broke up statements to keep line length < 100
  controller_manager/test/test_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Correct years in license headers.
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

undid messed up line endings
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update controller_manager/src/ros2_control_node.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix foxy build after #524
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Adjust controller_manager state method called on controllers.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update readme with branch/distro info
  README.md
Due: none

correct formating.
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

[ControllerManager] Fix method name upon fetching state of controller(s) (#526)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update README.md
  README.md
Due: none

switched from using Duration::from_nanoseconds to Duration::from_seconds
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

dt is timed instead of using theoretical update_rate
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

update() signature changed to include both time and period
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.hpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update hardware_components_userdoc.rst with more details about galactic+ migration.
  hardware_interface/doc/hardware_components_userdoc.rst
Due: none

Clean up test_load_controller
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

split some lines to be under 100 chars.
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

fix: :bug: Fix for Doxygen link needing to be relative for GitHub pages
  doc/index.rst
Due: none

fix: :bug: Fix for Doxygen link needing to be relative for GitHub pages (#533)
  doc/index.rst
Due: none

Correct formatting.
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add missing packages in the metapackage
  ros2_control/package.xml
Due: none

Update ros2_control/package.xml
  ros2_control/package.xml
Due: none

Add missing packages in the metapackage (#534)
  ros2_control/package.xml
Due: none

Update nomenclature in CM for better code and output understanding (#517)
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

added dt to controller interface and controller manager #438 (#520)
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.hpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Revert flat structure in interfaces for users to implement.
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/hardware_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Correct comment in sensor_interface.
  hardware_interface/include/hardware_interface/sensor_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Comment out unused variables to supress warnings.
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Comment out unused variables to supress warnings. (#539)
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make velocity work.
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Additional changes for velocity ctrl.
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add disabling command propagation option.
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint
