Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Update the documentation of the methods
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update release_notes.rst
  doc/release_notes.rst
Due: ament_copyright

Update doc/release_notes.rst
  doc/release_notes.rst
Due: ament_copyright

Add header to import limits from standard URDF definition (backport #1298)
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limits_urdf.hpp
  joint_limits/package.xml
  joint_limits/test/joint_limits_urdf_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Define include depends
  joint_limits/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Update joint_limits/CMakeLists.txt
  joint_limits/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Add header to import limits from standard URDF definition (backport #1298) (#2125)
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limits_urdf.hpp
  joint_limits/package.xml
  joint_limits/test/joint_limits_urdf_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

[CLI] print update_rate and is_async on verbose
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: ament_copyright

[CLI] print update_rate and is_async on verbose (#2126)
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: ament_copyright

[Doc] Update migration notes for the prefix name update of chainable controllers
  doc/migration.rst
Due: ament_copyright

[Doc] Update migration notes for the prefix name update of chainable controllers (#2129)
  doc/migration.rst
Due: ament_copyright

Fix typo
  README.md
Due: ament_copyright

Update RT kernel options
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Add docker info
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Apply suggestions from code review
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Remove versioning of linux-image-rt
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Remove name from `docker run` snippet
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Remove ros2_control_demos from snippet
  controller_manager/doc/userdoc.rst
Due: ament_copyright

[Docs] Update determinism section (#2131)
  README.md
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Fix the subscriber docs
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Fix `~/robot_description` in docs
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Use ros2_control_cmake
  controller_interface/CMakeLists.txt
  controller_interface/package.xml
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  hardware_interface/CMakeLists.txt
  hardware_interface/package.xml
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/package.xml
  joint_limits/CMakeLists.txt
  joint_limits/package.xml
  transmission_interface/CMakeLists.txt
  transmission_interface/package.xml
Due: ament_lint_cmake, ament_copyright

Update repos files
  ros2_control.jazzy.repos
  ros2_control.rolling.repos
Due: ament_copyright

added new color pngs
  rqt_controller_manager/resource/led_cyan.png
  rqt_controller_manager/resource/led_yellow.png
Due: ament_copyright

updated icons reference in controller_manager.py
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

Remove MIGRATION.md
  MIGRATION.md
  doc/migration.rst
Due: ament_copyright

[Doc] Fix the migration doc for Handle deprecations
  doc/migration.rst
Due: ament_copyright

Move MIGRATION.md to its RST counterpart (#2135)
  MIGRATION.md
  doc/migration.rst
Due: ament_copyright

[Doc] Fix the migration doc for Handle deprecations (#2136)
  doc/migration.rst
Due: ament_copyright

[Fix] Add error handling for missing plugin tags in URDF parsing
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "Revert "Add diagnostics (#1015) #abi-breaking"
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Trigger shutdown transition in destructor (#1979)
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_controller_interface.cpp
  controller_interface/test/test_controller_with_options.cpp
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fixed const assignment to null pointer
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix API break
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_controller_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

updated doc image
  controller_manager/doc/images/rqt_controller_manager.png
Due: ament_copyright

updated image dimension
  controller_manager/doc/images/rqt_controller_manager.png
Due: ament_copyright

reupdated image dimensions
  controller_manager/doc/images/rqt_controller_manager.png
Due: ament_copyright

replaced not loaded with unloaded
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

added led_black png
  rqt_controller_manager/resource/led_black.png
Due: ament_copyright

added logic for black led when unloaded
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
