Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Update includes
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Don't hardcode branch in setting
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: ament_copyright

Use the .hpp headers from realtime_tools package (#1916)
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

4.21.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

update release notes
  doc/release_notes.rst
Due: ament_copyright

update release_notes
  doc/release_notes.rst
Due: ament_copyright

Update CPU affinity parameter to be able to set multiple CPUs (#1915)
  controller_manager/doc/userdoc.rst
  controller_manager/src/ros2_control_node.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

add missing header in controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update debugging docs
  doc/debugging.rst
  doc/images/plotjuggler.png
  doc/images/plotjuggler_select_topics.png
  doc/images/plotjuggler_visualizing_data.png
Due: ament_copyright

Fix -Wc++11-narrowing
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Optimize the valid time check in the update loop
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[CI] Add clang job, setup concurrency, use rt_tools humble branch (#1910)
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-check-docs.yml
  .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-pre-commit.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-check-docs.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-pre-commit.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-check-docs.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-commit.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rosdoc2.yml
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/ros2_control_node.cpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_macros.cpp
  ros2_control.humble.repos
Due: ament_cppcheck, ament_cpplint, ament_copyright

add more documentation about the topics
  doc/debugging.rst
Due: ament_copyright

Optimize the valid time check in the update loop (#1923)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Let sensors also export state interfaces of joints (#1885)
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/package.xml
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

delete the move constructors
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add macro with also enable argument
  hardware_interface/include/hardware_interface/introspection.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

place dependencies alphabetically
  hardware_interface/package.xml
Due: ament_copyright

Update doc/debugging.rst
  doc/debugging.rst
Due: ament_copyright

move the documentation to introspection.rst
  doc/debugging.rst
  doc/index.rst
  doc/introspection.rst
Due: ament_copyright

update docs on the third argument to enable introspection
  doc/introspection.rst
Due: ament_copyright

use clang jobs from christoph
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: ament_copyright

Revert "Add macro with also enable argument"
  doc/introspection.rst
  hardware_interface/include/hardware_interface/introspection.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update doc/introspection.rst
  doc/introspection.rst
Due: ament_copyright

[CI] Add clang job, setup concurrency, use rt_tools humble branch (#1910)
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-check-docs.yml
  .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-pre-commit.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-check-docs.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-pre-commit.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-check-docs.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-commit.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rosdoc2.yml
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_macros.cpp
  ros2_control.humble.repos
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix variable name
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add one more cast
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Propagate read/write rate to the HardwareInfo properly
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Propagate read/write rate to the HardwareInfo properly
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add downstream builds
  .github/workflows/humble-binary-downstream-build.yml
  .github/workflows/jazzy-binary-downstream-build.yml
  .github/workflows/rolling-binary-downstream-build.yml
  ros_controls.humble.repos
  ros_controls.jazzy.repos
  ros_controls.rolling.repos
Due: ament_copyright

Add path filters
  .github/workflows/humble-binary-downstream-build.yml
  .github/workflows/jazzy-binary-downstream-build.yml
  .github/workflows/rolling-binary-downstream-build.yml
Due: ament_copyright

Add upstream workspace file
  .github/workflows/humble-semi-binary-downstream-build.yml
  .github/workflows/jazzy-semi-binary-downstream-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
  ros_controls.humble.repos
  ros_controls.jazzy.repos
  ros_controls.rolling.repos
Due: ament_copyright

Fix path filters
  .github/workflows/humble-semi-binary-downstream-build.yml
  .github/workflows/jazzy-semi-binary-downstream-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
Due: ament_copyright

Add tests checking the HardwareComponentState
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add condition in all the hardware component test plugins
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fixed typo. Added s to state_interfaces_
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fixed typo. Added s to state_interfaces_ (#1930)
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add more tests for valid rw_rate
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright
