Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Rename from DEACTIVATED to DEACTIVATE
  hardware_interface/include/hardware_interface/types/hardware_interface_return_values.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_system.cpp
Due: ament_cppcheck, ament_cpplint

Pass URDF to controllers on init
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_interface/test/test_controller_interface.cpp
  controller_interface/test/test_controller_with_options.cpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
Due: ament_cppcheck, ament_cpplint

fix conflicts
  .github/ISSUE_TEMPLATE/good-first-issue.md
Due: none

add range_sensor.hpp
  controller_interface/include/semantic_components/range_sensor.hpp
Due: ament_cppcheck, ament_cpplint

delete useless semicolon
  controller_interface/include/semantic_components/range_sensor.hpp
Due: ament_cppcheck, ament_cpplint

run pre-commit
  controller_interface/include/semantic_components/range_sensor.hpp
Due: ament_cppcheck, ament_cpplint

Apply suggestions from code review - Denis
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

address pull request review comments
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

[CI] Bump ubuntu version of ament_lint jobs
  .github/workflows/ci-ros-lint.yml
Due: none

[CI] Bump ubuntu version of ament_lint jobs (#1092)
  .github/workflows/ci-ros-lint.yml
Due: none

complete the copyright line
  controller_interface/include/semantic_components/range_sensor.hpp
Due: ament_cppcheck, ament_cpplint

Fix deprecation warning
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add comments explaining the unsigned integer division
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix deprecation warning (#1093)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Update description of view_controller_chains
  ros2controlcli/doc/userdoc.rst
Due: none

Add info where the pdf is saved to
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: none

[CM] Fixes the issue with individual controller's update rate (#1082)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Reformat docstring
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: none

Add info where the pdf is saved to view_controller_chains (#1094)
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

3.17.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Handle hardware errors in Resource Manager (#805)
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

copy unavailable functions from master (#969)
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Handle HW errors on read and write in CM by stopping controllers (#742)
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Resolve conflicts
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix compilation
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Rename naming function
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Make split_pos const
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Make first_occ const
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Update test name
  controller_manager/test/test_controller_manager_with_namespaced_controllers.cpp
Due: ament_cppcheck, ament_cpplint

Simplify test
  controller_manager/test/test_controller_manager_with_namespaced_controllers.cpp
Due: ament_cppcheck, ament_cpplint

Controller sorting and proper execution in a chain (Fixes #853) (#1063)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix to compile.
  controller_manager/CMakeLists.txt
  hardware_interface/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

[CM] Use `robot_description` topic instead of parameter and don't crash on empty URDF 🦿 (#940)
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Adding output to test so they would not fail.
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint
