Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Fix missing libstatistics_collector library (#3669)
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

update migration notes and docs for removed export APIs
  controller_manager/doc/controller_chaining.rst
  doc/migration.rst
  hardware_interface/doc/writing_new_hardware_component.rst
Due: ament_copyright

fix sensor command interface note in hardware component guide
  hardware_interface/doc/writing_new_hardware_component.rst
Due: ament_copyright

fix: preserve Humble controller names with global node remapping
  controller_manager/CMakeLists.txt
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_global_arguments.yaml
  controller_manager/test/test_load_controller.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

restructure migration notes and add export prefix requirement
  doc/migration.rst
Due: ament_copyright

Notify state switch callback after hardware error handling
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

move all ControllerManager related method calls into the class
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/sleeping_policies.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add <numeric> for std::accumulate
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix removed deprecated API
  controller_interface/test/test_force_torque_sensor.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Refine the new implementation of chainable controller
  doc/migration.rst
Due: ament_copyright

Add more clarification of data type in the Handles
  controller_manager/doc/controller_chaining.rst
  doc/migration.rst
Due: ament_copyright

Add some info about override keyword
  doc/migration.rst
Due: ament_copyright

Update migration notes and docs wrt removed export apis (#3674)
  controller_manager/doc/controller_chaining.rst
  doc/migration.rst
  hardware_interface/doc/writing_new_hardware_component.rst
Due: ament_copyright

fix(FTS): shutdown race with interfaces (#3492)
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/test/test_force_torque_sensor.cpp
  controller_interface/test/test_force_torque_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add <numeric> for std::accumulate (#3677)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add test to ignore empty arguments
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remote empty argument literals
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Remove shell=True as it doesn't catch well the SIGINT
  controller_manager/controller_manager/launch_utils.py
Due: ament_copyright

Update controllers with the time argument when using sim time
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
