Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Add --force-discover
  rqt_controller_manager/test/test_run_launch.py
Due: ament_copyright

Use sleeping policies instead of factoring out the complete loop
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/sleeping_policies.hpp
  controller_manager/src/control_loop.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/src/sleeping_policies.cpp
  controller_manager/test/test_ros2_control_node_hardware_sync.cpp
  controller_manager/test/test_sleeping_policies.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Revert changes to test infrastructure
  hardware_interface_testing/test/test_components/test_system.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

resolve merge conflicts in jazzy backport of #2775
  controller_manager/src/controller_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

resolve leftover conflict markers in helpers.hpp docstring
  controller_interface/include/controller_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

document Ubuntu realtime kernel on Raspberry Pi
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Fix copilot suggestion: remove s in 'returns'
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix copilot suggestions for grammer errors.
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

document Ubuntu realtime kernel on Raspberry Pi (#3397)
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Potential fix for pull request finding
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Refactor JointSaturationLimiter to use cached vectors for desired and expected states
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests to reproduce the sigterm behavior
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add fix to deactivate and unload the controllers on SIGTERM
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Add clamp_joint_limits and handle_braking_near_position_limit methods to JointSaturationLimiter
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Refactor clamp_joint_limits method to improve readability and structure by reorganizing conditional checks for desired position, velocity, and acceleration
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix inaccurate docstring for JointLimiterInterface::init overload
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix: update docstring for JointLimiterInterface::init overload to include soft_joint_limits
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Enhance documentation for clamp_joint_limits and handle_braking_near_position_limit methods with detailed step-by-step explanations
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add jerk limits support to JointSaturationLimiter with corresponding state tracking
  joint_limits/include/joint_limits/data_structures.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix typos in test names and update expected results for JointSaturationLimiter tests
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

pre commit fix
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests for jerk limit enforcement in JointSaturationLimiter
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix: unify docstring format in joint_limiter_interface
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

docs: update docstring format in joint_limiter_interface
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fixed docstring of joint_limits
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fixed the .yaml path
  controller_manager/test/test_launch_utils/CMakeLists.txt
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
Due: ament_lint_cmake, ament_copyright

Fix the yaml path again
  controller_manager/test/test_launch_utils/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Fix yaml path x3.
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
Due: ament_copyright

Clarify Comment as per review
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Clarify Comment as per review
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Refactor parameter passing for current_joint_velocities to use const reference in JointSaturationLimiter methods
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add warning for implicit velocity violations and re-clamp velocity after acceleration limiting in JointSaturationLimiter
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add test for velocity re-clamping when acceleration limits are exceeded
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

test added for pos and acc when jerk exceeds
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve docstring of joint_limits for consistency (#3391)
  joint_limits/include/joint_limits/data_structures.hpp
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/include/joint_limits/joint_limits_urdf.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/include/joint_limits/joint_soft_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve docstring of the semantic_components for consistency (#3338)
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/include/semantic_components/gps_sensor.hpp
  controller_interface/include/semantic_components/imu_sensor.hpp
  controller_interface/include/semantic_components/led_rgb_device.hpp
  controller_interface/include/semantic_components/magnetic_field_sensor.hpp
  controller_interface/include/semantic_components/pose_sensor.hpp
  controller_interface/include/semantic_components/range_sensor.hpp
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
  controller_interface/include/semantic_components/semantic_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
