Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

__ -> _ load_urdf() -> load_and_initialize_components()
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added functionality and tests for getting robot description from the topic.
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Fixed compilation and tests.
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface_testing/test/test_resource_manager.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add documentation about initial_value regarding mock_hw
  hardware_interface/doc/hardware_interface_types_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
Due: none

Fix version
  hardware_interface_testing/package.xml
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

4.4.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

A method to get node options to setup the controller node #api-breaking (#1169)
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_interface/test/test_controller_interface.cpp
  controller_interface/test/test_controller_node_options.yaml
  controller_interface/test/test_controller_with_options.cpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

remove unused joint_limits_interface package
  joint_limits_interface/CMakeLists.txt
  joint_limits_interface/COLCON_IGNORE
  joint_limits_interface/README.md
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface_exception.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_urdf.hpp
  joint_limits_interface/mainpage.dox
  joint_limits_interface/package.xml
  joint_limits_interface/test/joint_limits_urdf_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Adjust version
  hardware_interface_testing/package.xml
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

3.23.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

remove unused joint_limits_interface package (#1353)
  joint_limits_interface/CMakeLists.txt
  joint_limits_interface/COLCON_IGNORE
  joint_limits_interface/README.md
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface_exception.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_urdf.hpp
  joint_limits_interface/mainpage.dox
  joint_limits_interface/package.xml
  joint_limits_interface/test/joint_limits_urdf_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Source underlay with generate_parameter_library
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Fix ref for scheduled pipelines
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/iron-debian-build.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Don't throw exception if something goes wrong with loading and initialization of the hardware components.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Make sure that we can send new robot description over topic is the first one fails.
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix ref for scheduled pipelines (also for rolling)
  .github/workflows/rolling-debian-build.yml
Due: none

Clarify initial_value scope w.r.t mock_components and gazebo
  hardware_interface/doc/hardware_interface_types_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
Due: none

Add some additional tests.
  hardware_interface_testing/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Correct false assumption.
  hardware_interface/README.md
Due: none

[Doc] Add documentation about initial_value regarding mock_hw (#1352)
  hardware_interface/doc/hardware_interface_types_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
Due: none

Remove support for getting robot description from the parameter in CM.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Optimized debug output in CM about interfaces when switching controllers.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix conflict resolution error.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[CM] Use explicit constants in controller tests.
  controller_manager/test/test_load_controller.cpp
Due: ament_cppcheck, ament_cpplint

Remove deprecated parameters and warning about getting robot descritpion from parameter.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Remove old parameter from tests.
  controller_manager/test/test_hardware_management_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Added functionality and tests for getting robot description from the topic.
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Fix tests.
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Add small behavior fixes.
  controller_manager/src/controller_manager.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Revert changes on RM tests.
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Update controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[CM] Optimized debug output about interfaces when switching controllers. (#1355)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[CM] Use explicit constants in controller tests. (#1356)
  controller_manager/test/test_load_controller.cpp
Due: ament_cppcheck, ament_cpplint

Revert unintended change.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

remove workflow dispatch branch
  .github/workflows/humble-binary-build-main.yml
  .github/workflows/humble-binary-build-testing.yml
  .github/workflows/humble-semi-binary-build-main.yml
  .github/workflows/humble-semi-binary-build-testing.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/iron-binary-build-main.yml
  .github/workflows/iron-binary-build-testing.yml
  .github/workflows/iron-semi-binary-build-main.yml
  .github/workflows/iron-semi-binary-build-testing.yml
  .github/workflows/iron-source-build.yml
  .github/workflows/rolling-binary-build-main.yml
  .github/workflows/rolling-semi-binary-build-testing.yml
  .github/workflows/rolling-source-build.yml
Due: none

check for state of the controller node before cleanup
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
