Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Increase timeout of test_spawner_unspawner
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Increase timeout of test_spawner_unspawner (#3381)
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Wait to terminate test until spawner exits (#3373)
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_copyright

Rename parameter to expect_blocking_read_write
  controller_manager/doc/userdoc.rst
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests for blocking hardware
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/control_loop.hpp
  controller_manager/package.xml
  controller_manager/src/control_loop.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/test_ros2_control_node_hardware_sync.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

fix typo in 'synchronized' documentation
  hardware_interface/doc/asynchronous_components.rst
Due: ament_copyright

fix typo in 'synchronized' documentation (#3388)
  hardware_interface/doc/asynchronous_components.rst
Due: ament_copyright

Fix typo: replace "then" by "than"
  controller_interface/include/semantic_components/force_torque_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix typo: replace then by than. Replace vector by array in docstring.
  controller_interface/include/semantic_components/force_torque_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Replace 'a' by 'an'
  controller_interface/include/semantic_components/led_rgb_device.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Replace @return by @param[out] in get_values_as_message
  controller_interface/include/semantic_components/magnetic_field_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Change // attribute description by @brief
  controller_interface/include/semantic_components/magnetic_field_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Replace @returns by @param[out] in get_values_as_message
  controller_interface/include/semantic_components/force_torque_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Replace @returns by @param[out] in get_values_as_message
  controller_interface/include/semantic_components/imu_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Replace @returns by @param[out] in get_values_as_message
  controller_interface/include/semantic_components/pose_sensor.hpp
  controller_interface/include/semantic_components/range_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove @default keyword
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove @default; Add 'for the'; Fix error in comments.
  controller_interface/include/semantic_components/semantic_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Replace @returns by @param[out] in get_values_as_message
  controller_interface/include/semantic_components/gps_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix error in indexing starting for interfaces.
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Rollback from 1 to 0 for interface indexing start.
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
  controller_interface/include/semantic_components/semantic_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix trailing whitespace.
  controller_interface/include/semantic_components/pose_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Run pre-commit to fix linting errors.
  controller_interface/include/semantic_components/gps_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve docstring of the semantic_components for consistency (#3338)
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/include/semantic_components/gps_sensor.hpp
  controller_interface/include/semantic_components/imu_sensor.hpp
  controller_interface/include/semantic_components/led_rgb_device.hpp
  controller_interface/include/semantic_components/magnetic_field_sensor.hpp
  controller_interface/include/semantic_components/pose_sensor.hpp
  controller_interface/include/semantic_components/range_sensor.hpp
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
  controller_interface/include/semantic_components/semantic_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update joint_limiter_interface and joint_limits_helper docstrings: replace \ by @ and initialize brief sentences with a verb.
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update joint_limits_rosparam docstrings: replace \ by @ and initialize brief sentences with a verb. Also, replace typo in param.
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update joint_limits_urdf docstrings: replace \ by @.
  joint_limits/include/joint_limits/joint_limits_urdf.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update joint_saturation_limiter, joint_soft_limiter: replace \ by @. start brief with a verb. replace to @author.
  joint_limits/include/joint_limits/data_structures.hpp
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/include/joint_limits/joint_limits_urdf.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/include/joint_limits/joint_soft_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Run linter.
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Document realtime-safe methods
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Controller Manager recovery from invalid URDF errors (#2775)
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  controller_manager/test/test_controller_manager_with_namespace.cpp
  controller_manager/test/test_controller_manager_with_resource_manager.cpp
  controller_manager/test/test_controller_manager_with_resource_manager.hpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_hardware_spawner.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/src/resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

resolve merge conflict in controller manager constructor
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

rqt_cm: Fix shutdown races
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

Remove dual mentioning
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove dual mentioning
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
