Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

Check if the parsed functions are valid or not in the init method
  controller_interface/include/controller_interface/async_function_handler.hpp
Due: ament_cppcheck, ament_cpplint

use atomic_bool
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint

update the docs
  controller_interface/include/controller_interface/async_function_handler.hpp
Due: ament_cppcheck, ament_cpplint

Add Test
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Update release_notes.rst
  doc/release_notes.rst
Due: none

better combined desired references test
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Add tests for the desired jerk test cases
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Use lambdas for better testing
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

update the joint state limiter to use template typename in the header file
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint

Fix minor bug in the limit enforcement
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

make JointTrajectoryPoint as an input through the template argument
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/joint_limiters.xml
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint

update the joint range limiter test with case of only desired position availability case
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_range_limiter.hpp
Due: ament_cppcheck, ament_cpplint

added joint range limiter library for individual joints control
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limiter_struct.hpp
  joint_limits/include/joint_limits/joint_range_limiter.hpp
  joint_limits/joint_limiters.xml
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add tests for the case of actuators with actual position state and acceleration limits
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Format changes
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/soft_joint_limiter.cpp
  joint_limits/test/test_joint_limiter.hpp
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Export JointInterfacesSoftLimiter in the joint_limiters.xml
  joint_limits/joint_limiters.xml
Due: none

Implement SoftJointLimiter class
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/soft_joint_limiter.hpp
  joint_limits/src/soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

extend tests of acceleration limits also with and without actual position value
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Added methods to check is the parameter and logging interfaces are set or not
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint

added compute_effort_limits method
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Add some documentation to the helpers
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
Due: ament_cppcheck, ament_cpplint

Fix the undefined behavior when lower bound is greater than upper bound
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

add test cases of the actual and desired position cases
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

update the loguic to check if the actual position is within bounds and it's tolerance
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Fix linking problem in test_joint_range_limiter
  joint_limits/CMakeLists.txt
Due: ament_lint_cmake

enable moving out of position limit if velocity is in "right" direction
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Test SofJointLimiter in position
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Add first version of tests into the joint range limiter
  joint_limits/CMakeLists.txt
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_range_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

fix the init check bug
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Test uses cases for SoftJointLimiter in velocity interface
  joint_limits/src/soft_joint_limiter.cpp
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Rm soft_joint_limiter.hpp
  joint_limits/include/joint_limits/soft_joint_limiter.hpp
Due: ament_cppcheck, ament_cpplint

add pre-comitting fixes
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/test/test_joint_limiter.hpp
Due: ament_cppcheck, ament_cpplint

check the size of the joint limits and the joint names in the init method
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint

Add tests for the case of no position limits
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

rename the plugin names to be more consistent with the types the use internally
  joint_limits/joint_limiters.xml
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint

remove the joint range limiter header and reuse it from the joint saturation limiter + merge them into a single library
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_range_limiter.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/joint_limiters.xml
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

remove unused test cases
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Add intermediate tests to fix the transition bug
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Move joint limits computation in a separate library
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Added comments to the has_logging_interface and has_parameter_interface methods
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
