Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

4.29.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Supress deprecations in the hardware_interface package
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_handle.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_hardware_components/test_imu_sensor.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use ignored bool from remove_element method
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update the get_value API in loaned interfaces
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

do not ignore the return value from the `set_value` methods
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix tests
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add new strictness modes to SwitchController service
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/srv/SwitchController.srv
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix precommit
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  joint_limits/include/joint_limits/data_structures.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/src/joint_limits_helpers.cpp
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix the fmt dependency
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/src/chainable_controller_interface.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/resource_manager.cpp
  joint_limits/CMakeLists.txt
  transmission_interface/CMakeLists.txt
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Change the transmission Handle to disable deprecation warnings
  transmission_interface/include/transmission_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

deprecate using handle
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Reset release and migration notes
  doc/migration.rst
  doc/release_notes.rst
Due: ament_copyright

Change to AUTO and AUTO_FORCE
  controller_manager_msgs/srv/SwitchController.srv
Due: ament_copyright

Update the documentation
  controller_manager_msgs/srv/SwitchController.srv
Due: ament_copyright

update the code
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Branch for Jazzy and add Kilted Kaiju (#2197)
  .github/dependabot.yml
  .github/mergify.yml
  .github/workflows/README.md
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-check-docs.yml
  .github/workflows/jazzy-coverage-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-pre-commit.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/jazzy-semi-binary-downstream-build.yml
  .github/workflows/jazzy-source-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-compatibility-kilted-binary-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-commit.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
  .github/workflows/rolling-source-build.yml
  README.md
  doc/migration.rst
  doc/release_notes.rst
  ros2_control-not-released.kilted.repos
  ros2_control.kilted.repos
  ros_controls.kilted.repos
Due: ament_copyright

Revert "Branch for Jazzy and add Kilted Kaiju (#2197) (#2228)"
  .github/dependabot.yml
  .github/mergify.yml
  .github/workflows/README.md
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-check-docs.yml
  .github/workflows/jazzy-coverage-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-pre-commit.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/jazzy-semi-binary-downstream-build.yml
  .github/workflows/jazzy-source-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-compatibility-kilted-binary-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-commit.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
  .github/workflows/rolling-source-build.yml
  README.md
  doc/migration.rst
  doc/release_notes.rst
  ros2_control-not-released.kilted.repos
  ros2_control.kilted.repos
  ros_controls.jazzy.repos
  ros_controls.kilted.repos
Due: ament_copyright

Branch for Jazzy and add Kilted Kaiju (#2197) (#2228)
  .github/dependabot.yml
  .github/mergify.yml
  .github/workflows/README.md
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-check-docs.yml
  .github/workflows/jazzy-coverage-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-pre-commit.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/jazzy-semi-binary-downstream-build.yml
  .github/workflows/jazzy-source-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-compatibility-kilted-binary-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-commit.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
  .github/workflows/rolling-source-build.yml
  README.md
  doc/migration.rst
  doc/release_notes.rst
  ros2_control-not-released.kilted.repos
  ros2_control.kilted.repos
  ros_controls.kilted.repos
Due: ament_copyright

Branch for Jazzy and add Kilted Kaiju (#2197)
  .github/dependabot.yml
  .github/mergify.yml
  .github/workflows/README.md
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-check-docs.yml
  .github/workflows/jazzy-coverage-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-pre-commit.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/jazzy-semi-binary-downstream-build.yml
  .github/workflows/jazzy-source-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-compatibility-kilted-binary-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-commit.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
  .github/workflows/rolling-source-build.yml
  README.md
  ros2_control-not-released.kilted.repos
  ros2_control.kilted.repos
  ros_controls.kilted.repos
Due: ament_copyright

Update doc/migration.rst
  doc/migration.rst
Due: ament_copyright

Revert changes to docs on jazzy branch (#2229)
  doc/migration.rst
  doc/release_notes.rst
Due: ament_copyright

AUTO_FORCE -> FORCE_AUTO
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/srv/SwitchController.srv
Due: ament_cppcheck, ament_cpplint, ament_copyright

reformat
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Delete .vscode/settings.json
  .vscode/settings.json
Due: ament_copyright

Allow hardware to return FAILURE or ERROR in on_configure
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add new strictness modes to SwitchController service (#2224)
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/srv/SwitchController.srv
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add `data_type` field to the HardwareInterfaces message (#2204)
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/msg/HardwareInterface.msg
  doc/release_notes.rst
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
  ros2controlcli/ros2controlcli/verb/list_hardware_interfaces.py
Due: ament_cppcheck, ament_cpplint, ament_copyright

[CM] Set default strictness of switch_controllers using parameters (#2168)
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  doc/release_notes.rst
  ros2controlcli/ros2controlcli/verb/switch_controllers.py
Due: ament_cppcheck, ament_cpplint, ament_copyright

add shutdown_on_initial_state_failure parameter
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix conflicts
  doc/release_notes.rst
Due: ament_copyright

Cleanup docs
  doc/release_notes.rst
Due: ament_copyright

default to false
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_copyright

Read `data_type` for all types of interfaces
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Change to RCLCPP_ERROR from RCLCPP_ERROR_STREAM
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update parameter description
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
