Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Fix doc of load_controller
  ros2controlcli/doc/userdoc.rst
Due: none

Fix doc of load_controller (#1135)
  ros2controlcli/doc/userdoc.rst
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.33.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Fixing Conflicts
  controller_manager/doc/controller_chaining.rst
Due: none

Simplyfy deactivation to avoid unneccessary execution of the code in RT loop.
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

[ResourceManager] deactivate hardware from read/write return value (#884)
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/types/hardware_interface_return_values.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/test_hardware_interface_constants.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Update spawner to accept controllers list and start them in sequence
  controller_manager/controller_manager/spawner.py
Due: none

added support for multiple controller unspawning
  controller_manager/controller_manager/unspawner.py
Due: none

added tests for multiple controller spawning and unspawning
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

store the robot_description in the controller_manager class variable
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

added minimal test to verify the update of robot description in controllers
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

fix code formatting
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
Due: ament_cppcheck, ament_cpplint

added test with loading and unloading the controller
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

check that the controller update rate is real
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

added the actual controller update period computation
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

added option to activate all the controller list
  controller_manager/controller_manager/spawner.py
Due: none

added test for --activate-as-group option
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

added changes as per bence's review comments
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

added get_robot_description method to the base class
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Try using sched_fifo on any kernel
  controller_manager/doc/userdoc.rst
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint

reformat
  controller_interface/include/controller_interface/async_controller.hpp
Due: ament_cppcheck, ament_cpplint

Code formatting
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint

fix the order of loading the parameters in the spawner
  controller_manager/controller_manager/spawner.py
Due: none

Fix coverage build and exclude test folders
  .github/workflows/ci-coverage-build.yml
  codecov.yml
Due: none

Add codecov badge
  README.md
Due: none

Remove ignored package
  .github/workflows/ci-coverage-build.yml
  codecov.yml
Due: none

Update spawner to accept controllers list and start them in sequence (#1139)
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

fix spawner conflicts
  controller_manager/controller_manager/spawner.py
Due: none

fix spawner conflicts - contd
  controller_manager/controller_manager/spawner.py
Due: none

fix unspawner conflicts
  controller_manager/controller_manager/unspawner.py
Due: none

fix missing imports
  controller_manager/controller_manager/spawner.py
Due: none

3.20.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Fix unstable limiter because velocity is caculated from position when position limit it not used.
  joint_limits/src/simple_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Enable dynamic update of limits from parameters.
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/package.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Make acceleration more stable in limiter.
  joint_limits/src/simple_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
