Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

fix(FTS): shutdown race with interfaces
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/test/test_force_torque_sensor.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add FRIEND_TEST for new test
  controller_interface/test/test_force_torque_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Move the docs check to its own file again
  .github/workflows/rolling-check-docs.yml
  .github/workflows/rolling-pr-gated-ci.yml
Due: ament_copyright

Gate the downstream jobs
  .github/workflows/rolling-pr-gated-ci.yml
Due: ament_copyright

Simplify layout
  .github/workflows/rolling-pr-gated-ci.yml
Due: ament_copyright

Simplify gating
  .github/workflows/rolling-pr-gated-ci.yml
Due: ament_copyright

Only skip downstream jobs if build already fails
  .github/workflows/rolling-pr-gated-ci.yml
Due: ament_copyright

Resolve/pr 3394 jazzy conflict (#3493)
  .github/workflows/rolling-binary-build.yml
  controller_manager/CMakeLists.txt
  controller_manager/doc/userdoc.rst
  controller_manager/include/controller_manager/sleeping_policies.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager_parameters.yaml
  controller_manager/src/ros2_control_node.cpp
  controller_manager/src/sleeping_policies.cpp
  controller_manager/test/test_sleeping_policies.cpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  rqt_controller_manager/package.xml
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
  rqt_controller_manager/test/test_run_launch.py
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Move resource manager test target away from jazzy conflict
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Move resource manager test target away from jazzy conflict (#3494)
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Use master branch of ci repo again
  .github/workflows/rolling-pr-gated-ci.yml
Due: ament_copyright

Create node right after lock acquisition instead of before
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

docs: fix spelling error in clocks page
  controller_manager/doc/clocks.rst
Due: ament_copyright

docs: fixed indentation and extra space error
  controller_manager/doc/userdoc.rst
Due: ament_copyright

docs: remove .rst extensions from toctree directives
  controller_manager/doc/async_updates.rst
  doc/index.rst
  hardware_interface/doc/hardware_components_userdoc.rst
Due: ament_copyright

docs: fix mismatched section underlines and indentation blocks
  controller_manager/doc/userdoc.rst
  ros2controlcli/doc/userdoc.rst
Due: ament_copyright

docs: fix heading hierarchy
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Add cmath
  controller_manager/test/test_advanced_spawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add cmath for windows build (#3496)
  controller_manager/test/test_advanced_spawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Further restructure TOC
  controller_manager/doc/async_updates.rst
  doc/concepts.rst
  doc/guidelines_and_best_practices.rst
  doc/index.rst
  hardware_interface/doc/handling_errors_during_read_write.rst
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/lifecycle_of_a_hardware_component.rst
Due: ament_copyright

docs: merge monitoring_and_tuning into introspection
  doc/guidelines_and_best_practices.rst
  doc/introspection.rst
  doc/monitoring_and_tuning.rst
Due: ament_copyright

todo added
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

const removed for bool primitive
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix(controller_manager): forward controller params as NodeOptions overrides
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix(controller_manager): forward controller params as NodeOptions overrides
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

declare async parameters via AsyncFunctionHandlerParams
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Create spawner logger before lock-result is logged (#3462)
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Document realtime-safe methods (#3392)
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix merge conflicts
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Apply suggestions from code review
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
Due: ament_copyright

Simplify controller parameters in tests and fix spawner argument
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
Due: ament_copyright

Remove import os
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
Due: ament_copyright

Fix argument types
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
  controller_manager/test/test_launch_utils/test_launch_utils_unit.py
Due: ament_copyright

Remove ineffective tests
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
Due: ament_copyright

Remove leftover
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
Due: ament_copyright

Cleanup AMENT_PREFIX_PATH (copilot suggestion)
  controller_manager/test/test_launch_utils/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
