Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

Remove noqa (#1626)
  controller_manager/controller_manager/launch_utils.py
Due: none

[ControllerInterface] Avoid warning about conversion from `int64_t` to `unsigned int` (#1173)
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

Fix merge conflict
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

Fix link syntax
  doc/debugging.rst
Due: none

Update index.rst
  doc/index.rst
Due: none

Apply suggestions from code review
  doc/debugging.rst
Due: none

Update debugging.rst
  doc/debugging.rst
Due: none

Remove superfluous `
  doc/debugging.rst
Due: none

Create debugging.rst
  doc/debugging.rst
Due: none

Update doc/debugging.rst
  doc/debugging.rst
Due: none

Fix trailing whitespace
  doc/debugging.rst
Due: none

Added gdb cli tutorial link
  doc/debugging.rst
Due: none

Create debugging.rst (#1625)
  doc/debugging.rst
  doc/index.rst
Due: none

add missing rclcpp logging include for Humble compatibility build
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add a pytest launch file to test ros2_control_node
  controller_manager/CMakeLists.txt
  controller_manager/test/cm.launch.py
  controller_manager/test/test_ros2_control_node.yaml
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_lint_cmake

Add ament_cmake_pytest dependency
  controller_manager/package.xml
Due: none

Deactivate post_shutdown_test
  controller_manager/test/test_ros2_control_node_launch.py
Due: none

Try to make test fail
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint

Revert "Try to make test fail"
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint

Update pytest marker
  controller_manager/test/test_ros2_control_node_launch.py
Due: none

Deactivate tests temporarily
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Test test_exit_codes once again
  controller_manager/test/test_ros2_control_node_launch.py
Due: none

Revert "Deactivate tests temporarily"
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Update controller_manager/test/cm.launch.py
  controller_manager/test/cm.launch.py
Due: none

Remove separate test launch file
  controller_manager/CMakeLists.txt
  controller_manager/test/cm.launch.py
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_lint_cmake

refactor SwitchParams to fix the incosistencies running at higher frequencies
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add try to lock mutex and print to not to obsruct RT thread
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

4.14.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

2.42.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

add missing rclcpp logging include for Humble compatibility build (#1635)
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
