Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PEP 257
  - repo: https://github.com/FalconSocial/pre-commit-mirrors-pep257
    rev: v0.3.3
    hooks:
    - id: pep257
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Flag if a hint should be printed
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.2.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Add a warning if an initial_value is not found for any interface (#623)
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add one working test case for simple transmission loader
  transmission_interface/CMakeLists.txt
  transmission_interface/package.xml
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Add simple transmission loader (in progress)
  transmission_interface/CMakeLists.txt
  transmission_interface/include/transmission_interface/simple_transmission_loader.hpp
  transmission_interface/include/transmission_interface/transmission_interface_exception.h
  transmission_interface/include/transmission_interface/transmission_loader.hpp
  transmission_interface/include/transmission_interface/transmission_parser.hpp
  transmission_interface/package.xml
  transmission_interface/ros2_control_plugins.xml
  transmission_interface/src/simple_transmission_loader.cpp
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Extend FakeHardware to support <gpio>-tag (#574)
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Adding support for 'initial_value' parameter. (#593)
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix the bug in the test. All tests are passed.
  controller_manager/test/test_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Apply suggestions from code review
  controller_manager/test/test_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Resolve unused parameter warnings
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix the a bug to make the review suggestion work.
  controller_manager/test/test_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Check if ABI check is working prperly.
  .github/workflows/abi_compatibility.yml
Due: none

Resolve unused parameter warnings (#636)
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update abi_compatibility.yml
  .github/workflows/abi_compatibility.yml
Due: none

Add BEST_EFFORT in the controller switch tests. (#582)
  controller_manager/test/test_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Implement CM services for hardware lifecycle management.
  controller_manager/CMakeLists.txt
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Add the other two test cases
  .pre-commit-config.yaml
  transmission_interface/CMakeLists.txt
  transmission_interface/include/transmission_interface/transmission_interface_exception.h
  transmission_interface/include/transmission_interface/transmission_interface_exception.hpp
  transmission_interface/include/transmission_interface/transmission_loader.hpp
  transmission_interface/include/transmission_interface/transmission_parser.hpp
  transmission_interface/package.xml
  transmission_interface/ros2_control_plugins.xml
  transmission_interface/src/simple_transmission_loader.cpp
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Make pre-commit happy + copyright changes
  transmission_interface/CMakeLists.txt
  transmission_interface/include/transmission_interface/simple_transmission_loader.hpp
  transmission_interface/include/transmission_interface/transmission_interface_exception.hpp
  transmission_interface/include/transmission_interface/transmission_loader.hpp
  transmission_interface/include/transmission_interface/transmission_parser.hpp
  transmission_interface/src/simple_transmission_loader.cpp
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Enable tests because those should be ABI incomaptible.
  .github/workflows/abi_compatibility.yml
Due: none

Fix tests that should not use movement-interfaces-logic.
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Added default behavior to activate all controller and added description of CM parameters.
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix formatting.
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix long comemnt.
  controller_manager/test/test_hardware_management_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make pre-commit happy
  .pre-commit-config.yaml
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove tinyxml.h from transmission_loader headers
  transmission_interface/include/transmission_interface/transmission_loader.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update transmission_interface/include/transmission_interface/simple_transmission_loader.hpp
  transmission_interface/include/transmission_interface/simple_transmission_loader.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update transmission_interface/include/transmission_interface/transmission_loader.hpp
  transmission_interface/include/transmission_interface/transmission_loader.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update transmission_interface/src/simple_transmission_loader.cpp
  transmission_interface/src/simple_transmission_loader.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update transmission_interface/package.xml
  transmission_interface/package.xml
Due: none

std::cerr + remove spaces from CMakeLists.txt
  transmission_interface/CMakeLists.txt
  transmission_interface/include/transmission_interface/transmission_loader.hpp
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

one last space to go
  transmission_interface/CMakeLists.txt
Due: ament_lint_cmake

Fun with mergify! 🐒
  .github/mergify.yml
Due: none

Pre-allocate rclcpp::Time's
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Use team with mergify and create additional rule for maintainers.
  .github/mergify.yml
Due: none
