Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

Fix formatting.
  controller_manager/controller_manager/hardware_spawner.py
Due: none

Make list controller and list hardware components immediately visualize the state. (#1606)
  controller_manager/controller_manager/spawner.py
  ros2controlcli/ros2controlcli/verb/list_controllers.py
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
Due: none

Add debug output
  .github/workflows/humble-coverage-build.yml
Due: none

rework handles to prepare for variant support
  hardware_interface/include/hardware_interface/handle.hpp
  transmission_interface/include/transmission_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint

Handle waiting in Spawner and align Hardware Spawner functionality (#1562)
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

move get_parameter_from_param_file to the __init__ for reuse
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/spawner.py
Due: none

moved the get_parameter_from_param_file to the cm_services
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
Due: none

remove the fallback controller option to use it from yaml
  controller_manager/controller_manager/spawner.py
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Update controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/controller_manager_services.py
Due: none

move bcolors class to be reusable
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/controller_manager/spawner.py
  ros2controlcli/ros2controlcli/verb/list_controllers.py
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
  ros2controlcli/ros2controlcli/verb/list_hardware_interfaces.py
Due: none

Add `set_controller_parameters` method to be able to reuse
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Make the parameter_value string in the set_controller_parameters method
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Simplify the logic in the spawner code
  controller_manager/controller_manager/spawner.py
Due: none

added set_controller_parameters_from_param_file to reuse in CLI later
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
Due: none

Update hardware_spawner.py
  controller_manager/controller_manager/hardware_spawner.py
Due: none

Update spawner.py
  controller_manager/controller_manager/spawner.py
Due: none

Update userdoc.rst
  controller_manager/doc/userdoc.rst
Due: none

Update controller_manager_services.py
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Add call_timeout parameter to service_caller
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Add documentation to service_caller parameters
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Make base_joint a revolute joint
  ros2_control_test_assets/urdf/test_description_mock.urdf
Due: none

Add a pytest launch file to test ros2_control_node (#1636)
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_ros2_control_node.yaml
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_lint_cmake

[CI] Add coveragepy and remove ignore: test (#1668)
  codecov.yml
  controller_manager/package.xml
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Update .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-coverage-build.yml
Due: none

Use attempt counting with starting from 1
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Add test_dependency on launch_testing_ament_cmake
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
Due: ament_lint_cmake

Fix typo
  .github/workflows/humble-coverage-build.yml
Due: none

Correct error message on failed service call
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Add more test dependencies
  controller_manager/package.xml
Due: none

Add used controllers to test dependencies
  controller_manager/package.xml
Due: none

Do not depend on other controllers
  controller_manager/package.xml
  controller_manager/test/test_controllers.yaml
Due: none

Reduce installation scope
  controller_manager/CMakeLists.txt
  controller_manager/test/test_spawner_integration.py
Due: ament_lint_cmake

Fix test_ros2_control_node.yaml
  controller_manager/test/test_ros2_control_node.yaml
Due: none

Use gtest instead of launch_testing for integration test
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_controllers.yaml
  controller_manager/test/test_spawner_integration.py
  controller_manager/test/test_spawner_unspawner.cpp
  ros2_control_test_assets/CMakeLists.txt
  ros2_control_test_assets/urdf/test_description_mock.urdf
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

remove limits, use alias declaration
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint

Revert sorting package.xml
  controller_manager/package.xml
Due: none

Revert fixing yaml
  controller_manager/test/test_ros2_control_node.yaml
Due: none

let's try an include cleanup
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
