Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

4.8.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

check for state of the controller node before cleanup (#1363)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Fix merge conflicts
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Remove migration notes from ros2_control page
  doc/index.rst
  doc/migration/Iron.rst
Due: none

Remove test applicable only to rolling
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Component parser: Get mimic information from URDF (#1256)
  controller_manager/doc/userdoc.rst
  doc/migration/Foxy.rst
  doc/migration/Iron.rst
  hardware_interface/CMakeLists.txt
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/hardware_interface_types_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/package.xml
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_components.xml
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
  transmission_interface/CMakeLists.txt
  transmission_interface/package.xml
  transmission_interface/test/differential_transmission_loader_test.cpp
  transmission_interface/test/four_bar_linkage_transmission_loader_test.cpp
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

[CLI] Add `set_hardware_component_state` verb (#1248)
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/api/__init__.py
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
  ros2controlcli/ros2controlcli/verb/set_hardware_component_state.py
  ros2controlcli/setup.py
Due: none

Fix typo when merging master.
  controller_manager/test/test_controller_manager_urdf_passing.cpp
Due: ament_cppcheck, ament_cpplint

Prepara RM for overriding.
  controller_manager/include/controller_manager/controller_manager.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Change how update rate is passed to RM so that we always work with correct parameter.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add joint_limits dependency and add limits map to the HardwareInfo struct
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/package.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Retrieve limits from the URDF as well as ros2_control tag from robot_description
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

print error and continue instead of throwing exception
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Fix the logic of the retrieval of min and max elements
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

update tests adding the limits part
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint

remove limits enforcing when defined under state interface
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

add more testing for other cases
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint

added comments to the limits map and removed extra include
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: none

Apply suggestions from code review
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added a way to enable and disable the joint interface limits
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Added tests for the newly added disabling of joint limits
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

Revert "remove comment"
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint

Revert "Rework handles to support atomic doubles"
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
  hardware_interface/test/test_handle.cpp
  transmission_interface/include/transmission_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint

don't write in the first tick
  hardware_interface/include/hardware_interface/async_components.hpp
Due: ament_cppcheck, ament_cpplint

adjusted actuator- and sensor_interface as well
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint

store description in state_interface and provide functions for setting/gettting
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint

move creation of stateinterfaces to systeminterface
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint

return correct name for InterfaceDescription
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint

move parsing of interface description to component parser
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

add first tests
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint

fix failing tests
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint

adjust sensor_interface getting/setting and add tests
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/test/test_component_interfaces.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
