Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

Add missing on_init for System and Sensor + typos
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint

Add async read and write tests for the test components with ResourceManager
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

restored the test case that had been accidentally deleted
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

fix test case numbers
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

removed unnecessary sorting of (de)activate request
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add test cases to reveal bugs in the switch_controller
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

remove TEST_BUG definition
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

to fix the bug in switch_controller, modify the process to retry the check from the beginning whenever there is a change in the (de)activate request (but use goto)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

change the bug fix implementation to not use goto
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

refactor (de)activate request check
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add to support restart operations in switch_controller by specifying the same controller name in the start/stop requests
  controller_manager/CMakeLists.txt
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_with_command/test_controller_with_command.cpp
  controller_manager/test/test_controller_with_command/test_controller_with_command.hpp
  controller_manager/test/test_controller_with_command/test_controller_with_command.xml
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_restart_controller.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

fix typo and unnecessary semicolon
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

return shared pointer of clock instead of clock itself
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

make the clock and logger interfaces mandatory arguments and fix tests
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_with_namespace.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.hpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: none

Add resources_lock_ lock_guards to avoid race condition when loading robot_description through topic (#1451)
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

4.12.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Remove ament linters
  ros2controlcli/package.xml
Due: none

Try fixing conflict.
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Remove ament linters (#1601)
  ros2controlcli/package.xml
Due: none

Remove mimic parameter from ros2_control tag (#1553)
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Update the year in license.
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/include/joint_limits/visibility_control.h
  joint_limits/src/joint_limiter_interface.cpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint

[JointLimits] Add Saturation Joint Limiter that uses clamping method (#971)
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/include/joint_limits/visibility_control.h
  joint_limits/joint_limiters.xml
  joint_limits/package.xml
  joint_limits/src/joint_limiter_interface.cpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/joint_saturation_limiter_param.yaml
  joint_limits/test/test_joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

add similar comment on the version conditioning
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add the default rm_logger_ to the if-else as per MR suggestion
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

print default value of the update_rate
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

print default update rate in other instances as well
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[ControllerChaining] Export state interfaces from chainable controllers (#1021)
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/chainable_controller_interface.cpp
  controller_interface/src/controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.hpp
  controller_manager/doc/controller_chaining.rst
  controller_manager/doc/images/chaining_example2.png
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager_msgs/msg/ControllerState.msg
  doc/release_notes/Jazzy.rst
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_hardware_components/test_hardware_components.xml
  hardware_interface/test/test_hardware_components/test_imu_sensor.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

fix broken test
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add additional chack to test
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[rqt_controller_manager] Add hardware components (#1455)
  controller_manager/doc/images/rqt_controller_manager.png
  controller_manager/doc/userdoc.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/resource/controller_manager.ui
  rqt_controller_manager/resource/popup_info.ui
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Update joints_userdoc.rst
  hardware_interface/doc/joints_userdoc.rst
Due: none

Update joints_userdoc.rst (#1604)
  hardware_interface/doc/joints_userdoc.rst
Due: none

Change the spamming checking interface ERROR to DEBUG
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[ResourceManager] Propagate access to logger and clock interfaces to HardwareComponent (#1585)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_with_namespace.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  doc/release_notes/Jazzy.rst
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.hpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint

Change the spamming checking interface ERROR to DEBUG (#1605)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
