Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-10
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Make nice user interface to export controllers.
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.xml
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.xml
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.xml
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.xml
Due: clang-format, ament_cppcheck, ament_cpplint

Fixup tests to the new API.
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  hardware_interface/test/test_components/test_actuator.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add hardware interface timing suggestions.
  hardware_interface/README.md
Due: none

To best practice.
  hardware_interface/README.md
Due: none

Fix parameter name.
  hardware_interface/README.md
Due: none

Apply suggestions from code review
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Adding base class for chained controllers: `ChainedControllersInterface` (#663)
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/src/chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.hpp
  controller_interface/test/test_controller_interface.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

port utils.py to ros2
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/controller_manager_msgs/__init__.py
  controller_manager_msgs/controller_manager_msgs/utils.py
  controller_manager_msgs/package.xml
  controller_manager_msgs/resource/controller_manager_msgs
Due: ament_lint_cmake

Apply suggestions from code review
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Resource Manager extension to support management of reference interfaces from chained controllers. (#664)
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.9.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Make interface_list_contains_interface_type inline
  controller_interface/include/controller_interface/helpers.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make interface_list_contains_interface_type inline (#721)
  controller_interface/include/controller_interface/helpers.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Refactored error handling when hardware name is duplicated
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

1.5.1
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

0.10.1
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

_01: fix ros2_control_node.cpp's bug (?)
  .gitignore
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update CI configuration and setup. Add better overview (#681)
  .github/workflows/binary.yml
  .github/workflows/ci-coverage-build.yml
  .github/workflows/ci-format.yml
  .github/workflows/ci-ros-lint.yml
  .github/workflows/foxy-abi-compatibility.yml
  .github/workflows/foxy-binary-build.yml
  .github/workflows/foxy-semi-binary-build.yml
  .github/workflows/foxy-source-build.yml
  .github/workflows/galactic-abi-compatibility.yml
  .github/workflows/galactic-binary-build.yml
  .github/workflows/galactic-semi-binary-build.yml
  .github/workflows/galactic-source-build.yml
  .github/workflows/prerelease-check.yml
  .github/workflows/prerelease.yaml
  .github/workflows/reusable-industrial-ci-with-cache.yml
  .github/workflows/reusable-ros-tooling-source-build.yml
  .github/workflows/rolling-abi-compatibility-last-focal.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build-last-focal.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build-last-focal.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-source-build.yml
  .pre-commit-config.yaml
  README.md
  ros2_control-not-released.foxy.repos
  ros2_control-not-released.galactic.repos
  ros2_control-not-released.rolling.repos
  ros2_control.foxy.repos
  ros2_control.galactic.repos
  ros2_control.rolling.repos
Due: none

Make RHEL CI happy!
  controller_manager/test/test_hardware_management_srvs.cpp
  hardware_interface/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update to clang-format-12
  .github/workflows/ci-format.yml
  .pre-commit-config.yaml
Due: none

Re-run clang-format
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/src/fake_components/generic_system.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_resource_manager.cpp
  transmission_interface/include/transmission_interface/accessor.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

adjust joint limits file too
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update to clang format 12 (#731)
  .github/workflows/ci-format.yml
  .pre-commit-config.yaml
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/src/fake_components/generic_system.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_resource_manager.cpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface.hpp
  transmission_interface/include/transmission_interface/accessor.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

CMakeLists cleanup
  controller_interface/CMakeLists.txt
  controller_manager/CMakeLists.txt
  hardware_interface/CMakeLists.txt
  ros2_control_test_assets/CMakeLists.txt
  transmission_interface/CMakeLists.txt
Due: ament_lint_cmake

ControlLoop for controller manager
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/control_loop.hpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/test_control_loop.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Update controller_manager/src/ros2_control_node.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/test_control_loop.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Tests without sleeping
  controller_manager/test/test_control_loop.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Apply suggestions from code review
  controller_manager/test/test_control_loop.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update controller_manager/include/controller_manager/control_loop.hpp
  controller_manager/include/controller_manager/control_loop.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update to clang-format-12 and respond to feedback
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/test_control_loop.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add doxygen comments
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/ros2_control_node.cpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add documentation with diagram to doc
  controller_manager/doc/control_loop.png
  controller_manager/doc/userdoc.rst
  controller_manager/test/test_control_loop.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Assert that the function arguments of control_loop have correct interface
  controller_manager/include/controller_manager/control_loop.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

python compatibility
  controller_manager/scripts/spawner.py
Due: none

Update reviewer-lottery.yml
  .github/reviewer-lottery.yml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
