Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PEP 257
  - repo: https://github.com/FalconSocial/pre-commit-mirrors-pep257
    rev: v0.3.3
    hooks:
    - id: pep257
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.3.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Update CM service QoS so that we don't lose service calls when using many controllers. (#643)
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Use range-based for on the hardware_info map
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update license year
  controller_manager/test/test_hardware_management_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Correct failed header.
  controller_manager/test/test_hardware_management_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fixes of issue with seg-fault when checking interfaces on unconfigured controllers. (#580)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

fix rebase error
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

fix exception trouble
  transmission_interface/include/transmission_interface/exception.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/src/simple_transmission_loader.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix foxy backport.
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

remove gmock_main
  transmission_interface/CMakeLists.txt
Due: ament_lint_cmake

Fix transmission loader tests (#642)
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  transmission_interface/include/transmission_interface/exception.hpp
  transmission_interface/src/simple_transmission_loader.cpp
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

0.10.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

2.4.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Proposal for CI update.
  .github/workflows/binary.yml
  .github/workflows/ci-coverage-build.yml
  .github/workflows/ci-format.yml
  .github/workflows/ci-ros-lint.yml
  .github/workflows/foxy-abi-compatibility.yml
  .github/workflows/foxy-binary-build.yml
  .github/workflows/foxy-rhel-binary-build.yml
  .github/workflows/foxy-semi-binary-build.yml
  .github/workflows/foxy-source-build.yml
  .github/workflows/galactic-abi-compatibility.yml
  .github/workflows/galactic-binary-build.yml
  .github/workflows/galactic-rhel-binary-build.yml
  .github/workflows/galactic-semi-binary-build.yml
  .github/workflows/galactic-source-build.yml
  .github/workflows/lint.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-source-build.yml
  .github/workflows/source.yml
  .pre-commit-config.yaml
  README.md
  ros2_control-not-released.foxy.repos
  ros2_control-not-released.galactic.repos
  ros2_control-not-released.rolling.repos
  ros2_control.foxy.repos
  ros2_control.galactic.repos
  ros2_control.rolling.repos
Due: none

Check ABI only on specific branches.
  .github/workflows/foxy-abi-compatibility.yml
  .github/workflows/galactic-abi-compatibility.yml
  .github/workflows/rolling-abi-compatibility.yml
Due: none

Added configuration for rolling on jammy.
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-source-build.yml
Due: none

Remove building against testing in ABI check.
  .github/workflows/foxy-abi-compatibility.yml
  .github/workflows/galactic-abi-compatibility.yml
  .github/workflows/rolling-abi-compatibility.yml
Due: none

Remove tokens requests from source builds.
  .github/workflows/ci-coverage-build.yml
  .github/workflows/foxy-source-build.yml
  .github/workflows/galactic-source-build.yml
  .github/workflows/rolling-source-build.yml
Due: none

Corrected package names in ros-litners.
  .github/workflows/ci-ros-lint.yml
Due: none

Correct source build setups.
  .github/workflows/ci-coverage-build.yml
  .github/workflows/foxy-source-build.yml
  .github/workflows/galactic-source-build.yml
  .github/workflows/rolling-source-build.yml
Due: none

Try to fix RHEL setup.
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

correct rhel configuration
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Try to fix RHEL build
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Test with galactic on RHEL
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Try to see if parallel builds cause issue with spawner tests.
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: none

Test with galactic.
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Correct order to alphabetical.
  .github/workflows/ci-ros-lint.yml
Due: none

use rolling container for RHEL build
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

There are no binaries for foxy on RHEL.
  .github/workflows/foxy-rhel-binary-build.yml
Due: none

Correct os code name for last focal.
  .github/workflows/rolling-abi-compatibility-last-focal.yml
Due: none

Fix abi check.
  .github/workflows/rolling-abi-compatibility-last-focal.yml
  README.md
Due: none

Fix rolling building on Focal.
  .github/workflows/rolling-abi-compatibility-last-focal.yml
  .github/workflows/rolling-binary-build-last-focal.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-semi-binary-build-last-focal.yml
  README.md
Due: none

Small fixes of include order to fix linters.
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  transmission_interface/include/transmission_interface/simple_transmission_loader.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

use another rosdep before installing target deps.
  .github/workflows/rolling-abi-compatibility-last-focal.yml
Due: none

Enable controller manager services to control hardware lifecycle #abi-breaking (#637)
  controller_manager/CMakeLists.txt
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Fix rosdep version for jammy to try to get green builds.
  .github/workflows/rolling-abi-compatibility-last-focal.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build-last-focal.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-semi-binary-build-last-focal.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: none
