Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-10
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Rename CM members from start/stop to activate/deactivate nomenclature. (#756)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update dockerfile
  .docker/source/Dockerfile
Due: none

fix link
  .docker/source/Dockerfile
Due: none

change default to humble
  .docker/release/Dockerfile
Due: none

Change default to humble on CI
  .github/workflows/docker.yml
Due: none

TEMP: modify trigger to test workflow working on CI
  .github/workflows/docker.yml
Due: none

Revert "TEMP: modify trigger to test workflow working on CI"
  .github/workflows/docker.yml
Due: none

Update dockerfile to fix docker build on tags (#770)
  .docker/release/Dockerfile
  .docker/source/Dockerfile
  .github/workflows/docker.yml
Due: none

Duplicate one test for fake_components
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix deprecation of fake_components
  hardware_interface/CMakeLists.txt
  hardware_interface/src/mock_components/fake_generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Update hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix fake components deprecation and add test for it (#771)
  hardware_interface/CMakeLists.txt
  hardware_interface/src/mock_components/fake_generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.12.1
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Update README.md
  README.md
Due: none

Fix readme links to branches (#772)
  README.md
Due: none

Added spawner colors to command interfaces based on availablity and claimed status (#754)
  ros2controlcli/ros2controlcli/verb/list_hardware_interfaces.py
Due: none

Fix bug in spawner with getter for node's logger
  controller_manager/controller_manager/spawner.py
Due: none

Fix bug in spawner with getter for node's logger (#776)
  controller_manager/controller_manager/spawner.py
Due: none

Add doxygen comments
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update and fix CI setup (#752)
  .github/workflows/README.md
  .github/workflows/foxy-abi-compatibility.yml
  .github/workflows/foxy-binary-build-main.yml
  .github/workflows/foxy-semi-binary-build-main.yml
  .github/workflows/galactic-abi-compatibility.yml
  .github/workflows/galactic-binary-build-main.yml
  .github/workflows/galactic-rhel-binary-build.yml
  .github/workflows/galactic-semi-binary-build-main.yml
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/humble-binary-build-main.yml
  .github/workflows/humble-binary-build-testing.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build-main.yml
  .github/workflows/humble-semi-binary-build-testing.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/lint.yml
  .github/workflows/reusable-industrial-ci-with-cache.yml
  .github/workflows/reusable-ros-tooling-source-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build-main.yml
  .github/workflows/rolling-binary-build-testing.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build-main.yml
  .github/workflows/rolling-semi-binary-build-testing.yml
  .github/workflows/rolling-source-build.yml
  .github/workflows/source.yml
  README.md
  controller_manager_msgs/package.xml
  ros2_control-not-released.humble.repos
  ros2_control.humble.repos
Due: none

Add briefs form Denis
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

added comments to ControllerState message
  controller_manager_msgs/msg/ControllerState.msg
Due: none

added comments to ChainedConnection message
  controller_manager_msgs/msg/ChainConnection.msg
Due: none

Add tests for all additional fields of list controllers service
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

added test for list controllers test before configure is called
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

use namespaces and chnage variable names
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

added helper method to increase readability
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

run pre-commit
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

working trajectory code
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Rename class_type to plugin_name
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager_msgs/msg/HardwareComponentState.msg
  hardware_interface/include/hardware_interface/hardware_component_info.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

fake_sensor_commands replaced
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add documentation for realtime permission
  controller_manager/doc/userdoc.rst
Due: none

added view_controller_chains
  ros2controlcli/doc/userdoc.rst
Due: none

added test for visualization
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
  ros2controlcli/test/test_view_controller_chains.py
Due: none

rst syntax
  controller_manager/doc/userdoc.rst
Due: none

Delete abi_compatibility.yml
  .github/workflows/abi_compatibility.yml
Due: none

Delete binary.yml
  .github/workflows/binary.yml
Due: none

Delete foxy-abi-compatibility.yml
  .github/workflows/foxy-abi-compatibility.yml
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
