Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Skip command mode switch on hardware fault deactivation paths
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Deactivate the dependent controllers before the hardware transition
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Keep state-only controllers running on manual hardware deactivation
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager/test/test_hardware_management_state_only_controller_params.yaml
Due: ament_cppcheck, ament_cpplint, ament_copyright

Only stop controllers that are active right now
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Deactivate controllers when their hardware component is deactivated via service
  controller_manager/CMakeLists.txt
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_controller_params.yaml
  controller_manager/test/test_hardware_management_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Avoid copies of the component name and group in read() and write()
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_rt_allocation.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Request the controller switch through the switch_controller() API
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Avoid heap allocations in the real-time command limit enforcement
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_rt_allocation.cpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Avoid rebuilding the limiter data on every set_value() call
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_rt_allocation.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Make the allocation counters thread_local so the test is not load-sensitive
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_rt_allocation.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove the narration from the comments
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_rt_allocation.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Read the joint limits without copying them out of the box
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix(transmission_interface): resolve HW_IF_ABSOLUTE_POSITION redefinition
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
  transmission_interface/CMakeLists.txt
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/include/transmission_interface/transmission.hpp
  transmission_interface/test/differential_transmission_test.cpp
  transmission_interface/test/include_all_transmissions_test.cpp
  transmission_interface/test/simple_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

test(transmission_interface): drop redundant test changes
  transmission_interface/include/transmission_interface/transmission.hpp
  transmission_interface/test/differential_transmission_test.cpp
  transmission_interface/test/include_all_transmissions_test.cpp
  transmission_interface/test/simple_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Apply suggestions from code review
  controller_interface/include/semantic_components/force_torque_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: ament_copyright

Fix GPS status values when state-interface reads fail
  controller_interface/include/semantic_components/gps_sensor.hpp
  controller_interface/test/test_gps_sensor.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[joint_limits] Fix the changed flag over the whole parameter batch (#3576)
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix GPS unknown values compatibility with ROS 2 Humble
  controller_interface/include/semantic_components/gps_sensor.hpp
  controller_interface/test/test_gps_sensor.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use NavSatStatus constants on Jazzy and newer
  controller_interface/CMakeLists.txt
  controller_interface/include/semantic_components/gps_sensor.hpp
  controller_interface/package.xml
  controller_interface/test/test_gps_sensor.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix position-limit disable update reporting
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

2.54.3
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

5.19.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

4.49.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

6.11.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Fix conflicting declarations of HW_IF_ABSOLUTE_POSITION (Fixes #3649)
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/include/transmission_interface/transmission.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove deprecated methods from Rolling and Lyrical (#3610)
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/src/chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.hpp
  controller_interface/test/test_force_torque_sensor.cpp
  controller_interface/test/test_gps_sensor.cpp
  controller_interface/test/test_imu_sensor.cpp
  controller_interface/test/test_led_rgb_device.cpp
  controller_interface/test/test_magnetic_field_sensor.cpp
  controller_interface/test/test_pose_sensor.cpp
  controller_interface/test/test_range_sensor.cpp
  controller_interface/test/test_semantic_component_command_interface.cpp
  controller_interface/test/test_semantic_component_interface.cpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/src/hardware_component.cpp
  hardware_interface/src/hardware_component_interface.cpp
  hardware_interface/test/test_handle.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

6.12.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Fix data race in introspection sampling vs Handle::set_value (#3613) - rebase onto latest master
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix missing lib
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

fix: propagate ROS args to hardware component nodes
  controller_manager/src/controller_manager.cpp
  hardware_interface/doc/writing_new_hardware_component.rst
  hardware_interface/include/hardware_interface/hardware_component.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/hardware_component.cpp
  hardware_interface/src/hardware_component_interface.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix missing libstatistics_collector library (#3669)
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
