Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PEP 257
  - repo: https://github.com/FalconSocial/pre-commit-mirrors-pep257
    rev: v0.3.3
    hooks:
    - id: pep257
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Add backward_ros to controller_manager (#886)
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
Due: ament_lint_cmake

Update imu_sensor.hpp
  controller_interface/include/semantic_components/imu_sensor.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

🔧 Fixes and updated on pre-commit hooks and their action (#890)
  .github/workflows/ci-format.yml
  .pre-commit-config.yaml
  hardware_interface/test/test_handle.cpp
  rqt_controller_manager/resource/controller_manager.ui
Due: clang-format, ament_cppcheck, ament_cpplint

Update ci-format.yml
  .github/workflows/ci-format.yml
Due: none

Update imu_sensor.hpp (#893)
  controller_interface/include/semantic_components/imu_sensor.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

3.6.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

2.20.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Remove warning from builds that upload cache
  .github/workflows/reusable-industrial-ci-with-cache.yml
Due: none

Change testcase to use controller manager rather than interacting with controllers directly
  controller_manager/test/test_spawner_unspawner.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make sure that smart pointers to controller go out of scope so that the controller's Node can be deleted.
  controller_manager/test/test_spawner_unspawner.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add same pattern for checking controller as in the rest of the test.
  controller_manager/test/test_spawner_unspawner.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

[CI] Add dependabot to automatically update actions in workflows
  .github/dependabot.yml
Due: none

fix issue with logging
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

minor changes
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Merge branch 'fix-update-rate' into humble (#874)
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Diagnostic updated is not in humble
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

ControllerManager: catch exception by reference
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Test fix: don't keep reference to the controller in the test when it should be destroyed in the controller manager (#883)
  controller_manager/test/test_spawner_unspawner.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Apply suggestions from code review
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

ControllerManager: catch exception by reference (#906)
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Optimize output of controller spawner
  controller_manager/controller_manager/spawner.py
Due: none

Do not use CLI calls but direct API for setting parameters.
  controller_manager/controller_manager/spawner.py
Due: none

Optimize output of controller spawner (#909)
  controller_manager/controller_manager/spawner.py
Due: none

Add explicity dependency to `rcl_interfaces`.
  ros2controlcli/package.xml
Due: none

Do not use CLI calls but direct API for setting parameters. (#910)
  controller_manager/controller_manager/spawner.py
  ros2controlcli/package.xml
Due: none

Enable backport to humble using a label
  .github/mergify.yml
Due: none

Enable backport to humble using a label (#912)
  .github/mergify.yml
Due: none

Resolve merge conflict.
  controller_manager/controller_manager/spawner.py
Due: none

Update spawner.py
  controller_manager/controller_manager/spawner.py
Due: none

Namespace Loaded Controllers (#852)
  controller_manager/controller_manager/spawner.py
Due: none

move sorting alogorithm to separate function.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Double parsing test fails with changed locale
  hardware_interface/test/test_component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint
