Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Add -Werror=missing-braces to compile options (#1423)
  controller_interface/CMakeLists.txt
  controller_interface/test/test_force_torque_sensor.hpp
  controller_interface/test/test_imu_sensor.hpp
  controller_manager/CMakeLists.txt
  hardware_interface/CMakeLists.txt
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_components/test_system.cpp
  joint_limits/CMakeLists.txt
  transmission_interface/CMakeLists.txt
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

4.6.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

3.24.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

2.40.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Update README.md
  README.md
Due: none

Update README.md (#1427)
  README.md
Due: none

Update README.md (#1426)
  README.md
Due: none

Adjust docs.
  hardware_interface/include/hardware_interface/resource_manager.hpp
Due: ament_cppcheck, ament_cpplint

add conditioning to get_parameter_value method import
  controller_manager/controller_manager/spawner.py
Due: none

Adding controller_manager tests for cleanup controller
  controller_manager/CMakeLists.txt
  controller_manager/test/test_cleanup_controller.cpp
  o
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Removed unwanted file.
  o
Due: none

Correcting clang format and test case
  controller_manager/test/test_cleanup_controller.cpp
Due: ament_cppcheck, ament_cpplint

Change the controller sorting with an approach similar to directed acyclic graphs (#1384)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

add conditioning to get_parameter_value method import (#1428)
  controller_manager/controller_manager/spawner.py
Due: none

fix parameter_names
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Add comments
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Auto-update with pre-commit
  .pre-commit-config.yaml
Due: none

rqt_controller_manager compatibility for humble (#1429)
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Apply black code formatter
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Satisfy clang 18
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  joint_limits/include/joint_limits/joint_limits.hpp
Due: ament_cppcheck, ament_cpplint

Update hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
Due: ament_cppcheck, ament_cpplint

Fixup formatting.
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  joint_limits/include/joint_limits/joint_limits.hpp
Due: ament_cppcheck, ament_cpplint

Codeformat from new pre-commit config (#1433)
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  joint_limits/include/joint_limits/joint_limits.hpp
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_cppcheck, ament_cpplint

add missing compiler definitions of RCLCPP_VERSION_MAJOR
  controller_interface/CMakeLists.txt
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake

add missing compiler definitions of RCLCPP_VERSION_MAJOR (#1440)
  controller_interface/CMakeLists.txt
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake

Satisfy clang
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  joint_limits/include/joint_limits/joint_limits.hpp
Due: ament_cppcheck, ament_cpplint

Add CI workflow to check docs (#1069)
  .github/workflows/ci-check-docs.yml
Due: none

Added some utility methods in the controller_manager
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Update the activation_error_handling tests with all newly added controllers
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

update the test_chained_controllers test with new sensor_fusion_controller
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Check if all the exported interfaces being utilized by other preceding controllers
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added some helper methods in the Test classes to set the estimated interfaces information
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
Due: ament_cppcheck, ament_cpplint

update tests of the activation and deactivation error handling with new controllers
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
