Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Improve docstring of the semantic_components for consistency (#3338)
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/include/semantic_components/gps_sensor.hpp
  controller_interface/include/semantic_components/imu_sensor.hpp
  controller_interface/include/semantic_components/led_rgb_device.hpp
  controller_interface/include/semantic_components/magnetic_field_sensor.hpp
  controller_interface/include/semantic_components/pose_sensor.hpp
  controller_interface/include/semantic_components/range_sensor.hpp
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
  controller_interface/include/semantic_components/semantic_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve docstring of joint_limits for consistency (#3391)
  joint_limits/include/joint_limits/data_structures.hpp
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/include/joint_limits/joint_limits_urdf.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/include/joint_limits/joint_soft_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Refine joint saturation limiting with post-jerk checks
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improved documentation
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add fix for disabling limits
  joint_limits/src/joint_limits_helpers.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests to reproduce the issue of the disable effort limits
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add some AI generated documentation
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

reduce comments
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add read_only attribute to JointInfo and ActuatorInfo
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Unload controller upon sigterm (#3406)
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix format
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Move to the end of the vtable
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests to reproduce the behaviour of the velocity enforcement
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add fix to the velocity enforcement part
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add read_only attribute to JointInfo and ActuatorInfo (#3426)
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

hardware_interface: add missing <unordered_set> include in resource_manager
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: ament_copyright

Parse controller/hardware interface names to support namespacing
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_controller_interface.cpp
  controller_interface/test/test_controller_interface.hpp
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  hardware_interface/doc/hardware_interface_types_userdoc.rst
  hardware_interface/include/hardware_interface/helpers.hpp
  hardware_interface/src/hardware_component_interface.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fixed docstring of joint_limits (#3414)
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

hardware_interface: add missing <unordered_set> include in resource_manager (#3431)
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix disable velocity and effort limiting feature (#3425)
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_soft_limiter.cpp
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

6.8.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

4.46.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

5.15.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Refine joint saturation velocity clamping
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Make sleep in ros2_control node optional (#3213)
  controller_manager/CMakeLists.txt
  controller_manager/doc/userdoc.rst
  controller_manager/include/controller_manager/sleeping_policies.hpp
  controller_manager/package.xml
  controller_manager/src/ros2_control_node.cpp
  controller_manager/src/sleeping_policies.cpp
  controller_manager/test/test_sleeping_policies.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix merge conflict in docstring
  controller_interface/include/controller_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
