Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Parse more async properties to the ros2_control definition into HardwareInfo
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/lexical_casts.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/lexical_casts.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Apply changes to hardware component interface
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/src/hardware_component.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update branch
  ros_controls.jazzy.repos
Due: ament_copyright

Update jazzy branch for demos (#2463)
  ros_controls.jazzy.repos
Due: ament_copyright

validate xml schema test added
  ros2_control_test_assets/CMakeLists.txt
  ros2_control_test_assets/package.xml
  ros2_control_test_assets/schema/ros2_control.xsd
  ros2_control_test_assets/test/validate_xml_schema.cpp
  ros2_control_test_assets/urdf/test_hardware_components_with_error.urdf
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

libxml2 added as test_depend
  ros2_control_test_assets/package.xml
Due: ament_copyright

Revert "Deactivate failing builds (#2439)"
  ros_controls.humble.repos
  ros_controls.jazzy.repos
Due: ament_copyright

Readd test for jazzy
  ros_controls.jazzy.repos
Due: ament_copyright

Partially revert "Deactivate failing builds (#2439)
  ros_controls.jazzy.repos
Due: ament_copyright

docs: clarify getter comments to reference HardwareComponentInterface
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

hardware_interface: fix get_node() docs to reference HardwareComponentInterface
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use thread for the CM executor
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

added draft implementation
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Apply suggestions from code review
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Docs: clarify getter comments to reference HardwareComponentInterface (#2471)
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove extra semicolons
  hardware_interface/src/resource_manager.cpp
  joint_limits/include/joint_limits/data_structures.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

updated default publisher logic
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

updated apis
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

added rough draft for documentation
  hardware_interface/doc/writing_new_hardware_component.rst
Due: ament_copyright

updated documentation
  hardware_interface/doc/writing_new_hardware_component.rst
Due: ament_copyright

Remove extra semicolons (#2478)
  hardware_interface/src/resource_manager.cpp
  joint_limits/include/joint_limits/data_structures.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Apply suggestions from code review
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

urdf directory code updated
  hardware_interface/CMakeLists.txt
  hardware_interface/test/test_validate_xml_schema.cpp
  ros2_control_test_assets/CMakeLists.txt
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

test added for xml schema validation
  hardware_interface/CMakeLists.txt
  hardware_interface/schema/ros2_control.xsd
  hardware_interface/test/test_validate_xml_schema.cpp
  hardware_interface/urdf/test_hardware_components.urdf
  hardware_interface/urdf/test_hardware_components_with_error.urdf
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

accidentely removed the code to add schema to directory
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

urdf files moved to ros2_control_test_assets
  hardware_interface/urdf/test_hardware_components.urdf
  ros2_control_test_assets/urdf/test_hardware_components.urdf
  ros2_control_test_assets/urdf/test_hardware_components_with_error.urdf
Due: ament_copyright

test dependencies updated
  hardware_interface/package.xml
Due: ament_copyright

Fix CMake install so overriding works (#926)
  controller_interface/CMakeLists.txt
  controller_interface/package.xml
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager_msgs/CMakeLists.txt
  hardware_interface/CMakeLists.txt
  joint_limits/CMakeLists.txt
  ros2_control/CMakeLists.txt
  ros2_control_test_assets/CMakeLists.txt
  transmission_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Fix merge conflicts
  controller_interface/CMakeLists.txt
  controller_interface/package.xml
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  hardware_interface/CMakeLists.txt
  joint_limits/CMakeLists.txt
  ros2_control_test_assets/CMakeLists.txt
  transmission_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

install include files
  ros2_control_test_assets/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

install include files (#2482)
  ros2_control_test_assets/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

add dependency on 'urdf' back
  joint_limits/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

add dependency on 'urdf' back (#2483)
  joint_limits/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

install missing test configurations
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

install missing test configurations (#2485)
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Enable controller activation for inactive hardware component
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright
