Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Improve transmission tests (#1238)
  transmission_interface/test/differential_transmission_loader_test.cpp
  transmission_interface/test/differential_transmission_test.cpp
  transmission_interface/test/four_bar_linkage_transmission_loader_test.cpp
  transmission_interface/test/four_bar_linkage_transmission_test.cpp
  transmission_interface/test/simple_transmission_loader_test.cpp
  transmission_interface/test/simple_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint

add publisher for command/stateinterces in resource manager
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

[ResourceManager] adds test for uninitialized hardware
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_components.xml
  hardware_interface/test/test_components/test_sensor.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

apply code review suggestions
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/package.xml
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

fix conflict
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake

controller_manager: Add space to string literal concatenation
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

controller_manager: Add space to string literal concatenation (#1245)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Do not run reviewer lottery on bot PRs
  .github/workflows/reviewer_lottery.yml
Due: none

Do not run reviewer lottery on bot PRs (#1250)
  .github/workflows/reviewer_lottery.yml
Due: none

Set ref explicitely for action-ros-ci
  .github/workflows/reusable-ros-tooling-source-build.yml
Due: none

add data_tamer logging for command interfaces
  hardware_interface/CMakeLists.txt
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/package.xml
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

add data_tamer to .repos file
  ros2_control-not-released.humble.repos
Due: none

Set ref explicitely for action-ros-ci (#1254)
  .github/workflows/reusable-ros-tooling-source-build.yml
Due: none

Further increase it
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake

Rm joint_state_controller
  controller_manager/controller_manager/launch_utils.py
  ros2controlcli/doc/userdoc.rst
Due: none

[docs] Remove joint_state_controller (#1263)
  controller_manager/controller_manager/launch_utils.py
  ros2controlcli/doc/userdoc.rst
Due: none

Make if nicer and more efficient
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Rename file
  hardware_interface/include/hardware_interface/helpers.hpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Use portable version for string-to-double conversion
  hardware_interface/include/hardware_interface/tools.hpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Fix API documentation
  hardware_interface/include/hardware_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint

Rename the file
  hardware_interface/include/hardware_interface/double_parsing.hpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Rename it to stod (like in std namespace)
  hardware_interface/include/hardware_interface/double_parsing.hpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Move parse_bool to same file and rename it again
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/lexical_casts.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Another occurrence of from_chars
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Add portable lexical cast `stod`
  hardware_interface/include/hardware_interface/lexical_casts.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Remove duplicate declaration
  hardware_interface/include/hardware_interface/component_parser.hpp
Due: ament_cppcheck, ament_cpplint

Use portable version for string-to-double conversion (#1257)
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/lexical_casts.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint

[ResourceManager] adds test for uninitialized hardware (#1243)
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_components.xml
  hardware_interface/test/test_components/test_sensor.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Use portable version for string-to-double conversion (backport #1257) (#1268)
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/lexical_casts.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint
