Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

fix the spawner call
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add pre-commit changes of new clang formatting changes
  controller_interface/src/chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.hpp
  controller_interface/test/test_force_torque_sensor.cpp
  controller_interface/test/test_imu_sensor.cpp
  controller_interface/test/test_led_rgb_device.cpp
  controller_interface/test/test_pose_sensor.cpp
  controller_interface/test/test_semantic_component_command_interface.cpp
  controller_interface/test/test_semantic_component_interface.cpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager/test/test_hardware_spawner.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_hardware_components/test_imu_sensor.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests for multiple controller ros args (#2155)
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Apply pre-commit changes of new clang formatting changes
  controller_interface/test/test_chainable_controller_interface.hpp
  controller_interface/test/test_force_torque_sensor.cpp
  controller_interface/test/test_imu_sensor.cpp
  controller_interface/test/test_pose_sensor.cpp
  controller_interface/test/test_semantic_component_interface.cpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager/test/test_hardware_spawner.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

apply pre-commit changes
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

apply pre-commit changes (#2160)
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix async controllers deactivation regime (#2017)
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

removed gtest dependencies and references
  controller_interface/test/test_controller_with_options.cpp
  controller_interface/test/test_gps_sensor.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  controller_manager/test/test_controller_manager_with_namespace.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager/test/test_hardware_spawner.cpp
  controller_manager/test/test_load_controller.cpp
  controller_manager/test/test_release_interfaces.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
  joint_limits/CMakeLists.txt
  joint_limits/package.xml
  joint_limits/test/joint_limits_rosparam_test.cpp
  joint_limits/test/joint_limits_urdf_test.cpp
  joint_limits/test/test_joint_limiter.hpp
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.cpp
  joint_limits/test/test_joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

fixed order include for cpp files
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  joint_limits/test/joint_limits_rosparam_test.cpp
  joint_limits/test/joint_limits_urdf_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

added draft logic for consistent transitions
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

Change to `ament_add_gmock` in joint_limits
  joint_limits/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

add fixes for gmock testing with joint limits
  joint_limits/CMakeLists.txt
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Change to `ament_add_gmock` in joint_limits (#2165)
  joint_limits/CMakeLists.txt
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix pre-commit
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix pre-commit
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Add switch controller strictness default options as parameter
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_copyright

Use the default strictness parameter to define the it inside the code
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add --strict and --best-effort tags to CLI, spawners and unspawners
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
  ros2controlcli/ros2controlcli/verb/switch_controllers.py
Due: ament_copyright

revert the strictness args in spawner and unspawner
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
Due: ament_copyright

TLSF-update for RT-safe memory
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Integrate joint limit enforcement into `ros2_control` framework functional with Async controllers and components (#2047)
  controller_manager/doc/userdoc.rst
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  doc/release_notes.rst
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_handle.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  joint_limits/src/joint_limits_helpers.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/test_hardware_interface_constants.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[HW Interface] Use new handle API inside the hardware components (#2092)
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

4.28.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

2.50.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Test new repos files
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-check-docs.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-commit.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
  .github/workflows/rolling-source-build.yml
Due: ament_copyright

Only log limiting error if something is limited.
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

extract single_controller_lifecycle test from controller_lifecycle test
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

refactor lifecycle_test to switch_controller_with_unknown_controller test
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove contributing
  CONTRIBUTING.md
Due: ament_copyright

Remove workflows readme
  .github/workflows/README.md
Due: ament_copyright

Remove issue and PR template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/good-first-issue.md
  .github/pull_request_template.md
Due: ament_copyright

Cleanup README
  README.md
Due: ament_copyright

Add contributing section
  README.md
Due: ament_copyright

Satisfy markdownlint
  README.md
Due: ament_copyright

Simplify log output
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
