Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Preceeding -> preceding
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix typos: preceeding -> preceding (#2206)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add a method to perform the hardware command mode changes (#2203)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add test for activating multiple controllers with resource collision
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Modernize CMakeLists.txt in controller_interface #1661
  controller_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Modernize CMakeLists.txt in controller_manager #1661
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

modernize CMakeLists.txt in hardware_interface
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

modernize CMakeLists.txt in hardware_interface_testing #1661
  hardware_interface_testing/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Modernize CMakeLists.txt in joint_limits #1661
  joint_limits/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Update controller_interface/CMakeLists.txt
  controller_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Update controller_manager/CMakeLists.txt
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Update hardware_interface/CMakeLists.txt
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Use new install dependency step for Debian jobs
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/rolling-debian-build.yml
Due: ament_copyright

Update CMakeLists.txt
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Add the line seperation back
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Use Targets for the trajectory_msgs
  joint_limits/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Modifying loccally to modernize cmakeLists.txt
  .vscode/settings.json
Due: ament_copyright

increase test tolerance to reduce flakiness
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

increase max tolerance
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

increase tolerances
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

increase test tolerance to reduce flakiness (#2212)
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use master branch of CI repo
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/rolling-debian-build.yml
Due: ament_copyright

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: ament_copyright

Use filelock in spawner to avoid concurrent operations (#2202)
  controller_manager/controller_manager/spawner.py
  controller_manager/package.xml
Due: ament_copyright

Add common reusable helper methods header (#2099)
  controller_interface/include/controller_interface/helpers.hpp
  controller_interface/src/chainable_controller_interface.cpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/helpers.hpp
  hardware_interface/test/test_helpers.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

[Diagnostics] Add diagnostics of execution time and periodicity of the hardware components (#2086)
  controller_manager/doc/parameters_context.yaml
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  doc/release_notes.rst
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/hardware_component_info.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/types/statistics_types.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use the new reusable helpers methods in hardware diagnostics
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use the new reusable helpers methods in hardware diagnostics (#2216)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add other strings to be also statically allocated
  controller_interface/src/chainable_controller_interface.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/resource_manager.cpp
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/data_structures.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/package.xml
  joint_limits/src/joint_limits_helpers.cpp
  transmission_interface/CMakeLists.txt
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/package.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix linking issues
  hardware_interface/CMakeLists.txt
  hardware_interface/package.xml
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/package.xml
  joint_limits/CMakeLists.txt
  transmission_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Fix
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Statically allocate string concatenations using FMT formatting
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix as requested
  controller_interface/CMakeLists.txt
  controller_interface/package.xml
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
  hardware_interface/CMakeLists.txt
  hardware_interface/package.xml
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/package.xml
  joint_limits/CMakeLists.txt
  joint_limits/package.xml
  transmission_interface/CMakeLists.txt
  transmission_interface/package.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Update controller_manager/package.xml
  controller_manager/package.xml
Due: ament_copyright

Add fmt headers
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  joint_limits/include/joint_limits/data_structures.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/src/joint_limits_helpers.cpp
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
