Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Improve the logic of enforcing the command limiters
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve package descriptions & update maintainers (#2103)
  controller_interface/package.xml
  controller_manager/package.xml
  controller_manager_msgs/package.xml
  hardware_interface/package.xml
  hardware_interface_testing/package.xml
  joint_limits/package.xml
  ros2_control/package.xml
  ros2_control_test_assets/package.xml
  ros2controlcli/package.xml
  rqt_controller_manager/package.xml
  transmission_interface/package.xml
Due: ament_copyright

[CM] Extend the list controller and hardware components messages (#2102)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager_msgs/msg/ControllerState.msg
  controller_manager_msgs/msg/HardwareComponentState.msg
  ros2controlcli/ros2controlcli/verb/list_controllers.py
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
Due: ament_cppcheck, ament_cpplint, ament_copyright

Change to `set_limited_value` the main method
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Only set the values back if the limits are enforced
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Register introspection of `is_limited` variable
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

use for tests
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove gazebo_ros2_control
  hardware_interface/doc/joints_userdoc.rst
Due: ament_copyright

Docs: Remove link to gazebo_ros2_control (#2106)
  hardware_interface/doc/joints_userdoc.rst
Due: ament_copyright

change to `to_string`
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Implement the HandleDataType class enclosing enums and helper methods
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add `from_string` method to enum class
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[Handle] Add support for booleans in the handles (#2065)
  controller_interface/include/semantic_components/led_rgb_device.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/test/test_handle.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[Handle] Add support to more data types
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update branches for semi-binary job
  ros2_control.jazzy.repos
  ros_controls.jazzy.repos
Due: ament_copyright

Update branches for semi-binary job (#2107)
  ros2_control.jazzy.repos
  ros_controls.jazzy.repos
Due: ament_copyright

[Doc] Add documentation of different controller manager clocks
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Apply suggestions from code review
  controller_manager/doc/userdoc.rst
Due: ament_copyright

[Doc] Add documentation of different controller manager clocks (#2109)
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Move test_utils module from demos repo (#1955)
  controller_manager/controller_manager/test_utils.py
  controller_manager/package.xml
  controller_manager/test/test_ros2_control_node.yaml
  controller_manager/test/test_ros2_control_node_launch.py
  doc/release_notes.rst
  ros2_control_test_assets/CMakeLists.txt
  ros2_control_test_assets/urdf/test_hardware_components.urdf
Due: ament_lint_cmake, ament_copyright

Fix merge conflicts
  controller_manager/package.xml
  doc/release_notes.rst
  ros2_control_test_assets/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Add missing remapping
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_copyright

Add documentation + tests of helper methods
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/helpers.hpp
  hardware_interface/test/test_helpers.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

remove and reuse from helpers
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Reject duplicate state/command interfaces after configuring the controller (#2090)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Release interfaces upon destruction of the controller
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

2.49.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Fix typo and add deprecation notice to
  controller_interface/include/controller_interface/helpers.hpp
  hardware_interface/include/hardware_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix documentation
  hardware_interface/include/hardware_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update hardware_interface/include/hardware_interface/helpers.hpp
  hardware_interface/include/hardware_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove the dangling param flag for robot_description with parameter
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix documentation
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Fix documentation of `robot_description` in CM (#2117)
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Remove the dangling param flag for robot_description fom ROS parameters (#2115)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Isolate start and stop interfaces for each Hardware Component
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add more debug information of in the main methods
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

WIP: Fix tests
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix tests of prepare perform switch
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
