Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

feat: add --reconfigure to cleanup and configure again
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/test/test_spawner_unspawner.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

Make configure_controller lifecycle transition strict (no multi-hop) (#3196)
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_load_controller.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  doc/migration.rst
  doc/release_notes.rst
  ros2controlcli/ros2controlcli/verb/load_controller.py
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

6.9.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

4.47.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

5.17.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Add release_notes
  doc/release_notes.rst
Due: ament_copyright

Change version of gz_ros2_control to 'kilted'
  ros_controls.kilted.repos
Due: ament_copyright

Change ros2_control_cmake version to jazzy 4 ros jazzy
  ros2_control.jazzy.repos
Due: ament_copyright

docs: fix Jazzy build status badges in README
  README.md
Due: ament_copyright

fix: address PR review comments for MockHardware service (#3214)
  hardware_interface/CMakeLists.txt
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Relax assertions w.r.t. timing on Ci runners
  controller_manager/CMakeLists.txt
  controller_manager/test/test_controller_manager.cpp
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Avoid concurrent writes to the same .coverage file
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Explicitly interrupt other process
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Make strict assertions the default
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-pre-release.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-semi-binary-downstream-build.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-coverage-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-pre-release.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/jazzy-semi-binary-downstream-build.yml
  .github/workflows/jazzy-source-build.yml
  .github/workflows/kilted-binary-build.yml
  .github/workflows/kilted-coverage-build.yml
  .github/workflows/kilted-debian-build.yml
  .github/workflows/kilted-pre-release.yml
  .github/workflows/kilted-rhel-binary-build.yml
  .github/workflows/kilted-semi-binary-build.yml
  .github/workflows/kilted-semi-binary-downstream-build.yml
  .github/workflows/kilted-source-build.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-compatibility-kilted-binary-build.yml
  .github/workflows/rolling-compatibility-lyrical-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-release.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
  .github/workflows/rolling-source-build.yml
  controller_manager/CMakeLists.txt
  hardware_interface_testing/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Add meaningful return value
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/test/test_force_torque_sensor.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Make assertion platform-independent
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Relax assertions w.r.t. timing on CI runners (#3535)
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-pre-release.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-semi-binary-downstream-build.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-coverage-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-pre-release.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/jazzy-semi-binary-downstream-build.yml
  .github/workflows/jazzy-source-build.yml
  .github/workflows/kilted-binary-build.yml
  .github/workflows/kilted-coverage-build.yml
  .github/workflows/kilted-debian-build.yml
  .github/workflows/kilted-pre-release.yml
  .github/workflows/kilted-rhel-binary-build.yml
  .github/workflows/kilted-semi-binary-build.yml
  .github/workflows/kilted-semi-binary-downstream-build.yml
  .github/workflows/kilted-source-build.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-compatibility-kilted-binary-build.yml
  .github/workflows/rolling-compatibility-lyrical-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-release.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
  .github/workflows/rolling-source-build.yml
  controller_manager/CMakeLists.txt
  controller_manager/test/test_controller_manager.cpp
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Backport changes to workflow files only
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-pre-release.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-semi-binary-downstream-build.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-coverage-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-pre-release.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/jazzy-semi-binary-downstream-build.yml
  .github/workflows/jazzy-source-build.yml
  .github/workflows/kilted-binary-build.yml
  .github/workflows/kilted-coverage-build.yml
  .github/workflows/kilted-debian-build.yml
  .github/workflows/kilted-pre-release.yml
  .github/workflows/kilted-rhel-binary-build.yml
  .github/workflows/kilted-semi-binary-build.yml
  .github/workflows/kilted-semi-binary-downstream-build.yml
  .github/workflows/kilted-source-build.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-compatibility-kilted-binary-build.yml
  .github/workflows/rolling-compatibility-lyrical-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pre-release.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
  .github/workflows/rolling-source-build.yml
Due: ament_copyright

Add test for --unload-on-kill spawner lock behavior (#3035)
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve robustness of spawner tests
  controller_manager/test/test_advanced_spawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Relax condition also for strict level
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Relax assertions also for period and periodicity
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Increase cm timeout
  controller_manager/test/test_advanced_spawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Increase cm timeout
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Usesame pattern also for spawner_unspawner
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_advanced_spawner.cpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Change ros2_control_cmake version to jazzy 4 ros jazzy (#3533)
  ros2_control.jazzy.repos
Due: ament_copyright

Change version of gz_ros2_control to 'kilted' (#3530)
  ros_controls.kilted.repos
Due: ament_copyright
