Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Fix warnings of uninitialized registry
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

increase tolerance of the controller manager tests (#2629)
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Apply changes from code review
  controller_interface/include/semantic_components/magnetic_field_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix warnings of uninitialized registry in GenericSystem tests (#2635)
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix `RCLCPP_WARN_ONCE` within handle (#2630)
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the destructor
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "Remove deprecation warning for kilted now"
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix backwards compatibility code
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove deprecation warning for kilted now
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Reset migration and release notes
  doc/migration.rst
  doc/release_notes.rst
Due: ament_copyright

Add test to CMakeLists.txt
  controller_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Removing current from the transmissions
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/test/differential_transmission_test.cpp
  transmission_interface/test/simple_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Reset migration and release notes for Lyrical Luth (#2646)
  doc/migration.rst
  doc/release_notes.rst
Due: ament_copyright

Update documentation
  doc/release_notes.rst
  hardware_interface/doc/semantic_components.rst
Due: ament_copyright

Update doc/release_notes.rst
  doc/release_notes.rst
Due: ament_copyright

Add magnetic_field_sensor semantic component (#2627)
  controller_interface/CMakeLists.txt
  controller_interface/include/semantic_components/magnetic_field_sensor.hpp
  controller_interface/test/test_magnetic_field_sensor.cpp
  controller_interface/test/test_magnetic_field_sensor.hpp
  doc/release_notes.rst
  hardware_interface/doc/semantic_components.rst
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

add workaround for persistent lock file
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Move clock availability check to controller manager thread
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove deprecation warning for kilted now (#2645)
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Deprecate thread_priority again (#2644)
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the same hardware component node naming issue with multiple controller managers setup
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_with_namespace.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/include/hardware_interface/types/hardware_component_params.hpp
  hardware_interface/include/hardware_interface/types/resource_manager_params.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Move clock availability check to controller manager thread (#2654)
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Change mock hardware to also save the joint names
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Some more asserts
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove debug output
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use the mimic joint index instead
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix mimicked interfaces and standard interfaces if isnan/isinf
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Move comments
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
