Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PEP 257
  - repo: https://github.com/FalconSocial/pre-commit-mirrors-pep257
    rev: v0.3.3
    hooks:
    - id: pep257
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

fully connected diagram
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: none

added graphviz to package exec_depend and cleaned unused code
  ros2controlcli/package.xml
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: none

Remove hybrid services in controller manager. They are just overhead. (#761)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/srv/ConfigureStartController.srv
  controller_manager_msgs/srv/LoadConfigureController.srv
  controller_manager_msgs/srv/LoadStartController.srv
  ros2controlcli/ros2controlcli/api/__init__.py
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.11.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

fix cpplint
  hardware_interface/include/mock_components/visibility_control.h
Due: clang-format, ament_cppcheck, ament_cpplint

Deprecate fake components, long live mock components (#762)
  doc/index.rst
  hardware_interface/CMakeLists.txt
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/doc/writing_new_hardware_interface.rst
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/include/mock_components/visibility_control.h
  hardware_interface/mock_components_plugin_description.xml
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

remove chained controller state message. Add additional informatinon to controller state msg.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager_msgs/msg/ChainedControllerState.msg
  controller_manager_msgs/msg/ControllerState.msg
  controller_manager_msgs/srv/ListControllers.srv
Due: clang-format, ament_cppcheck, ament_cpplint

Hardware interface specific update rate and best practices about it (#716)
  hardware_interface/README.md
Due: none

Using joint limits structure for the admittance controller.
  hardware_interface/include/joint_limits/joint_limits.hpp
  hardware_interface/include/joint_limits/joint_limits_rosparam.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Ros2 control extensions rolling joint limits plugins (#5)
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/include/joint_limits/simple_joint_limiter.hpp
  joint_limits/include/joint_limits/visibility_control.h
  joint_limits/joint_limiters.xml
  joint_limits/package.xml
  joint_limits/src/joint_limiter_interface.cpp
  joint_limits/src/simple_joint_limiter.cpp
  joint_limits/test/test_simple_joint_limiter.cpp
  joint_limits_enforcement_plugins/CMakeLists.txt
  joint_limits_enforcement_plugins/include/joint_limits_enforcement_plugins/visibility_control.h
  joint_limits_enforcement_plugins/include/ruckig_joint_limiter/ruckig_joint_limiter.hpp
  joint_limits_enforcement_plugins/joint_limits_enforcement_plugins.xml
  joint_limits_enforcement_plugins/package.xml
  joint_limits_enforcement_plugins/src/ruckig_joint_limiter.cpp
  joint_limits_enforcement_plugins/test/test_ruckig_joint_limiter.cpp
  ros2_control/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Use auto_declare for parameters to avoid crashing.
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Clean joint_limits package and copy tests into it. They are not working yet.
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/simple_joint_limiter.hpp
  joint_limits/include/joint_limits/visibility_control.h
  joint_limits/joint_limiters.xml
  joint_limits/package.xml
  joint_limits/src/joint_limiter_interface.cpp
  joint_limits/src/simple_joint_limiter.cpp
  joint_limits/test/joint_limits_interface_test.cpp
  joint_limits/test/joint_limits_rosparam.launch.py
  joint_limits/test/joint_limits_rosparam.yaml
  joint_limits/test/joint_limits_rosparam_test.cpp
  joint_limits/test/test_simple_joint_limiter.cpp
  joint_limits_enforcement_plugins/CMakeLists.txt
  joint_limits_enforcement_plugins/include/joint_limits_enforcement_plugins/visibility_control.h
  joint_limits_enforcement_plugins/include/ruckig_joint_limiter/ruckig_joint_limiter.hpp
  joint_limits_enforcement_plugins/joint_limits_enforcement_plugins.xml
  joint_limits_enforcement_plugins/package.xml
  joint_limits_enforcement_plugins/src/ruckig_joint_limiter.cpp
  joint_limits_enforcement_plugins/test/test_ruckig_joint_limiter.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Update joint_limits/package.xml
  joint_limits/package.xml
Due: none

Final updates to according to reviews and trying to re-enable tests.
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/package.xml
  joint_limits/test/joint_limits_interface_test.cpp
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Update ros2_control/package.xml
  ros2_control/package.xml
Due: none

Fix building test & package name in launch script
  joint_limits/CMakeLists.txt
  joint_limits/test/joint_limits_rosparam.launch.py
Due: ament_lint_cmake

Repair tests after code changes.
  joint_limits/test/joint_limits_rosparam.yaml
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make better interfaces for joint limits.
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/package.xml
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Add some documentation
  controller_manager/doc/userdoc.rst
Due: none

Opertunistically enable SCHED_FIFO
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Separate out functions to configure realtime
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/realtime.hpp
  controller_manager/src/realtime.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

reorder headers for ament_cpplint
  controller_manager/src/realtime.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

update variables
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

remove controller_group from service
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/srv/ListControllers.srv
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

update comments
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Deprecate 'start_asap' too as other fields.
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/srv/SwitchController.srv
Due: clang-format, ament_cppcheck, ament_cpplint

Remove 'debug_to_string' methods and use only 'to_string'.
  joint_limits/include/joint_limits/joint_limits.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update documentation according to the comment.
  joint_limits/include/joint_limits/joint_limits.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

[ros2_control_node] Automatically detect if RT kernel is used and opportunistically enable SCHED_FIFO (#748)
  controller_manager/CMakeLists.txt
  controller_manager/doc/userdoc.rst
  controller_manager/include/controller_manager/realtime.hpp
  controller_manager/src/realtime.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Move Joint Limits structures for use in controllers (#462)
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/package.xml
  joint_limits/test/joint_limits_rosparam.launch.py
  joint_limits/test/joint_limits_rosparam.yaml
  joint_limits/test/joint_limits_rosparam_test.cpp
  joint_limits_interface/include/joint_limits_interface/joint_limits.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_rosparam.hpp
  joint_limits_interface/test/joint_limits_interface_test.cpp
  joint_limits_interface/test/joint_limits_rosparam_test.cpp
  ros2_control/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Deprecate and rename `start` and `stop` nomenclature toward user to `activate` and `deactivate` #ABI-breaking (#755)
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/launch_utils.py
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/srv/SwitchController.srv
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/load_controller.py
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
  ros2controlcli/ros2controlcli/verb/switch_controllers.py
Due: clang-format, ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

Adjust package version for release
  joint_limits/package.xml
Due: none

2.12.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Fix spelling in comment
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix spelling in comment (#769)
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

[ros2_control_node] Automatically detect if RT kernel is used and opportunistically enable SCHED_FIFO (#748) (#768)
  controller_manager/CMakeLists.txt
  controller_manager/doc/userdoc.rst
  controller_manager/include/controller_manager/realtime.hpp
  controller_manager/src/realtime.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake
