Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.3
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Apply suggestions from code review
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Tests for hardware spawner.
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/test/test_hardware_spawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Preparation of Handles for Variant Support (#1678)
  hardware_interface/include/hardware_interface/handle.hpp
  transmission_interface/include/transmission_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint

rename get/set_state to get/set_lifecycle_state in hw
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/async_components.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint

change get/set_state to get/set_lifcycle_state in controllers as well to have unified interface for setting getting lifecylce state
  controller_interface/include/controller_interface/async_controller.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/chainable_controller_interface.cpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
  controller_manager/test/test_release_interfaces.cpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

use interfacedescription for creation of handle, depricate old way
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint

add fogotten includes
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint

Test fixes.
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/spawner.py
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_spawner_with_type.yaml
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Test fixes.
  controller_manager/controller_manager/spawner.py
Due: none

Fix formatting.
  controller_manager/controller_manager/spawner.py
  controller_manager/test/controller_manager_test_common.hpp
Due: ament_cppcheck, ament_cpplint

Update spawner.py
  controller_manager/controller_manager/spawner.py
Due: none

Update userdoc.rst
  controller_manager/doc/userdoc.rst
Due: none

Update controller_manager/doc/userdoc.rst
  controller_manager/doc/userdoc.rst
Due: none

Fixup compilation.
  controller_manager/test/controller_manager_test_common.hpp
Due: ament_cppcheck, ament_cpplint

[CI] Backport #1636 #1668 and fix coverage on jammy (#1677)
  codecov.yml
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_ros2_control_node.yaml
  controller_manager/test/test_ros2_control_node_launch.py
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Robustify controller spawner and add integration test with many controllers (#1501)
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

update release notes
  doc/release_notes.rst
Due: none

split hw related changes from #1240
  doc/Iron.rst
  hardware_interface/CMakeLists.txt
  hardware_interface/doc/writing_new_hardware_component.rst
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface/test/test_components.hpp
  hardware_interface/test/test_handle.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Update hardware_interface/doc/hardware_interface_types_userdoc.rst
  hardware_interface/doc/hardware_interface_types_userdoc.rst
Due: none

Fix formatting.
  hardware_interface/doc/hardware_interface_types_userdoc.rst
Due: none

Apply suggestions from code review
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Update controller_manager/test/test_spawner_unspawner.cpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Make list controller and list hardware components immediately visualize the state. (#1606)
  controller_manager/controller_manager/spawner.py
  ros2controlcli/ros2controlcli/verb/list_controllers.py
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
Due: none

Apply suggestions from code review
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
Due: none

Update list_hardware_components.py
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
Due: none

Fix spawner tests timeout
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint
