Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.3
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

prepare and perform mode switch in the write cycle on returning error
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

prepare and perform mode switch in the update cycle on failed controllers
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

update the documentaion on spawners
  controller_manager/doc/userdoc.rst
Due: none

fix the splitting when not parsed
  controller_manager/controller_manager/spawner.py
Due: none

Add missing )
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added test for the remapped service from the controller using the spawner args
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add controller node options args to be able to set controller specific node options arguments
  controller_manager/controller_manager/spawner.py
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint

Use the consexpr for --ros-args
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add deprecation notice to remapping args to the controller manager node
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

update release_notes
  doc/release_notes.rst
Due: none

Add test_actuator_exclusive_interfaces test component to consider interface claiming
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
  hardware_interface_testing/test/test_components/test_components.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add exclusive interfaces hardware resources test description
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

add pre-committing changes
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
Due: ament_cppcheck, ament_cpplint

Add a way to set the external commands for testing
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
Due: ament_cppcheck, ament_cpplint

added test for the deactivation in the control loops
  controller_manager/CMakeLists.txt
  controller_manager/test/test_release_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Tests for hardware spawner.
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/test/test_hardware_spawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Fully support spawning a list of hardware components
  controller_manager/controller_manager/hardware_spawner.py
Due: none

Make tests work
  controller_manager/test/test_hardware_spawner.cpp
Due: ament_cppcheck, ament_cpplint

Remove temporary debug output
  controller_manager/controller_manager/hardware_spawner.py
Due: none

Use python3 coverage instead of ros2 run in tests
  controller_manager/test/test_hardware_spawner.cpp
Due: ament_cppcheck, ament_cpplint

remove unnecessary parts
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Actually check component's state after changing it
  controller_manager/test/test_hardware_spawner.cpp
Due: ament_cppcheck, ament_cpplint

Update hardware_spawner's user documentation
  controller_manager/doc/userdoc.rst
Due: none

Code formatting
  controller_manager/test/test_hardware_spawner.cpp
Due: ament_cppcheck, ament_cpplint

fix tests after rebasing
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Fix to properly propagate the controller NodeOptions
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint

Add support for sdf
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

[ControllerInterface] Fix to properly propagate the controller NodeOptions (#1762)
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint

Apply suggestions from code review
  doc/migration.rst
Due: none

redecorating
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
Due: ament_cppcheck, ament_cpplint

refactor add interfaces
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

fix format
  hardware_interface/test/test_component_interfaces_custom_export.cpp
Due: ament_cppcheck, ament_cpplint

Update hardware_interface/src/resource_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Automatic Creation of Handles in HW, Adding Getters/Setters (variant support) (#1688)
  doc/migration.rst
  doc/release_notes.rst
  hardware_interface/CMakeLists.txt
  hardware_interface/doc/writing_new_hardware_component.rst
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  hardware_interface/test/test_components.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add diagnostics for the hardware components
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add diagnostics of Controller Manager
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

change to warn when not atleast one HW component is active
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Improve controller activity diagnostics
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add parse_state_interface_descriptions and parse_command_interface_descriptions to import the components
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

fix the thread_priority parameter declaration type
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint
