Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

[HW_IF] Prepare the handles for async operations (#1750)
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[ros2_control_node] Handle simulation environment clocks (#1810)
  controller_manager/src/ros2_control_node.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

reset the async variables upon activation to work post exceptions
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update release_notes.rst
  doc/release_notes.rst
Due: ament_copyright

Fix release notes
  doc/release_notes.rst
Due: ament_copyright

Fix merge conflict
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add Support for SDF (#1763)
  doc/release_notes.rst
  hardware_interface/package.xml
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use Clock instead of Rate for backward compatibility of rolling
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use Clock instead of Rate for backward compatibility of rolling (#1864)
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

reset the async variables upon activation to work post exceptions (#1860)
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

change from thread_priority.hpp to realtime_helpers.hpp (#1829)
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Apply suggestions from code review
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

4.20.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

fail-fast: false (#1397)
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/iron-binary-build.yml
  .github/workflows/iron-debian-build.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/iron-semi-binary-build.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: ament_copyright

Fix the missing bcolors.ENDC in hardware_spawner log prints
  controller_manager/controller_manager/hardware_spawner.py
Due: ament_copyright

Fix the missing bcolors.ENDC in hardware_spawner log prints (#1870)
  controller_manager/controller_manager/hardware_spawner.py
Due: ament_copyright

Fix conflicts
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

FIx missing lines
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Fix Hardware spawner and add tests for it (#1759)
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/test/test_hardware_spawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix conflict
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Fix pre-commit
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

2.44.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Choose pass_urdf_as_parameter as false
  controller_manager/test/test_hardware_spawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the API of the tests and the CMakeLists.txt
  controller_manager/CMakeLists.txt
  controller_manager/test/test_hardware_spawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Apply target properties as other tests
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Fix CMP0115 (#1830)
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
