Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-10
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Use lifecycle_msgs/State in ListHardwareCompoents for state representation.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/msg/HardwareComponentsState.msg
  controller_manager_msgs/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Simplify repeatable code in methods.
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add HW shutdown structure into ResouceManager.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/CMakeLists.txt
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Fill out service callback in CM and add parameter for auto-configure.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager_msgs/srv/ShutdownHardwareComponent.srv
Due: clang-format, ament_cppcheck, ament_cpplint

Do not automatically configure hardware in RM.
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Move claimed_command_itf_map to ResourceStorage from ResourceManager.
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Lifecycle and claiming in Resource Manager is working.
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Extend controller manger to support HW lifecycle.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add also available and claimed status into list compoentns service output.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager_msgs/msg/HardwareInterface.msg
  hardware_interface/include/hardware_interface/hardware_component_info.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make all output in services debug-output.
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add SetHardwareComponentState service.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/srv/SetHardwareComponentState.srv
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Remove specific services for hardware lifecycle management and leave only 'set_hardware_component_state' service.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/srv/ManageHardwareActivity.srv
  controller_manager_msgs/srv/ShutdownHardwareComponent.srv
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

fix typo
  hardware_interface/doc/hardware_components_userdoc.rst
Due: none

Fix formatting.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Supress compile warning on unused test constants.
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make init_resource_manager less stateful.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix formatting.
  controller_manager/test/test_hardware_management_srvs.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Address comments from review.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/msg/HardwareComponentState.msg
  controller_manager_msgs/srv/ListHardwareComponents.srv
  controller_manager_msgs/srv/SetHardwareComponentState.srv
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Revert full-file chnages.
  controller_manager/CMakeLists.txt
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Add empty services into CM.
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove some more files.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  hardware_interface/include/hardware_interface/hardware_component_info.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Addressing review comments.
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Clang.
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Code fix. (I hope final commit)
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make populate interfaces method clearer.
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Rename argument for clarity
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Use parameterized test for STRICT and BEST_EFFORT.
  controller_manager/test/test_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

fix get_update_rate visibility in windows
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Correct formatting.
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

fix get_update_rate visibility in windows (#586)
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Point control_msgs to galactic branch
  ros2_control/ros2_control.repos
Due: none

Add service-skeletons for controlling hardware lifecycle. (#585)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/msg/HardwareComponentState.msg
  controller_manager_msgs/msg/HardwareInterface.msg
  controller_manager_msgs/package.xml
  controller_manager_msgs/srv/ListHardwareComponents.srv
  controller_manager_msgs/srv/SetHardwareComponentState.srv
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Fixup generic system tests.
  hardware_interface/test/fake_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Point control_msgs to galacitc branch.
  ros2_control/ros2_control.repos
Due: none

Optimize tests of generic system per review comment.
  hardware_interface/test/fake_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Optimize tests of RM
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Keep old api to start/activate all components per default.
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Restore Controller Manager package.
  controller_manager/CMakeLists.txt
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  hardware_interface/doc/hardware_components_userdoc.rst
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
