Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

3.27.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

remove the deprecated args in the controller_manager spawner
  controller_manager/controller_manager/launch_utils.py
  controller_manager/controller_manager/spawner.py
Due: none

spawner tests with deprecated args cleanup
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Add release notes for the removed args
  doc/release_notes.rst
Due: none

[CM] Remove deprecated spawner args (#1639)
  controller_manager/controller_manager/launch_utils.py
  controller_manager/controller_manager/spawner.py
  controller_manager/test/test_spawner_unspawner.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint

Add a pytest launch file to test ros2_control_node (#1636)
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_ros2_control_node.yaml
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_lint_cmake

fix the fallback controllers controller name
  controller_manager/controller_manager/spawner.py
Due: none

fix the controller manager namespacing in spawner
  controller_manager/controller_manager/spawner.py
Due: none

use non prefixed controller name to check if the controller is loaded or not
  controller_manager/controller_manager/spawner.py
Due: none

Added test to test with the namespaced controller manager
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Fix controllers parameters of controller manager
  controller_manager/controller_manager/spawner.py
Due: none

remove the `--namespace` option and prefixed_controller_name internal variable
  controller_manager/controller_manager/spawner.py
Due: none

Add tests parsing the controllers from the param file to a namespaced controller_manager
  controller_manager/CMakeLists.txt
  controller_manager/test/test_controller_spawner_with_type.yaml
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Update the spawner tests with the ros namespacing
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

add `--namespace` as deprecated and also tests for the deprecated arg
  controller_manager/controller_manager/spawner.py
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

use spawner namespace for the fallback controllers retrieval as well
  controller_manager/controller_manager/spawner.py
Due: none

Update the helper scripts documentation and update release notes
  controller_manager/doc/userdoc.rst
  doc/release_notes.rst
Due: none

Add test case for switch_controller timing out
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Update the userdoc for the deprecated --namespace option
  controller_manager/doc/userdoc.rst
Due: none

Fix rqt_cm paragraph
  controller_manager/doc/userdoc.rst
Due: none

Fix indent
  doc/debugging.rst
Due: none

add get hardware info method to the Hardware Components
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_hardware_components/test_imu_sensor.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
Due: ament_cppcheck, ament_cpplint

Fix rst markup (#1642)
  controller_manager/doc/userdoc.rst
  doc/debugging.rst
Due: none

Update the release notes
  doc/release_notes.rst
Due: none

Add <set>
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add missing include to rclcpp
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint

DEPRECATED
  controller_manager/controller_manager/spawner.py
Due: none

CM: Add missing includes (#1641)
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint

[RM] Add `get_hardware_info` method to the Hardware Components (#1643)
  doc/release_notes.rst
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_hardware_components/test_imu_sensor.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
Due: ament_cppcheck, ament_cpplint

Fix the namespaced controller_manager spawner + added tests (#1640)
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_spawner_with_type.yaml
  controller_manager/test/test_spawner_unspawner.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

added error logs for failed hardware components and their cached controllers in read and write cycle
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add nice logging for activated and deactivated controllers list upon switching
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Adding logging for loading and unloading controllers as well
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

initial fix for HW components concurrency issue
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/sensor.cpp
Due: ament_cppcheck, ament_cpplint

Add the concurrency fix to the System hardware component
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint

remove the blocking resource locks
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

readd missing const in get_logger method of actuator and sensor
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
Due: ament_cppcheck, ament_cpplint

Fix merge conflicts
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix format
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
