Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

added alias based sensor, system, actuator
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/system.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

removed redundant .cpp files
  hardware_interface/CMakeLists.txt
  hardware_interface/src/actuator.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

fixed tests
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

updated cmakelists
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

fixed failing tests
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

write only works during active
  hardware_interface/src/actuator.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "fixed failing tests"
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "fixed tests"
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Start of Unification for `Sensor`, `Actuator`, and `System` into a Single Class (#2451)
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/hardware_component.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/hardware_component.cpp
  hardware_interface/src/sensor.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Supress deprecated RM API warnings in the tests (#2428)
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "Start of Unification for `Sensor`, `Actuator`, and `System` into a Si…"
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/hardware_component.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Revert "Start of Unification for `Sensor`, `Actuator`, and `System` into a Si…" (#2456)
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/hardware_component.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Unify `write` behavior between Actuator and System hardware interfaces (#2453)
  hardware_interface/src/actuator.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Start of Unification for `Sensor`, `Actuator`, and `System` into a Single Class (#2451)
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/hardware_component.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/hardware_component.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Start of Unification for `Sensor`, `Actuator`, and `System` into a Single Class (#2451) (#2459)
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/hardware_component.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/hardware_component.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Start of Unification for `Sensor`, `Actuator`, and `System` into a Single Class (#2451)
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/hardware_component.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/src/hardware_component.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add missing deprecation of Jazzy
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix merge conflicts
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/hardware_component.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix pre-commit
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use the SwitchParams for managing the vectors
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add changes to properly use activate_asap in context of switching controllers
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update release_notes
  doc/release_notes.rst
Due: ament_copyright

Add tests for switching controllers in nonRT loop
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add --switch-asap option to spawner
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Update docs
  doc/migration.rst
  doc/release_notes.rst
Due: ament_copyright

WIP: Register statistics of the controller_manager
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/types/statistics_types.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Working timing stats of controller manager
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
  hardware_interface/include/hardware_interface/types/statistics_types.hpp
  hardware_interface/src/hardware_component.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

change to REGISTER_ENTITY
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/introspection.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Simplify registering and unregistering the statistics of HW and controllers
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/introspection.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

improve the debug prints
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Throttle the overrun log
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add more statistics
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Set back the original load_and_initialize_components
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix the gazebo registration usecase
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update doc and release notes
  doc/introspection.rst
  doc/release_notes.rst
Due: ament_copyright

Add customRegister for the StatisticData from libstatistics_collector
  hardware_interface/include/hardware_interface/introspection.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright
