Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-10
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Test with parenthesis.
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove debugg stuff.
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Set initial velocity to zero.
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

implement controller go functionality
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

add configure function for update_rate inside controller manager
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

add update_rate member field to controller manager
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

use cm update_rate inside the update() loop iinstead of main loop counter
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/src/controller_interface.cpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

add WIP tests to per-controller-update-rate and use unsigned integers for the update rate variables
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/src/controller_interface.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Adapt fake component to use velocity control.
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add option to use velocity and position mode at the same time.
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

rebase master branch, and calculate period inside Cm::update() if the controller's update rate doesn't match the cm's
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/src/controller_interface.cpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/test_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

set the controller's update rate if the node's update_rate parameter is undefined, and make precommit happy
  controller_interface/src/controller_interface.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/scripts/__pycache__/spawner.cpython-38.pyc
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

remove WIP test case
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Do read and write only in inactive and active states.
  hardware_interface/src/actuator.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_component_interfaces.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Apply suggestions from code review
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

remove pyc file
  controller_manager/scripts/__pycache__/spawner.cpython-38.pyc
Due: none

Move reading update_rate param to CM constructor, remove CM::configure() method
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update controller_manager/src/ros2_control_node.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Per controller update rate without tests (#513)
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/src/controller_interface.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

use time since epoch instead of time since session start
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

use ControllerManager node clock for control loop timepoints
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

simplify to use rclcpp::Time
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Use ControllerManager node clock for control loop timepoints (#542)
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Apply suggestions from code review
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/include/hardware_interface/sensor_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Hardware components extension for lifecycle support (#503)
  doc/index.rst
  hardware_interface/CMakeLists.txt
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/base_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/include/hardware_interface/types/hardware_interface_status_values.hpp
  hardware_interface/include/hardware_interface/types/lifecycle_state_names.hpp
  hardware_interface/package.xml
  hardware_interface/src/actuator.cpp
  hardware_interface/src/fake_components/generic_system.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_sensor.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

1.0.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

add M_PI macro for windows foxy in test_component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

add M_PI macro for windows foxy in test_component_parser.cpp (#545)
  hardware_interface/test/test_component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add error handling possilibity on read and write.
  hardware_interface/src/actuator.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_component_interfaces.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add some short docs.
  hardware_interface/doc/hardware_components_userdoc.rst
Due: none

Apply suggestions from code review
  hardware_interface/doc/hardware_components_userdoc.rst
Due: none

Correct typo in variable name.
  hardware_interface/test/test_component_interfaces.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add option to automatically update parameters after getting them from parameter server.
  controller_interface/include/controller_interface/controller_parameters.hpp
  controller_interface/src/controller_parameters.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix: be more exact about the message type in the service definiton.
  controller_manager_msgs/srv/ListControllers.srv
Due: none

Concept of listing all required interfaces for controllers.
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/msg/ControllerState.msg
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: clang-format, ament_cppcheck, ament_cpplint

Add flags to select interface type to print
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: none

controller_manager: Use command_interface_configuration for the claimed interfaces when calling list_controllers
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Revert test changes
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
