Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

5.10.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Update test_handle.cpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

6.2.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

4.41.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Clean code, put loading components and importing joint limits all in one init_resource_manager_function
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add Pimpl implementation to controller interface base class
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

make hardware component interface a library
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/src/hardware_component_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add virtual custom node options method
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/src/hardware_component_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

First set of variables with Pimpl approacg
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/src/hardware_component_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add second set of variables to Pimpl approach
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/src/hardware_component_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

set default roles to the Transmissions
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add cast_from_double
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add new interface_configuration_types and reusable methods
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update release_notes
  doc/release_notes.rst
Due: ament_copyright

Update controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix pre-commit
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve the logic
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

initialize the variable to fix the flaky test
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

catch bad variant access exceptions
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

change to prints for testing
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix missing copy and move operations of data_type_ variable
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add exceptions for non double export
  controller_interface/src/chainable_controller_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix missing copy and move operations of data_type_ variable (#2903)
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix assertions for behavior for jazzy
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix links in release notes
  doc/release_notes.rst
Due: ament_copyright

Fix links in release notes (#2910)
  doc/release_notes.rst
Due: ament_copyright

Update release_notes.rst
  doc/release_notes.rst
Due: ament_copyright

Update controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

added cleanup controller to set_controller_state
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
Due: ament_copyright

updated released notes
  doc/release_notes.rst
Due: ament_copyright

Add `cleanup_controller` lifecycle transition (#2414)
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_cleanup_controller.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/srv/CleanupController.srv
  doc/release_notes.rst
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/cleanup_controller.py
  ros2controlcli/setup.py
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
