Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

[Spawner] Fix exception of time.sleep in spawner (#3124)
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

fix conflicts
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

update doc
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Refactor launch test to use launch substitutions instead of os, edit docstring
  controller_manager/controller_manager/launch_utils.py
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_copyright

Add tests for ControllerManager with non-default CM update rates
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

(win): Remove ninja_packages input
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

(win): Remove ninja_packages input (#3146)
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

[Spawner] Allow parsing the parameter files parsed from spawner to controllers (#3136)
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/test/test_advanced_spawner.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the spawner
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

[rqt_controller_manager] show update_rate and is_async in details window
  rqt_controller_manager/resource/popup_info.ui
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

Export information of supported interfaces from transmissions (#3049)
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/include/transmission_interface/transmission.hpp
  transmission_interface/test/differential_transmission_test.cpp
  transmission_interface/test/four_bar_linkage_transmission_test.cpp
  transmission_interface/test/simple_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix(hardware_interface): include component name in parsing error messages
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

style(hardware_interface): apply clang-format to component_parser.cpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update to new API
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix(hardware_interface): restore deprecated thread_priority backward-compat assertions
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests for GPIO parsing behavior in component_parser
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[rqt_controller_manager] show update_rate and is_async in details window (#3154)
  rqt_controller_manager/resource/popup_info.ui
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

fix(hardware_interface): restore legacy thread_priority assignment order and guards
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix(hardware_interface): include component name in parsing error messages (#3144)
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add pal_statistics as explicit dependency
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/package.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add error recovery for invalid URDFs in controller manager initialization, robot description callback and resource manager constructor
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests for error recovery
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_controller_manager_with_resource_manager.cpp
  controller_manager/test/test_controller_manager_with_resource_manager.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

use intantiation instead of init_min_resource_manager()
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Apply suggestions from code review
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Apply suggestions from code review and run precommit
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_with_resource_manager.cpp
  controller_manager/test/test_controller_manager_with_resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix logic for simpler reviewing
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix test to adjust to new changes
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Clean code, put loading components and importing joint limits all in one init_resource_manager_function
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Commit suggested comment
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
