Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Rm soft_joint_limiter.hpp
  joint_limits/include/joint_limits/soft_joint_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

check for node parameter interface before declaring and getting the parameters
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

remove unused test cases
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

enable moving out of position limit if velocity is in "right" direction
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

rename of SoftJointLimiter to JointSoftLimiter and some minor changes from manuel
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_soft_limiter.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_soft_limiter.cpp
  joint_limits/src/soft_joint_limiter.cpp
  joint_limits/test/test_joint_limiter.hpp
  joint_limits/test/test_joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

update the velocity limits based on the position of the joint
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the undefined behavior when lower bound is greater than upper bound
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Derive SoiftJointLimiter from JointSaturationLimiter<JointControlInterfacesData> and enforce hard limtis
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/src/soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add pre-comitting fixes
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/test/test_joint_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests for the case of no position limits
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

better combined desired references test
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

pass by const reference and parse the optional actual position and velocity
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix typo in plugins definition
  joint_limits/joint_limiters.xml
Due: ament_copyright

Format changes
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/soft_joint_limiter.cpp
  joint_limits/test/test_joint_limiter.hpp
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Implement SoftJointLimiter class
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/soft_joint_limiter.hpp
  joint_limits/src/soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

better computation of the position limits
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Added methods to check is the parameter and logging interfaces are set or not
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

check the size of the joint limits and the joint names in the init method
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update the loguic to check if the actual position is within bounds and it's tolerance
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Added comments to the has_logging_interface and has_parameter_interface methods
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

added joint range limiter library for individual joints control
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limiter_struct.hpp
  joint_limits/include/joint_limits/joint_range_limiter.hpp
  joint_limits/joint_limiters.xml
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

update the joint range limiter test with case of only desired position availability case
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_range_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Test uses cases for SoftJointLimiter in velocity interface
  joint_limits/src/soft_joint_limiter.cpp
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

reset the prev_data_ on initialization
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add test cases of the actual and desired position cases
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix minor bug in the limit enforcement
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add initial value to every state interface to supress warnings
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update value to false
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove from else block
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Destroy the client explicitely
  controller_manager/controller_manager/controller_manager_services.py
Due: ament_copyright

fix misc typos and fix test errors
  controller_interface/include/semantic_components/led_rgb_device.hpp
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
  controller_interface/test/test_led_rgb_device.cpp
  controller_interface/test/test_led_rgb_device.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add led_rgb_device
  controller_interface/include/semantic_components/led_rgb_device.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add tests for LED device RQ: not build yet, issue with rest of repos for build. Will rebase on previous TAG for now.
  controller_interface/CMakeLists.txt
  controller_interface/test/test_led_rgb_device.cpp
  controller_interface/test/test_led_rgb_device.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

lint
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add semantic component command interface
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

refactor smr version of semantic command interface to match ros-control style
  controller_interface/CMakeLists.txt
  controller_interface/test/test_semantic_component_command_interface.cpp
  controller_interface/test/test_semantic_component_command_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

add "validate_custom_names" test case
  controller_interface/test/test_led_rgb_device.cpp
  controller_interface/test/test_led_rgb_device.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update controller_manager/test/test_spawner_unspawner.cpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

2.46.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
