Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PEP 257
  - repo: https://github.com/FalconSocial/pre-commit-mirrors-pep257
    rev: v0.3.3
    hooks:
    - id: pep257
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

fix AttributeError: Parameter object attribute name is read-only (#957)
  controller_manager/controller_manager/spawner.py
Due: none

fix conflict
  controller_manager/controller_manager/spawner.py
Due: none

fix AttributeError: Parameter object attribute name is read-only (#957) (#958)
  controller_manager/controller_manager/spawner.py
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.24.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

3.9.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Use std::clamp
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Use std::clamp (#959)
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update ros2_control_node.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Delete rolling-abi-compatibility.yml
  .github/workflows/rolling-abi-compatibility.yml
Due: none

[CI] Delete ABI compatiblity checks for rolling (#962)
  .github/workflows/rolling-abi-compatibility.yml
Due: none

Fix missing include
  transmission_interface/include/transmission_interface/transmission_loader.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix missing include (#963)
  transmission_interface/include/transmission_interface/transmission_loader.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix missing include (#963) (#965)
  transmission_interface/include/transmission_interface/transmission_loader.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Added controller parameters structures and movement interfaces.
  controller_interface/include/controller_interface/controller_parameters.hpp
  controller_interface/src/controller_parameters.cpp
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Revert "Make double parsing locale independent (#921)"
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/test_component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Revert "Make double parsing locale independent (#921)" (#966)
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/test_component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

3.9.1
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

2.24.1
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

make code a bit more readable + use controller update rate
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

add spawner for hardware (#941)
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/setup.cfg
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

gtest is not needed
  transmission_interface/CMakeLists.txt
  transmission_interface/package.xml
  transmission_interface/test/utils_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Split transmission interfaces (#938)
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  transmission_interface/CMakeLists.txt
  transmission_interface/include/transmission_interface/accessor.hpp
  transmission_interface/test/utils_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

fix conflict
  transmission_interface/CMakeLists.txt
Due: ament_lint_cmake

Use only major an minor version numbers.
  .github/workflows/ci-coverage-build.yml
  .github/workflows/ci-ros-lint.yml
  .github/workflows/reusable-ros-tooling-source-build.yml
Due: none

Handle HW errors on read and write in CM by stopping controllers (#742)
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

fix format
  transmission_interface/CMakeLists.txt
Due: ament_lint_cmake

Apply suggestions from code review
  .github/workflows/ci-coverage-build.yml
  .github/workflows/ci-ros-lint.yml
  .github/workflows/reusable-ros-tooling-source-build.yml
Due: none

copy unavailable functions from master
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Added joint limiter plugins.
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/simple_joint_limiter.hpp
  joint_limits/include/joint_limits/visibility_control.h
  joint_limits/joint_limiters.xml
  joint_limits/src/joint_limiter_interface.cpp
  joint_limits/src/simple_joint_limiter.cpp
  joint_limits/test/test_simple_joint_limiter.cpp
  joint_limits_enforcement_plugins/CMakeLists.txt
  joint_limits_enforcement_plugins/include/joint_limits_enforcement_plugins/visibility_control.h
  joint_limits_enforcement_plugins/include/ruckig_joint_limiter/ruckig_joint_limiter.hpp
  joint_limits_enforcement_plugins/joint_limits_enforcement_plugins.xml
  joint_limits_enforcement_plugins/package.xml
  joint_limits_enforcement_plugins/src/ruckig_joint_limiter.cpp
  joint_limits_enforcement_plugins/test/test_ruckig_joint_limiter.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Debug Ruckig JointLimiter.
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits_enforcement_plugins/src/ruckig_joint_limiter.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Modify simple joint limiting plugin (same as changes to moveit2 filter) (#6)
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/controller_parameters.hpp
  controller_interface/package.xml
  controller_interface/src/controller_parameters.cpp
  hardware_interface/CMakeLists.txt
  hardware_interface/package.xml
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/package.xml
  joint_limits/src/joint_limiter_interface.cpp
  joint_limits/src/simple_joint_limiter.cpp
  joint_limits_enforcement_plugins/CMakeLists.txt
  joint_limits_enforcement_plugins/package.xml
  joint_limits_interface/CMakeLists.txt
  joint_limits_interface/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Remove all Ruckig-limiter files.
  joint_limits_enforcement_plugins/CMakeLists.txt
  joint_limits_enforcement_plugins/include/joint_limits_enforcement_plugins/visibility_control.h
  joint_limits_enforcement_plugins/include/ruckig_joint_limiter/ruckig_joint_limiter.hpp
  joint_limits_enforcement_plugins/joint_limits_enforcement_plugins.xml
  joint_limits_enforcement_plugins/package.xml
  joint_limits_enforcement_plugins/src/ruckig_joint_limiter.cpp
  joint_limits_enforcement_plugins/test/test_ruckig_joint_limiter.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

3.10.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none
