Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Fix typo in docs (#1219)
  hardware_interface/doc/mock_components_userdoc.rst
Due: none

Increase timeout
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake

[CM] Increase tests timeout (#1224)
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake

Fix formatting.
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

[CM] Set chained controller interfaces 'available' for activated controllers (#1098)
  controller_manager/doc/controller_chaining.rst
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add additional checks for non existing and not available interfaces.
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Protect components from being called only in inactive and active states.
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Make reference interfaces of chainable controllers available in inactive state.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Revert "Make reference interfaces of chainable controllers available in inactive state."
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

[RM] Separate tests for prepare and perform switch because they are long.
  hardware_interface/CMakeLists.txt
  hardware_interface/test/test_resource_manager.cpp
  hardware_interface/test/test_resource_manager.hpp
  hardware_interface/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Optimize prepre/perform switch in RM and add additional documentation about it.
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
Due: ament_cppcheck, ament_cpplint

Issue-759: Adding cleanup service
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/srv/CleanupController.srv
  ros2controlcli/ros2controlcli/verb/cleanup_controller.py
  ros2controlcli/setup.py
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Revert "Issue-759: Adding cleanup service"
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/srv/CleanupController.srv
  ros2controlcli/ros2controlcli/verb/cleanup_controller.py
  ros2controlcli/setup.py
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Update controller_manager.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fixup the test URDF to not crash unneccessray the stack. This was hidden by catching all exceptions until now.
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Remove loading from robot description from parameter.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Remove support for description from parameter from the tests. Don't throw errors when comparing URDF and exported interfaces but add warning about this.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager/test/test_load_controller.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Optimize prepre/perform switch in CM and add additional documentation about it in the RM.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Make variable name clearer: rename 'request' to 'controller_name'.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Remove old parameter from tests.
  controller_manager/test/test_hardware_management_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Move 'manage_switch' method and 'do_switch' flag to more appropriate positions.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added functionality and tests for getting robot description from the topic.
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Recover defintion of 'active_state' variable.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix tests.
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Remove deprecated parameters and warning about getting robot descritpion from parameter.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

issue-695: correcting namespace to node_namespace
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Try using SCHED_FIFO on any kernel (#1142)
  controller_manager/doc/userdoc.rst
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint

[transmission_interface] relaxes float tolerance in tests
  transmission_interface/test/differential_transmission_test.cpp
  transmission_interface/test/four_bar_linkage_transmission_test.cpp
  transmission_interface/test/simple_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint

[transmission_interface] replaces EXPECT_EQ for floats with EXPECT_THAT(..., DoubleNear(...))
  transmission_interface/test/differential_transmission_loader_test.cpp
  transmission_interface/test/differential_transmission_test.cpp
  transmission_interface/test/four_bar_linkage_transmission_loader_test.cpp
  transmission_interface/test/four_bar_linkage_transmission_test.cpp
  transmission_interface/test/simple_transmission_loader_test.cpp
  transmission_interface/test/simple_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint

Update ci-ros-lint.yml (#1211)
  .github/workflows/ci-ros-lint.yml
Due: none
