Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.3
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

[CI] Update branch of reusable workflow (#1537)
  .github/workflows/rolling-check-docs.yml
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

4.11.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Update controller_manager.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

simplify the logic inside the thread
  controller_interface/include/controller_interface/async_function_handler.hpp
Due: ament_cppcheck, ament_cpplint

add pre-commit formatting changes
  controller_interface/include/controller_interface/async_function_handler.hpp
Due: ament_cppcheck, ament_cpplint

remove the AsyncControllerThread integration to replace it with AsyncFunctionHandler
  controller_interface/include/controller_interface/async_controller.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Apply suggestions from Bence's code review
  hardware_interface/doc/hardware_interface_types_userdoc.rst
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

update the docs of set_chained_mode method
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint

add key-value storage to the IntefaceInfo, parameters can now be defined per Command-/StateInterface
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

add overview and usage of key-value storage to docs
  hardware_interface/doc/hardware_interface_types_userdoc.rst
Due: none

[Feature] Hardware Components Grouping (#1458)
  hardware_interface/doc/hardware_interface_types_userdoc.rst
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/hardware_component_info.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

Fix controllers parameters of controller manager
  controller_manager/controller_manager/spawner.py
Due: none

Test also changes to py files (i.e., spawner)
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/iron-abi-compatibility.yml
  .github/workflows/iron-binary-build.yml
  .github/workflows/iron-coverage-build.yml
  .github/workflows/iron-debian-build.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/iron-semi-binary-build.yml
  .github/workflows/iron-source-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/jazzy-source-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-source-build.yml
Due: none

[CI] Test also changes to py files (i.e., spawner) (#1548)
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/iron-abi-compatibility.yml
  .github/workflows/iron-binary-build.yml
  .github/workflows/iron-coverage-build.yml
  .github/workflows/iron-debian-build.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/iron-semi-binary-build.yml
  .github/workflows/iron-source-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/jazzy-source-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-source-build.yml
Due: none

Properly test if ctrl period is correct if activated at nonzero time
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix the initialization of the next update time
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Improve debug output
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Remove mimic parameter from ros2_control tag
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: none

Fix codespell and satisfy linter
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  joint_limits/include/joint_limits/joint_limits.hpp
Due: ament_cppcheck, ament_cpplint

Fix codespell
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Reactivate generate_version_header
  joint_limits/CMakeLists.txt
  joint_limits/package.xml
Due: ament_lint_cmake

Reactivate generate_version_header (#1544)
  joint_limits/CMakeLists.txt
  joint_limits/package.xml
Due: ament_lint_cmake

Add doc page about joint kinematics (#1497)
  doc/index.rst
  hardware_interface/doc/joints_userdoc.rst
Due: none

Fix update `period` for the first update after activation (#1551)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

use try lock instead of lock
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

forget to only publish if try lock is successfull
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Ask for forgiveness, not permission Aligns spawner and unspawner logic
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/controller_manager/spawner.py
Due: none

Handle on waiting
  controller_manager/controller_manager/spawner.py
Due: none

fixup! Handle on waiting
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/controller_manager/unspawner.py
Due: none

fixup! Ask for forgiveness, not permission Aligns spawner and unspawner logic
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
Due: none

Update docs on hardware_spawner
  controller_manager/doc/userdoc.rst
Due: none

Drop test which relied on timeout
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Update controller_manager/doc/userdoc.rst
  controller_manager/doc/userdoc.rst
Due: none
