Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-10
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Fixing issue 606.
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix tests
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Removing 'auto' from function definition to support pre c++ 20 (#608)
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.1.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

ci: :construction_worker: Add ABI check to ros_indiustrial ci
  .github/workflows/binary.yml
Due: none

ci: :construction_worker: change branch reference
  .github/workflows/binary.yml
Due: none

ci: :construction_worker: change notation of ci
  .github/workflows/binary.yml
Due: none

ci: :construction_worker: address PR comments
  .github/workflows/abi_compatability.yml
Due: none

ci: :construction_worker: Add ABI check to ros_indiustrial ci (#597)
  .github/workflows/abi_compatability.yml
Due: none

ci: :construction_worker: Add ABI check to ros_indiustrial ci (#597)
  .github/workflows/abi_compatability.yml
  .github/workflows/binary.yml
Due: none

No need to get angles from source anymore, causes issues now
  ros2_control/ros2_control.repos
Due: none

No need to get angles from source anymore, causes issues now (#616)
  ros2_control/ros2_control.repos
Due: none

fix conflict
  ros2_control/ros2_control.repos
Due: none

fix spelling
  .github/workflows/abi_compatibility.yml
Due: none

Apply suggestions from code review
  ros2_control/ros2_control.repos
Due: none

Add detailed explanation about writing new hardware interface.
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/writing_new_hardware_interface.rst
Due: none

Apply suggestions from code review
  .github/workflows/abi_compatibility.yml
Due: none

Fix conflict
  .github/workflows/binary.yml
Due: none

Apply suggestions from code review
  hardware_interface/doc/writing_new_hardware_interface.rst
Due: none

fix filename and ROS DISTRO var
  .github/workflows/abi_compatibility.yml
Due: none

Update hardware_interface/doc/writing_new_hardware_interface.rst
  hardware_interface/doc/writing_new_hardware_interface.rst
Due: none

install spawner/unspawner using console_script entrypoint
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
  controller_manager/package.xml
  controller_manager/scripts/spawner
  controller_manager/scripts/unspawner
  controller_manager/setup.cfg
Due: ament_lint_cmake

Apply review comments.
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove obsolete 'import_components' methods without hardware info and fix post_initialization test.
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Use correct ros-controls/realtime_tools branch
  ros2_control/ros2_control.repos
Due: none

ignore trailing whitespace on rst
  .pre-commit-config.yaml
Due: none

Fix doc8 errors
  hardware_interface/doc/writing_new_hardware_interface.rst
Due: none

Doc 📓: Add detailed explanation about writing new hardware interface. (#615)
  .pre-commit-config.yaml
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/writing_new_hardware_interface.rst
Due: none

Use correct ros-controls/realtime_tools branch (#619)
  ros2_control/ros2_control.repos
Due: none

Add a warning if an initial_value is not found for any interface
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

reformat
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Resource Manager API changes for hardware lifecycle #api-breaking #abi-breaking (#589)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  hardware_interface/include/hardware_interface/hardware_component_info.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Improved hint. Only print it once.
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update the recommendation
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Format
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
