Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PEP 257
  - repo: https://github.com/FalconSocial/pre-commit-mirrors-pep257
    rev: v0.3.3
    hooks:
    - id: pep257
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Add log-level support for spawner node
  controller_manager/controller_manager/spawner.py
Due: none

Fix check for printing stdout/stderr output from load_parameter_file
  controller_manager/controller_manager/spawner.py
Due: none

Fix pre-commit errors
  controller_manager/controller_manager/spawner.py
Due: none

Fix wrong warning messages
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add log level support to spawner node (#972)
  controller_manager/controller_manager/spawner.py
Due: none

Fix wrong warning messages (#973)
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix some error and warning log msgs to use corresponding color
  controller_manager/controller_manager/spawner.py
Due: none

Fix pre-commit warnings
  controller_manager/controller_manager/spawner.py
Due: none

Check for missing hardware interfaces that use the gpio tag.
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Check for missing hardware interfaces that use the gpio tag. (#975)
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Check for missing hardware interfaces that use the gpio tag. (#953)
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Consistent use of colors for warning and error msgs in spawner (#974)
  controller_manager/controller_manager/spawner.py
Due: none

[ControllerManager] Add Class for Async Controllers and Lifecycle Management (#932)
  controller_interface/src/controller_interface_base.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Extend joint limits structure with deceleration limits.
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/test/joint_limits_rosparam.yaml
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

3.11.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Extend joint limits structure with deceleration limits. (#977)
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/test/joint_limits_rosparam.yaml
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

[Controller Interface] Add time and period paramters to update_reference_from_subscribers() (#846) #API-break
  MIGRATION.md
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/src/chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.hpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

3.12.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

2.25.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

async components
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/async_components.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  joint_limits_interface/test/joint_limits_urdf_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

start -> activate
  hardware_interface/include/hardware_interface/async_components.hpp
  hardware_interface/src/resource_manager.cpp
  joint_limits_interface/test/joint_limits_urdf_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

fix lifecycle issue when reactivating
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  joint_limits_interface/test/joint_limits_urdf_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove RHEL builds from PRs
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

mark external component as async in test
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

make formatter happy #2
  joint_limits_interface/test/joint_limits_urdf_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove RHEL builds from PRs (#983)
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Create doc fiel for chained controllers
  controller_manager/doc/controller_chaining.rst
Due: none

Update Dockerfile
  .docker/source/Dockerfile
Due: none

Apply suggestions from code review
  controller_interface/CMakeLists.txt
  controller_interface/package.xml
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Remove definition of movement interface because the concept is not used yet.
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Polish out some stuff using "GH Programming"
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
  hardware_interface/package.xml
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/simple_joint_limiter.hpp
  joint_limits/include/joint_limits/visibility_control.h
  joint_limits/joint_limiters.xml
  joint_limits/package.xml
  joint_limits/src/joint_limiter_interface.cpp
  joint_limits/src/simple_joint_limiter.cpp
  joint_limits/test/test_simple_joint_limiter.cpp
  joint_limits_interface/CMakeLists.txt
  joint_limits_interface/package.xml
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Polish out some stuff using "GH Programming"
  joint_limits/src/simple_joint_limiter.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add missing build_export_depends to controller_interface
  controller_interface/package.xml
Due: none

Add missing build_export_depends to controller_interface (#989)
  controller_interface/package.xml
Due: none

fix conflict
  controller_interface/package.xml
Due: none
