Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PEP 257
  - repo: https://github.com/FalconSocial/pre-commit-mirrors-pep257
    rev: v0.3.3
    hooks:
    - id: pep257
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Reformat
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Use a thread priority library from realtime_tools (#794)
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/realtime.hpp
  controller_manager/package.xml
  controller_manager/src/realtime.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Fix Humble and Rolling source builds
  ros2_control.humble.repos
  ros2_control.rolling.repos
Due: none

Update setup-python action
  .github/workflows/ci-format.yml
Due: none

second try
  .github/workflows/ci-format.yml
Due: none

Update ros2_control.rolling.repos
  ros2_control.rolling.repos
Due: none

Fix format workflow, Humble and Rolling source builds (#861)
  .github/workflows/ci-format.yml
  ros2_control.humble.repos
  ros2_control.rolling.repos
Due: none

Remove TODO
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

add read and write flag to thread wrapper
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Adjust version
  rqt_controller_manager/package.xml
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.17.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Update version
  rqt_controller_manager/package.xml
Due: none

3.4.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

fix forgotten rebase conflicts
  controller_manager/include/controller_manager/controller_manager.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

remove galactic related files
  .github/workflows/abi_compatibility.yml
Due: none

revert controller_manager constructor changes
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix hardware interface CLI description
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/list_hardware_interfaces.py
Due: none

ResourceManager doesn't always log an error on shutdown anymore
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

use atomics for synchronization
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix hardware interface CLI description (#864)
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/list_hardware_interfaces.py
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.18.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

use cm's update rate + experiment with synchronization
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove obsolete comment
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Namespace Loaded Controllers (#852)
  controller_manager/controller_manager/spawner.py
Due: none

pass controller by shared ptr, timing changes, etc.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Rename class type to plugin name #api-breaking #abi-breaking (#780)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  controller_manager_msgs/msg/HardwareComponentState.msg
  hardware_interface/include/hardware_interface/hardware_component_info.hpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

ResourceManager doesn't always log an error on shutdown anymore (#867)
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

3.5.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Merge branch 'fix-update-rate' into humble
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Added basic gitignore
  .gitignore
Due: none

split handle in read-/writable, clean cut between hw and ctrl side
  hardware_interface/include/hardware_interface/handle.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

add comment for explanation
  hardware_interface/include/hardware_interface/handle.hpp
Due: clang-format, ament_cppcheck, ament_cpplint
