Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

add more documentation about the topics
  doc/debugging.rst
Due: ament_copyright

place dependencies alphabetically
  hardware_interface/package.xml
Due: ament_copyright

Update doc/debugging.rst
  doc/debugging.rst
Due: ament_copyright

move the documentation to introspection.rst
  doc/debugging.rst
  doc/index.rst
  doc/introspection.rst
Due: ament_copyright

update docs on the third argument to enable introspection
  doc/introspection.rst
Due: ament_copyright

Update doc/introspection.rst
  doc/introspection.rst
Due: ament_copyright

Use the master CI for clang
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: ament_copyright

Revert "Add macro with also enable argument"
  doc/introspection.rst
  hardware_interface/include/hardware_interface/introspection.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

use clang jobs from christoph
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: ament_copyright

Fix label
  .github/ISSUE_TEMPLATE/good-first-issue.md
Due: ament_copyright

Fix label of good first issue template (#1966)
  .github/ISSUE_TEMPLATE/good-first-issue.md
Due: ament_copyright

Resovle all coments
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/include/semantic_components/pose_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use std::size_t instead of size_t
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/include/semantic_components/semantic_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix: deprecation from realtime_tools
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix spawner behaviour on failing controller activation or deactivation (#1941)
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/spawner.py
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller_spawner_with_interfaces.yaml
  controller_manager/test/test_release_interfaces.cpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Update controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/include/semantic_components/force_torque_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update controller_interface/include/semantic_components/semantic_component_interface.hpp
  controller_interface/include/semantic_components/semantic_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix pre-commit
  controller_interface/include/semantic_components/force_torque_sensor.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix Wsign-compare warning
  controller_interface/include/semantic_components/semantic_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Give an error output
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Log errors every time
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Semantic components cleanup (#1940)
  controller_interface/include/semantic_components/force_torque_sensor.hpp
  controller_interface/include/semantic_components/imu_sensor.hpp
  controller_interface/include/semantic_components/pose_sensor.hpp
  controller_interface/include/semantic_components/range_sensor.hpp
  controller_interface/include/semantic_components/semantic_component_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix deprecated usage of lock_memory API
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add fix
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add const
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix pre-commit
  controller_manager/src/ros2_control_node.cpp
  diff.txt
Due: ament_cppcheck, ament_cpplint, ament_copyright

remove diff
  diff.txt
Due: ament_copyright

Log an error if update() call returns `ERROR` (#1969)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix deprecated usage of lock_memory API (#1970)
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use the rt_buffer inside the write cycle
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Cleanup variables in the RTBufferVariables
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

use the rt_buffer variables in the update method for realtimeness
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

compilation fixes
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update the RTBufferVariables and reserve the variables
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add initial version
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use the rt_buffer inside the read cycle
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove visibility macros files
  controller_interface/include/controller_interface/visibility_control.h
  controller_manager/include/controller_manager/visibility_control.h
  hardware_interface/include/hardware_interface/visibility_control.h
  hardware_interface/include/mock_components/visibility_control.h
  joint_limits/include/joint_limits/visibility_control.h
  transmission_interface/include/transmission_interface/visibility_control.h
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove the use of visibility macros
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.hpp
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/lexical_casts.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/mock_components/generic_system.hpp
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright
