Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Reuse code instead of duplicating
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Clean labeling of transitions
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Apply the docstring code review suggestions
  controller_interface/include/controller_interface/controller_interface.hpp
Due: ament_cppcheck, ament_cpplint

Apply suggestions of using advanced gmock features
  controller_interface/test/test_chainable_controller_interface.cpp
Due: ament_cppcheck, ament_cpplint

Add using of IsEmpty and SizeIs from testing of gmock
  controller_interface/test/test_chainable_controller_interface.cpp
Due: ament_cppcheck, ament_cpplint

use SizeIs and IsEmpty in the test_chainable_controller_interface tests
  controller_interface/test/test_chainable_controller_interface.cpp
Due: ament_cppcheck, ament_cpplint

Replace random_shuffle with shuffle. (#1446)
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Add cm as dependency to rqt_cm (#1447)
  rqt_controller_manager/package.xml
Due: none

Use ament_cmake generated rclcpp version header (#1448)
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/CMakeLists.txt
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

generate version.h file per package using the ament_generate_version_header (#1449)
  controller_interface/CMakeLists.txt
  controller_interface/package.xml
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  hardware_interface/CMakeLists.txt
  hardware_interface/package.xml
  joint_limits/CMakeLists.txt
  joint_limits/package.xml
  transmission_interface/CMakeLists.txt
  transmission_interface/package.xml
Due: ament_lint_cmake

Fix rqt_controller_manager for non-humble (#1454)
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

update tests to use IsEmpty from gmock
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Change mimic attribute to default true
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Update docs on URDF and robot_description
  controller_manager/doc/userdoc.rst
  hardware_interface/doc/hardware_interface_types_userdoc.rst
Due: none

Use valid URDFs for transmission tests
  transmission_interface/CMakeLists.txt
  transmission_interface/package.xml
  transmission_interface/test/differential_transmission_loader_test.cpp
  transmission_interface/test/four_bar_linkage_transmission_loader_test.cpp
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Increase test coverage for deprecated config structure
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Fix test criteria
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Revert increase of timeout
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake

Add migration notes
  doc/index.rst
  doc/migration/Foxy.rst
  doc/migration/Iron.rst
  hardware_interface/doc/hardware_components_userdoc.rst
Due: none

Fix uninitialize typos and use SizeIs for vector size comparisons
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_components.xml
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Make std::string comparison more readable
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Generic_system: Use mimic info from hardware_info
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Fix description of new test and fix typo
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_components.xml
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Update docs
  hardware_interface/doc/mock_components_userdoc.rst
Due: none

Fix diff_drive URDF
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Rename wheel_0/1 to wheel_left/right
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Add description on mock_gpio_commands
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Use enum instead of std::optional
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Add comments to test code
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Add first draft of parsing mimic info from URDF
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/package.xml
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add test for initial value of GPIO state interfaces
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

Fix srv and spawner tests
  controller_manager/CMakeLists.txt
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Fix description
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Fix configurations with non-joints via joint tag -> gpio
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Remove unnecessary std::string()
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Add offset to deprecated config test
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Remove duplicte section
  controller_manager/doc/userdoc.rst
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
