Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Unify transmission tests using shared minimal robot URDF in test assets
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
  transmission_interface/test/differential_transmission_loader_test.cpp
  transmission_interface/test/four_bar_linkage_transmission_loader_test.cpp
  transmission_interface/test/simple_transmission_loader_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Run Pre-commit
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add 6D robot description to ros2_control_test_assets
  ros2_control_test_assets/include/ros2_control_test_assets/test_asset_6d_robot_description.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update from reviews for launch_utils tests of controller manager (#2147)
  controller_manager/test/test_launch_utils/CMakeLists.txt
  controller_manager/test/test_launch_utils/test_controller_load.yaml
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
Due: ament_lint_cmake, ament_copyright

Update from review2 for launch_utils tests of controller manager (#2147)
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_copyright

Update ros2_control_test_assets/include/ros2_control_test_assets/test_asset_6d_robot_description.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/test_asset_6d_robot_description.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update from review3 for launch_utils tests of controller manager (#2147)
  controller_manager/test/test_launch_utils/CMakeLists.txt
  controller_manager/test/test_launch_utils/test_controller_load.yaml
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
  controller_manager/test/test_launch_utils/test_ros2_control_node_combined_list.yaml
Due: ament_lint_cmake, ament_copyright

Add test ensuring --unload-on-kill does not block spawners
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Pre-commit
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix non-zero exit status
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve spawner test robustness and reduce timeout duration
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Replace KUKA plugin with GenericSystem in 6D test asset
  ros2_control_test_assets/include/ros2_control_test_assets/test_asset_6d_robot_description.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add benchmark for hardware interface access patterns (re: #2816)
  hardware_interface/CMakeLists.txt
  hardware_interface/package.xml
  hardware_interface/test/benchmark_handle_access.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add mujoco_ros2_control to downstream builds
  ros_controls.humble.repos
  ros_controls.jazzy.repos
  ros_controls.kilted.repos
  ros_controls.rolling.repos
Due: ament_copyright

Add mujoco_ros2_control to downstream builds (#3039)
  ros_controls.humble.repos
  ros_controls.jazzy.repos
  ros_controls.kilted.repos
  ros_controls.rolling.repos
Due: ament_copyright

Cache interface name to avoid failing at the destruction time
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add methods to export information about the supported interfaces of transmissions
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/include/transmission_interface/transmission.hpp
  transmission_interface/test/differential_transmission_test.cpp
  transmission_interface/test/four_bar_linkage_transmission_test.cpp
  transmission_interface/test/simple_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add methods to get the actuator and joint position initialization offset
  transmission_interface/include/transmission_interface/transmission.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Cache interface name to avoid failing at the destruction time (#3043)
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add test_utils file for transition tests
  controller_interface/include/controller_interface/test_utils.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix merge conflicts
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Also capture the interface name when parsed by reference
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the variable name
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add new API for chainable controller interface exporting (#2988)
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/src/chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.hpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  doc/migration.rst
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove invalid transmission test case
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add --controller-related hints using a dummy arg
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Apply suggestion from @bmagyar
  doc/migration.rst
Due: ament_copyright

Update transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use existing constexpr
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/include/transmission_interface/transmission.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[Spawner] Allow arguments per controller instead of global args (#2895)
  controller_manager/CMakeLists.txt
  controller_manager/controller_manager/launch_utils.py
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/test/test_advanced_spawner.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix helper logic
  controller_interface/include/controller_interface/test_utils.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright
