Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Improve list hardware components output and code for better readability. (#1060)
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
Due: none

Improve list hardware components output and code for better readability. (backport #1060) (#1061)
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
Due: none

instantiation
  hardware_interface/test/test_inst_hardwares.cpp
Due: ament_cppcheck, ament_cpplint

reformat
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/test/test_inst_hardwares.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Ensure instantiation of hardware classes work for python bindings (#1058)
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/test/test_inst_hardwares.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Update controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Enable setting of initial state in HW compoments (#1046)
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.28.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

3.15.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Update joint_limits/src/simple_joint_limiter.cpp
  joint_limits/src/simple_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

[CM] Make error message after trying to active controller more informative.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix formatting.
  joint_limits/src/simple_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Restore Rucking Limiter.
  joint_limits_enforcement_plugins/CMakeLists.txt
  joint_limits_enforcement_plugins/include/joint_limits_enforcement_plugins/visibility_control.h
  joint_limits_enforcement_plugins/include/ruckig_joint_limiter/ruckig_joint_limiter.hpp
  joint_limits_enforcement_plugins/joint_limits_enforcement_plugins.xml
  joint_limits_enforcement_plugins/package.xml
  joint_limits_enforcement_plugins/src/ruckig_joint_limiter.cpp
  joint_limits_enforcement_plugins/test/test_ruckig_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Bence rephrasing
  controller_manager/doc/controller_chaining.rst
Due: none

Refactor doc for rst syntax
  controller_manager/doc/controller_chaining.rst
  controller_manager/doc/images/chaining_example2.png
Due: none

Add chaining controllers to toc
  doc/index.rst
Due: none

Add CI workflow to check docs
  .github/workflows/ci-check-docs.yml
Due: none

fix typo
  doc/index.rst
Due: none

Refactor doc for rst syntax (#1068)
  controller_manager/doc/controller_chaining.rst
  controller_manager/doc/images/chaining_example2.png
  doc/index.rst
Due: none

Add CI workflow to check docs (#1069)
  .github/workflows/ci-check-docs.yml
Due: none

Added test case to test the controllers with equal and higher update rates w.r.t controller manager
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added the fix to solve inconsistency w.r.t controller update rate
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Create doc file for chained controllers (#985)
  controller_manager/doc/controller_chaining.rst
  controller_manager/doc/images/chaining_example2.png
  doc/index.rst
Due: none

added logging for expectation management
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Clean up some compilation warnings
  controller_manager/test/test_controller/test_controller.hpp
Due: ament_cppcheck, ament_cpplint

Refactor update rate tests to be parametrized on update rate
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

reformat
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix equal and higher controller update rate (#1070)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

fix conflict
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[CM] Make error message after trying to active controller more informative. (#1066)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add namespaced controllers
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

added controller manager runner to have update cycles
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

added controller manager runner to have update cycles (#1075)
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
