Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Apply suggestions from code review
  controller_interface/src/controller_interface_base.cpp
  doc/introspection.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add changes from Denis review comments
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/introspection.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove visibility include from docs
  hardware_interface/doc/writing_new_hardware_component.rst
Due: ament_copyright

Remove visibility include from docs (#1975)
  hardware_interface/doc/writing_new_hardware_component.rst
Due: ament_copyright

Added not-loaded parameter for HW plugins.
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_copyright

Add new get_value API for handles and interfaces
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add minor fixes
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update the other get_value method
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix tests
  hardware_interface/test/test_handle.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix suggested changes for initialization
  controller_interface/include/semantic_components/led_rgb_device.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add joint limiter interface plugins to enforce limits defined in the URDF (#1526)
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/data_structures.hpp
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/include/joint_limits/joint_soft_limiter.hpp
  joint_limits/joint_limiters.xml
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/src/joint_soft_limiter.cpp
  joint_limits/test/test_joint_limiter.hpp
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.hpp
  joint_limits/test/test_joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Using urdf/model.hpp for rolling
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

ran precommit
  hardware_interface_testing/test/test_components/test_actuator_exclusive.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

added a test controller that fails at activation
  controller_manager/CMakeLists.txt
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.cpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.hpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

renamed into test_actuator_exclusive_interfaces
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
  hardware_interface_testing/test/test_components/test_components.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

formatting fix
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix issues in the setup of the test controller that fails on activate
  controller_manager/CMakeLists.txt
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.hpp
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

added an actuator interface with exclusive interface handling
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_components/test_actuator_exclusive.cpp
  hardware_interface_testing/test/test_components/test_components.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

forgot to run pre-commit
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.cpp
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Added test to reproduce the failure of switching with exclusive interfaces
  controller_manager/test/test_release_interfaces.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Throw an exception when requesting already claimed exclusive interface
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

remove the scoping
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add the perform switching logic to fix the issue with exclusive interfaces
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Collect all failed activated controllers and perform command switch at once
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

remove copy pasta remnants from comments
  controller_manager/test/test_release_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

added some documentation about the determinism
  controller_manager/doc/userdoc.rst
Due: ament_copyright

add naming changes from state to lifecycle_state
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_release_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix pre-commit
  controller_manager/test/test_release_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove visibility macros from the test controller
  controller_manager/test/test_controller_failed_activate/test_controller_failed_activate.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the switch return to ERROR due to recent change in return state of switch_controllers
  controller_manager/test/test_release_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update controller_manager/doc/userdoc.rst
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Add strog type for limits
  joint_limits/include/joint_limits/data_structures.hpp
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/src/joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix: Using urdf/model.hpp for rolling
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Using urdf/model.hpp for rolling (#1978)
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Initialize robot description in ControllerManager
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Reset moving average
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Manually call shutdown in tests with failing init
  controller_interface/test/test_controller_interface.cpp
  controller_interface/test/test_controller_with_options.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

guard the node in get_lifecycle_state
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Shutdown only if it is not already in finalized state
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Trigger shutdown transition in destructor
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
