Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

Fix conflicts
  doc/release_notes.rst
Due: none

Add `PoseSensor` semantic component (#1775)
  controller_interface/CMakeLists.txt
  controller_interface/include/semantic_components/pose_sensor.hpp
  controller_interface/package.xml
  controller_interface/test/test_pose_sensor.cpp
  controller_interface/test/test_pose_sensor.hpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Use the correct ref
  .github/workflows/humble-source-build.yml
Due: none

update the logic to work for overriding parameters as well
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Check the update_rate set to the controllers to be a valid one
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_controller_interface.cpp
Due: ament_cppcheck, ament_cpplint

Fix controller manager tests
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: ament_cppcheck, ament_cpplint

Test SofJointLimiter in position
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Added tests for the effort case
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

check the size of the joint limits and the joint names in the init method
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint

add initial test cases for desired velocity only cases
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Add first version of tests into the joint range limiter
  joint_limits/CMakeLists.txt
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_range_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

extend tests of acceleration limits also with and without actual position value
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

remove the joint range limiter header and reuse it from the joint saturation limiter + merge them into a single library
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_range_limiter.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/joint_limiters.xml
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add proper acceleration limits bounding
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Added some minor fixes in the joint range limiter
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Enforce wrt to the position limits only when the actual position value is available
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

added joint range limiter library for individual joints control
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limiter_struct.hpp
  joint_limits/include/joint_limits/joint_range_limiter.hpp
  joint_limits/joint_limiters.xml
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

warn everytime we reach the limit
  joint_limits/src/joint_limits_helpers.cpp
Due: ament_cppcheck, ament_cpplint

Remove unnecessary debug prints
  joint_limits/src/joint_limits_helpers.cpp
Due: ament_cppcheck, ament_cpplint

fix the soft limiting logic and add respective tests
  joint_limits/src/joint_soft_limiter.cpp
  joint_limits/test/test_joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint

change copyright to PAL
  joint_limits/src/soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Create test_soft_joint_limiter.cpp
  joint_limits/CMakeLists.txt
  joint_limits/test/test_joint_limiter.hpp
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

remove unused test cases
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Rm soft_joint_limiter.hpp
  joint_limits/include/joint_limits/soft_joint_limiter.hpp
Due: ament_cppcheck, ament_cpplint

Test uses cases for SoftJointLimiter in velocity interface
  joint_limits/src/soft_joint_limiter.cpp
  joint_limits/test/test_soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

remove the enforce methods of the double vector as it can be handled now by types
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_range_limiter.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Add tests for the desired jerk test cases
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Export JointInterfacesSoftLimiter in the joint_limiters.xml
  joint_limits/joint_limiters.xml
Due: none

rename of SoftJointLimiter to JointSoftLimiter and some minor changes from manuel
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limits.hpp
  joint_limits/include/joint_limits/joint_soft_limiter.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_soft_limiter.cpp
  joint_limits/src/soft_joint_limiter.cpp
  joint_limits/test/test_joint_limiter.hpp
  joint_limits/test/test_joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add tests for the case of actuators with actual position state and acceleration limits
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Added methods to check is the parameter and logging interfaces are set or not
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint

Derive SoiftJointLimiter from JointSaturationLimiter<JointControlInterfacesData> and enforce hard limtis
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/src/soft_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

add pre-comitting fixes
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/test/test_joint_limiter.hpp
Due: ament_cppcheck, ament_cpplint

better combined desired references test
  joint_limits/test/test_joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

consider also the acceleration limits when computing the position limiting
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

update the joint range limiter test with case of only desired position availability case
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_range_limiter.hpp
Due: ament_cppcheck, ament_cpplint

better conditioning for the acceleration limits enforcement
  joint_limits/src/joint_range_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Remove LimitsType template from JointLimiterInterface
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_range_limiter.hpp
  joint_limits/test/test_joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint

enable moving out of position limit if velocity is in "right" direction
  joint_limits/include/joint_limits/joint_limits_helpers.hpp
  joint_limits/src/joint_limits_helpers.cpp
  joint_limits/src/joint_range_limiter.cpp
  joint_limits/src/joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint

add an init method parsing the limits directly in the init method
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
