Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Add tests for the helpers
  controller_interface/CMakeLists.txt
  controller_interface/test/test_test_utils.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: ament_copyright

_Apply pre-commit
  hardware_interface_testing/test/test_components/test_actuator.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add namespace to global args
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Auto-update pre-commit config
  .pre-commit-config.yaml
Due: ament_copyright

Fix pre-commit
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove linters from msg package
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/package.xml
Due: ament_lint_cmake, ament_copyright

Update migration.rst
  doc/migration.rst
Due: ament_copyright

Add comment
  controller_interface/include/controller_interface/test_utils.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Protect controller switching, when switching from nonRT loop
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Consistently add <cmath> include with define for windows
  controller_manager/test/test_advanced_spawner.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface/test/test_hardware_components/test_imu_sensor.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  joint_limits/src/joint_soft_limiter.cpp
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Reorder includes
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove linters from msg package (#3059)
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/package.xml
Due: ament_lint_cmake, ament_copyright

Update CMakeLists.txt
  controller_manager_msgs/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Consistently add <cmath> include with define for windows (#3061)
  controller_manager/test/test_advanced_spawner.cpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface/test/test_hardware_components/test_imu_sensor.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  joint_limits/src/joint_soft_limiter.cpp
  joint_limits/test/test_joint_range_limiter.cpp
  joint_limits/test/test_joint_soft_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Consistently add <cmath> include with define for windows (#3061)
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Delete controller_manager/test/test_advanced_spawner.cpp
  controller_manager/test/test_advanced_spawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Win-CI: Build also the tests, but don't run them
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Win-CI: Build also the tests, but don't run them (#3068)
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

[Spawner] Block further SIGINTs with unload_on_kill option
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Use dev branch
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: ament_copyright

[Spawner] Block further SIGINTs with unload_on_kill option (#3075)
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Fix API breaking change of Executor::add_node
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Run all workflows also on push to cache ccache
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/kilted-debian-build.yml
  .github/workflows/kilted-rhel-binary-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: ament_copyright

Run all workflows also on push to cache ccache (#3103)
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/kilted-debian-build.yml
  .github/workflows/kilted-rhel-binary-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: ament_copyright
