Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

[hardware_interface_testing] Add tests for hardware components exception handling (#3228)
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_rm_exception_handling.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Remove hardcoded default update rate
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/types/resource_manager_params.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add regression test and update docs for zero update_rate
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix plotjuggler link
  doc/introspection.rst
Due: ament_copyright

fix plotjuggler link (#3342)
  doc/introspection.rst
Due: ament_copyright

Fix the initialization of the parsed resource managers
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests to reproduce the failure
  controller_manager/test/test_controller_manager_with_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the robot description arg parsing
  controller_manager/src/controller_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix pre-commit
  controller_manager/test/test_controller_manager_with_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the initialization of the parsed resource managers (#3346)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_with_resource_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix unresolved conflict markers in jazzy backport of PR #3228
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix unresolved conflict markers in kilted backport of PR #3228
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix typo in state and reference export methods
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

format fix
  controller_manager/test/test_cleanup_controller.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Enforce cleanup_controller on more exit points of configure_controller (#3192)
  controller_manager/CMakeLists.txt
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_cleanup_controller.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

hardware_interface: Fix build error with GCC 15 (#3174)
  hardware_interface/include/hardware_interface/lexical_casts.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix typo in state and reference export methods (#3347)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix(ros2controlcli): address review — restore finalized note, revert message rewording
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
  ros2controlcli/ros2controlcli/verb/set_hardware_component_state.py
Due: ament_copyright

feat(ros2controlcli): add transition verbs to set_controller_state
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
Due: ament_copyright

feat(ros2controlcli): add lifecycle transition verbs to set_controller_state
  ros2controlcli/test/test_set_controller_state.py
Due: ament_copyright

Add a basic devcontainer configuration
  .devcontainer/dev-compose.yaml
  .devcontainer/devcontainer.json
Due: ament_copyright

Adaption to pyside6 of controller_manager.py
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

remove devcontainer from master
  .devcontainer/dev-compose.yaml
  .devcontainer/devcontainer.json
Due: ament_copyright

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: ament_copyright

Wait to terminate test until spawner exits
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_copyright

fix Qt API
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

add launch test for 'rqt_controller_manager'
  rqt_controller_manager/package.xml
  rqt_controller_manager/test/test_run_launch.py
Due: ament_copyright

Fix pure virtual error in the hardware component with async mode (#3321)
  hardware_interface/include/hardware_interface/hardware_component.hpp
  hardware_interface/include/hardware_interface/hardware_component_interface.hpp
  hardware_interface/src/hardware_component.cpp
  hardware_interface/src/hardware_component_interface.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

a few extra migrations
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

fix Qt API (#3367)
  rqt_controller_manager/package.xml
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
  rqt_controller_manager/test/test_run_launch.py
Due: ament_copyright

Remove joint limits configuration details
  hardware_interface/doc/joint_limiting.rst
Due: ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
