Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Remove extra initial values for velocity and acceleration state interface
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[CI] Add downstream builds (#1929)
  .github/workflows/humble-semi-binary-downstream-build.yml
  .github/workflows/jazzy-semi-binary-downstream-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
  downstream.humble.repos
  downstream.jazzy.repos
  downstream.rolling.repos
  ros_controls.humble.repos
  ros_controls.jazzy.repos
  ros_controls.rolling.repos
Due: ament_copyright

Reuse service client for each service type
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Use the .hpp headers from realtime_tools package (#1916)
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use singleton approach to store and reuse the service clients
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Use the master CI for clang
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: ament_copyright

Update initial_value parameters of generic_system tests (#1943)
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update release_notes
  doc/release_notes.rst
Due: ament_copyright

Fix missing test_controller dependency to the test_hardware_spawner
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Add deprecation notice to remapping args to the controller manager node
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Added test for the remapped service from the controller using the spawner args
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Use the consexpr for --ros-args
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix the splitting when not parsed
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Add controller node options args to be able to set controller specific node options arguments
  controller_manager/controller_manager/spawner.py
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update the documentaion on spawners
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Add missing )
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Cleanup variables in the RTBufferVariables
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

compilation fixes
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add initial version
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update the RTBufferVariables and reserve the variables
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use the rt_buffer inside the read cycle
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use the rt_buffer inside the write cycle
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

use the rt_buffer variables in the update method for realtimeness
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

execute command switch for async hardware components
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Also use node in the map keys for uniqueness wrt node
  controller_manager/controller_manager/controller_manager_services.py
Due: ament_copyright

Refactor get_name methods to return const references for improved performance
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use singleton approach to store and reuse the service clients (#1949)
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

revert changes for deprecated methods
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Make get_name() return a const reference (#1952)
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove xacro and load URDF directly
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_copyright

Add release_notes
  doc/release_notes.rst
Due: ament_copyright

Add docstrings
  controller_manager/controller_manager/test_utils.py
Due: ament_copyright

Add missing dependency
  controller_manager/package.xml
Due: ament_copyright

Cleanup double dependency
  controller_manager/package.xml
Due: ament_copyright

Make a valid urdf but move it to ros2_control_test_assets
  ros2_control_test_assets/CMakeLists.txt
  ros2_control_test_assets/urdf/test_hardware_components.urdf
Due: ament_lint_cmake, ament_copyright

Remove wrong dependency
  controller_manager/package.xml
Due: ament_copyright

Add test_utils from ros2_control_demo repo
  controller_manager/controller_manager/test_utils.py
Due: ament_copyright

Update ros2_control_node tests to use test_utils
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_ros2_control_node.yaml
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_lint_cmake, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
