Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

Add timeout of 180s to test_controller_manager tests
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake

Address PR review comments
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add interface mapping to the ControllerInterfaceBase class
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

add methods to access the state and command remapping interface map
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

parameterize the joint name in the controller with interfaces
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.hpp
Due: ament_cppcheck, ament_cpplint

add a remapped integration configuration method to ControllerSpec
  controller_manager/include/controller_manager/controller_spec.hpp
Due: ament_cppcheck, ament_cpplint

Add support for effort interface inside the test_actuator component
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.hpp
  controller_manager/test/test_hardware_management_srvs.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

utilize the remapped interface configuration in the CM
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Move the remapping logic to the configure method of controller interface base
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

Added test for the remapping controllers
  controller_manager/test/test_controller_spawner_with_type.yaml
  controller_manager/test/test_release_interfaces.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

predeclare all the available state interfaces for the controllers
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Request also state interfaces from TestControllerWithInterfaces class
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.hpp
Due: ament_cppcheck, ament_cpplint

simplify the method names
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

simplify the remapping logic in the ControllerSpec class
  controller_manager/include/controller_manager/controller_spec.hpp
Due: ament_cppcheck, ament_cpplint

fix hardware_interface_testing package tests
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Push controller manager service tests pending fix
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Refine the logic of the global state interfaces declare parameters
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add release notes
  doc/release_notes.rst
Due: none

update test to unspawn the controllers and recheck the release of interfaces
  controller_manager/test/test_release_interfaces.cpp
Due: ament_cppcheck, ament_cpplint

Add sdformat_urdf to package.xml
  hardware_interface/package.xml
Due: none

update the documentaion on spawners
  controller_manager/doc/userdoc.rst
Due: none

fix the splitting when not parsed
  controller_manager/controller_manager/spawner.py
Due: none

Add controller node options args to be able to set controller specific node options arguments
  controller_manager/controller_manager/spawner.py
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint

Add missing )
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added test for the remapped service from the controller using the spawner args
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add deprecation notice to remapping args to the controller manager node
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

update release_notes
  doc/release_notes.rst
Due: none

Use the consexpr for --ros-args
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Optimize the parameter_files set to the controller params_file parameter
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Add tests for the corresponding multi params_file parsing
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

improve the helper methods for easier spawner launch descriptions from a dictionary
  controller_manager/controller_manager/launch_utils.py
Due: none

Add random noise to sensors
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Fix timeout value in std output
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Add call timeout
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
Due: none

fix cherrypick
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Use shared_mutex for better performance with the StateInterfaces
  hardware_interface/include/hardware_interface/handle.hpp
Due: ament_cppcheck, ament_cpplint

Fix timeout value in std output (#1807)
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Update controller_manager_services.py
  controller_manager/controller_manager/controller_manager_services.py
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
