Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

3.30.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Add compatibility build
  .github/workflows/rolling-compatibility-humble-binary-build.yml
Due: ament_copyright

Add it for jazzy as well
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
Due: ament_copyright

Fix repos file
  .github/workflows/rolling-compatibility-humble-binary-build.yml
Due: ament_copyright

Use upstream workspace for deps, leave target_workspace empty
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
Due: ament_copyright

Add compatibility build for humble+jazzy distro (#1872)
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
Due: ament_copyright

Don't run the compatibility build on schedule
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
Due: ament_copyright

Use testing repos for semi-binary and compatibility build
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/iron-semi-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: ament_copyright

Reduce number of CI jobs (#1876)
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/iron-semi-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-semi-binary-build.yml
Due: ament_copyright

Refactor: add parse_state_interface_descriptions and parse_command_interface_descriptions to import the components (#1768)
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add some reasonable checks about the execution time
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add an initial way to retrieve threshold parameters from paramserver
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add MovingAverageStatistics to ControllerSpec
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Publish periodicity only if it is an async controller
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

use current trigger time from AsyncFunctionHandler to calculate the right periodicity
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Only publish the diagnostics stats for the active controllers
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add parameters_context.yaml and move parameters documentation
  controller_manager/doc/parameters_context.yaml
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Fix the tests by initializing the pointers on construction
  controller_manager/include/controller_manager/controller_spec.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use hardware_components_initial_state parameters from the GPL directly
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

make execution time in the ControllerUpdateStatus optional for async first operation
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

use the direct error and std dev instead of the percentage way
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update the tests to also check for the Min and Max of the periodicity
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests to check for the async update with different rate with stats
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use from a variable instead of calling methods everytime
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

pass current_time to the trigger_update method
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

update the diagnostics of the controller manager with periodicity information
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add periodicity stats to the controller manager
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the test and add tests of the statistics
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

adapt periodicity statistics for async controllers
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Apply the statistics to the controller manager periodicity
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use parameters from the GPL library
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use forward declaration for ParamListener
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add first version of the GPL configuration
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add first version of the statistics information
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

set the first update period to zero and do not count for periodicity
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add validators to the parameters
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_copyright
