Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

5.16.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Add test dependencies
  rqt_controller_manager/package.xml
Due: ament_copyright

Deactivate rolling-main CI job
  .github/workflows/rolling-binary-build.yml
Due: ament_copyright

Validate controller update rate storage range
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/validate_controller_manager_parameters.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Deactivate rolling-main CI job (#3468)
  .github/workflows/rolling-binary-build.yml
Due: ament_copyright

Fix the doc style
  ros2controlcli/ros2controlcli/verb/unload_controller.py
Due: ament_copyright

Use a separate PR workflow with gates
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-check-docs.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-compatibility-kilted-binary-build.yml
  .github/workflows/rolling-compatibility-lyrical-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-pr-gated-ci.yml
  .github/workflows/rolling-pre-commit.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build-win.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-semi-binary-downstream-build.yml
Due: ament_copyright

Fix gate of matrix strategy
  .github/workflows/rolling-pr-gated-ci.yml
Due: ament_copyright

Use a single quality gate
  .github/workflows/rolling-pr-gated-ci.yml
Due: ament_copyright

Fix expression parsing
  .github/workflows/rolling-pr-gated-ci.yml
Due: ament_copyright

Try another fix
  .github/workflows/rolling-pr-gated-ci.yml
Due: ament_copyright

Replace stream-based logging with non-stream-based logging
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use RCLCPP_WARN_THROTTLE instead of stream variant
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Optimize implicit velocity check in joint saturation limiter
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Scale acceleration and deceleration limits uniformly
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add test case for derivative saturation in joint limiter
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update joint saturation limiter test values
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Guard controller update rate against modulo-by-zero UB (#3454)
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_copyright

doc: reorder ros2_control TOC
  controller_manager/doc/async_updates.rst
  controller_manager/doc/clocks.rst
  controller_manager/doc/userdoc.rst
  doc/index.rst
  doc/monitoring_and_tuning.rst
Due: ament_copyright

Add code to check implicit position and limit max vel if exceeds
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix velocity limit check in joint saturation limiter
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix comparison against max_position in saturation limiter
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add tests for position and velocity limit enforcement
  joint_limits/test/joint_saturation_limiter_param.yaml
  joint_limits/test/test_joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add documentation to joint limit methods
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add missing controller async parameter declarations
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

async thread name: By default component name, truncated to 15 chars
  controller_interface/src/controller_interface_base.cpp
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/hardware_component_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

use robot description from parameter instead of topic if provided
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove deprecated HardwareInfo::thread_priority member
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Avoid Windows TRUE/FALSE macro collisions in hardware_interface
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use stream parsing for hardware_interface floats on Apple
  hardware_interface/src/lexical_casts.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Clamp for final position added when handle brake
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

remove unused code
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

optionally set initial controller state via 'initial_state' parameter
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix(controller_manager): keep controllers params file whose path contains 'robot_description'
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
