Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Fix forwarding handle_exceptions parameter to resource manager
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix duplicate fallback controllers from the controller chain
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the conditioning in multi_ctrls_test_type_in_param method
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Stop forwarding controller manager node options (#3016)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  doc/migration.rst
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

Protect controller switching, when switching from nonRT loop (#3060)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

propagate parameter
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the conditioning in extract_command_interfaces_for_controller method (#3109)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add tests to verify the functionality
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/test_hardware_interface_constants.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix tests
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix comment
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update to use std::ignore
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_hardware_components/test_imu_sensor.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix forwarding handle_exceptions parameter to resource manager (#3107)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/test_hardware_interface_constants.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Import launch_ros2_control
  launch_ros2_control/README.md
  launch_ros2_control/conftest.py
  launch_ros2_control/launch_ros2_control/__init__.py
  launch_ros2_control/launch_ros2_control/actions/__init__.py
  launch_ros2_control/launch_ros2_control/actions/spawn_controllers.py
  launch_ros2_control/launch_ros2_control/descriptions/__init__.py
  launch_ros2_control/launch_ros2_control/descriptions/controller.py
  launch_ros2_control/package.xml
  launch_ros2_control/resource/launch_ros2_control
  launch_ros2_control/setup.cfg
  launch_ros2_control/setup.py
  launch_ros2_control/test/launch_ros2_control/frontend/test_spawn_controllers.py
  launch_ros2_control/test/test_copyright.py
  launch_ros2_control/test/test_flake8.py
  launch_ros2_control/test/test_pep257.py
  launch_ros2_control/test/test_xmllint.py
Due: ament_copyright

Remove ament_flake8 test from launch_ros2_control
  launch_ros2_control/package.xml
  launch_ros2_control/test/test_flake8.py
Due: ament_copyright

[Spawner] Fix exception of time.sleep in spawner
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Fix forwarding handle_exceptions parameter to resource manager (#3107)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/test_hardware_interface_constants.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[Spawner] Fix exception of time.sleep in spawner (#3124)
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

[Spawner] Block further SIGINTs with unload_on_kill option (#3075)
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

adding some ros2_control cli tests
  controller_manager/CMakeLists.txt
  controller_manager/test/test_ros2_controlcli.yaml
  controller_manager/test/test_ros2_controlcli_verbs.py
Due: ament_lint_cmake, ament_copyright

added missing ros2_controlcli tests
  controller_manager/test/test_ros2_controlcli_verbs.py
Due: ament_copyright

fix(ros2controlcli): use lifecycle nomenclature and add finalized state to hardware component
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
  ros2controlcli/ros2controlcli/verb/set_hardware_component_state.py
Due: ament_copyright

[Spawner] Allow parsing the parameter files parsed from spawner to controllers
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Add tests to test the behaviour
  controller_manager/test/test_advanced_spawner.cpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update release notes
  doc/release_notes.rst
Due: ament_copyright

fix(hardware_interface): include component name in parsing error messages
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Install cpp-expected for windows job
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Install cpp-expected for windows job (#3138)
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
