Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-10
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

run pre-commit format
  controller_manager/src/controller_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Closes #796 - Adds list_hardware_components to CLI (#891)
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
  ros2controlcli/setup.py
Due: none

Added black and updated hooks.
  .pre-commit-config.yaml
Due: none

Update formatting of python files using Black.
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/launch_utils.py
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
  joint_limits/test/joint_limits_rosparam.launch.py
  ros2controlcli/ros2controlcli/api/__init__.py
  ros2controlcli/ros2controlcli/command/control.py
  ros2controlcli/ros2controlcli/verb/list_controller_types.py
  ros2controlcli/ros2controlcli/verb/list_controllers.py
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
  ros2controlcli/ros2controlcli/verb/list_hardware_interfaces.py
  ros2controlcli/ros2controlcli/verb/load_controller.py
  ros2controlcli/ros2controlcli/verb/reload_controller_libraries.py
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
  ros2controlcli/ros2controlcli/verb/switch_controllers.py
  ros2controlcli/ros2controlcli/verb/unload_controller.py
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
  ros2controlcli/setup.py
  ros2controlcli/test/test_view_controller_chains.py
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
  rqt_controller_manager/rqt_controller_manager/main.py
  rqt_controller_manager/rqt_controller_manager/update_combo.py
  rqt_controller_manager/setup.py
Due: none

🖤 Add Black formatter for Python files. (#936)
  .pre-commit-config.yaml
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/launch_utils.py
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
  joint_limits/test/joint_limits_rosparam.launch.py
  ros2controlcli/ros2controlcli/api/__init__.py
  ros2controlcli/ros2controlcli/command/control.py
  ros2controlcli/ros2controlcli/verb/list_controller_types.py
  ros2controlcli/ros2controlcli/verb/list_controllers.py
  ros2controlcli/ros2controlcli/verb/list_hardware_components.py
  ros2controlcli/ros2controlcli/verb/list_hardware_interfaces.py
  ros2controlcli/ros2controlcli/verb/load_controller.py
  ros2controlcli/ros2controlcli/verb/reload_controller_libraries.py
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
  ros2controlcli/ros2controlcli/verb/switch_controllers.py
  ros2controlcli/ros2controlcli/verb/unload_controller.py
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
  ros2controlcli/setup.py
  ros2controlcli/test/test_view_controller_chains.py
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
  rqt_controller_manager/rqt_controller_manager/main.py
  rqt_controller_manager/rqt_controller_manager/update_combo.py
  rqt_controller_manager/setup.py
Due: none

Remove unused constructors and methods in handles
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_handle.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove another unnecessary check.
  hardware_interface/include/hardware_interface/handle.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Try to fix transmissions - does this makes sense?
  transmission_interface/include/transmission_interface/accessor.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix CMake install so overriding works (#926)
  controller_interface/CMakeLists.txt
  controller_interface/package.xml
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager_msgs/CMakeLists.txt
  hardware_interface/CMakeLists.txt
  joint_limits/CMakeLists.txt
  ros2_control/CMakeLists.txt
  ros2_control_test_assets/CMakeLists.txt
  transmission_interface/CMakeLists.txt
Due: ament_lint_cmake

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

3.8.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Fix potential deadlock in ResourceManager
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

store state and command interfaces for transmissions
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

format issues
  hardware_interface/src/component_parser.cpp
  transmission_interface/include/transmission_interface/accessor.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

test to check correct handle name
  transmission_interface/test/differential_transmission_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

use handles get_prefix_name() instead of wrong get_name()
  transmission_interface/include/transmission_interface/accessor.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

move accessor test to a new test file
  transmission_interface/CMakeLists.txt
  transmission_interface/package.xml
  transmission_interface/test/differential_transmission_test.cpp
  transmission_interface/test/utils_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

add spwaner for hardware
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/setup.cfg
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Expose node options to controller manager
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update docs
  controller_manager/doc/images/global_general_remap.png
  controller_manager/doc/images/global_specific_remap.png
  controller_manager/doc/userdoc.rst
Due: none

Update controller_interface/src/controller_interface_base.cpp
  controller_interface/src/controller_interface_base.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

2.23.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

fix: rqt_controller_manager ros2param < 0.20.0 compatibility
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Expose node options to controller manager (#942)
  controller_manager/doc/images/global_general_remap.png
  controller_manager/doc/images/global_specific_remap.png
  controller_manager/doc/userdoc.rst
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix wrong CLI output of controller states
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/load_controller.py
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
Due: none

Remove deprecations from CLI and controller_manager
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/srv/SwitchController.srv
  ros2controlcli/ros2controlcli/verb/load_controller.py
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
  ros2controlcli/ros2controlcli/verb/switch_controllers.py
Due: clang-format, ament_cppcheck, ament_cpplint

fix: rqt_controller_manager ros2param < 0.20.0 compatibility (#945)
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

aplly suggestions from code review
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

move comment
  controller_manager/controller_manager/hardware_spawner.py
Due: none

[CLI] Fix wrong output of controller states for `load_controller` command (#947)
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/load_controller.py
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
Due: none

Make changes non-breaking
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/load_controller.py
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
Due: none

Check for missing hardware interfaces that use the gpio tag.
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove deprecations from CLI and controller_manager (#948)
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/srv/SwitchController.srv
  ros2controlcli/ros2controlcli/verb/load_controller.py
  ros2controlcli/ros2controlcli/verb/set_controller_state.py
  ros2controlcli/ros2controlcli/verb/switch_controllers.py
Due: clang-format, ament_cppcheck, ament_cpplint

fix AttributeError: Parameter object attribute name is read-only
  controller_manager/controller_manager/spawner.py
Due: none

fix AttributeError: Parameter object attribute name is read-only (#957)
  controller_manager/controller_manager/spawner.py
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
