Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

3.13.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Use consequently 'mock' instead of 'fake'. (#1026)
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Add text to assertions references (#1023)
  controller_manager/test/test_hardware_management_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Revert "Add diagnostics (#1015) #abi-breaking
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

[URDF Parser] Allow empty urdf tag, e.g., parameter (#1017)
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.26.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Use branch name substitution for all links
  controller_manager/doc/userdoc.rst
  doc/index.rst
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/doc/writing_new_hardware_interface.rst
  ros2controlcli/doc/userdoc.rst
Due: none

remove trailing whitespace
  hardware_interface/doc/writing_new_hardware_interface.rst
Due: none

Change build badge branch for rolling to master
  .github/workflows/README.md
  README.md
Due: none

Also update documentation branches
  .github/workflows/README.md
  README.md
Due: none

Change build badge branch for rolling to master (#1035)
  .github/workflows/README.md
  README.md
Due: none

Docs: Use branch name substitution for all links (#1031)
  controller_manager/doc/userdoc.rst
  doc/index.rst
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/doc/writing_new_hardware_interface.rst
  ros2controlcli/doc/userdoc.rst
Due: none

Patch test updates for humble API
  hardware_interface/test/test_component_parser.cpp
Due: ament_cppcheck, ament_cpplint

enable ReflowComments to also use ColumnLimit on comments
  .clang-format
Due: none

apply the formatting changes of clang format : ReflowComments
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/include/controller_interface/helpers.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_urdf.hpp
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/include/transmission_interface/transmission.hpp
Due: ament_cppcheck, ament_cpplint

apply the formatting changes of clang format : ReflowComments
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/include/controller_interface/helpers.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_urdf.hpp
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/include/transmission_interface/transmission.hpp
Due: ament_cppcheck, ament_cpplint

plugin_name -> class_type
  controller_manager/test/test_hardware_management_srvs.cpp
Due: ament_cppcheck, ament_cpplint

add read + write, move async controllers
  controller_interface/include/controller_interface/async_controller.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  hardware_interface/include/hardware_interface/async_components.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Alex fixed conflicts
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint

add header guards + license
  controller_interface/include/controller_interface/async_controller.hpp
Due: ament_cppcheck, ament_cpplint

precommit
  controller_interface/include/controller_interface/async_controller.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  hardware_interface/include/hardware_interface/async_components.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

remove stuff added to a deprecated fn
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

enable ReflowComments to also use ColumnLimit on comments (#1037)
  .clang-format
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/include/controller_interface/helpers.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_urdf.hpp
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/include/transmission_interface/transmission.hpp
Due: ament_cppcheck, ament_cpplint

[Humble] enable ReflowComments to also use ColumnLimit on comments (#1038)
  .clang-format
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/include/controller_interface/helpers.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_interface.hpp
  joint_limits_interface/include/joint_limits_interface/joint_limits_urdf.hpp
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/include/transmission_interface/transmission.hpp
Due: ament_cppcheck, ament_cpplint

Empty urdf tag humble (backport of #1017) (#1036)
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: ament_cppcheck, ament_cpplint

Fix merge conflicts
  doc/index.rst
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/doc/writing_new_hardware_interface.rst
  ros2controlcli/doc/userdoc.rst
Due: none

Fix merge conflicts (#1043)
  doc/index.rst
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/doc/writing_new_hardware_interface.rst
  ros2controlcli/doc/userdoc.rst
Due: none

Added workflows, badges and repos file for ROS Iron
  .github/workflows/README.md
  .github/workflows/iron-abi-compatibility.yml
  .github/workflows/iron-binary-build-main.yml
  .github/workflows/iron-binary-build-testing.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/iron-semi-binary-build-main.yml
  .github/workflows/iron-semi-binary-build-testing.yml
  .github/workflows/iron-source-build.yml
  .github/workflows/prerelease-check.yml
  .github/workflows/reusable-ros-tooling-source-build.yml
  README.md
  ros2_control-not-released.iron.repos
  ros2_control.iron.repos
Due: none

Update mock_components_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
Due: none

[EOL] Foxy & Galactic
  .github/ISSUE_TEMPLATE/good-first-issue.md
  .github/mergify.yml
  .github/workflows/README.md
  .github/workflows/foxy-abi-compatibility.yml
  .github/workflows/foxy-binary-build-main.yml
  .github/workflows/foxy-semi-binary-build-main.yml
  .github/workflows/galactic-abi-compatibility.yml
  .github/workflows/galactic-binary-build-main.yml
  .github/workflows/galactic-rhel-binary-build.yml
  .github/workflows/galactic-semi-binary-build-main.yml
  .github/workflows/prerelease-check.yml
  .github/workflows/reusable-ros-tooling-source-build.yml
  README.md
  ros2_control-not-released.foxy.repos
  ros2_control-not-released.galactic.repos
  ros2_control.foxy.repos
  ros2_control.galactic.repos
Due: none

fix typo
  .github/workflows/reusable-ros-tooling-source-build.yml
Due: none

[EOL] Foxy & Galactic (#1044)
  .github/ISSUE_TEMPLATE/good-first-issue.md
  .github/mergify.yml
  .github/workflows/README.md
  .github/workflows/foxy-abi-compatibility.yml
  .github/workflows/foxy-binary-build-main.yml
  .github/workflows/foxy-semi-binary-build-main.yml
  .github/workflows/galactic-abi-compatibility.yml
  .github/workflows/galactic-binary-build-main.yml
  .github/workflows/galactic-rhel-binary-build.yml
  .github/workflows/galactic-semi-binary-build-main.yml
  .github/workflows/prerelease-check.yml
  .github/workflows/reusable-ros-tooling-source-build.yml
  README.md
  ros2_control-not-released.foxy.repos
  ros2_control-not-released.galactic.repos
  ros2_control.foxy.repos
  ros2_control.galactic.repos
Due: none

Added workflows, badges and repos file for ROS Iron (#1034)
  .github/workflows/README.md
  .github/workflows/iron-abi-compatibility.yml
  .github/workflows/iron-binary-build-main.yml
  .github/workflows/iron-binary-build-testing.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/iron-semi-binary-build-main.yml
  .github/workflows/iron-semi-binary-build-testing.yml
  .github/workflows/iron-source-build.yml
  .github/workflows/prerelease-check.yml
  README.md
  ros2_control-not-released.iron.repos
  ros2_control.iron.repos
Due: none

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
