Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Add header to import limits from standard URDF definition (#1298)
  joint_limits/CMakeLists.txt
  joint_limits/include/joint_limits/joint_limits_urdf.hpp
  joint_limits/package.xml
  joint_limits/test/joint_limits_urdf_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

rename get_node_option to define_custom_node_options as per review suggestions
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
Due: ament_cppcheck, ament_cpplint

update tests to use the new get_node_options API
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
Due: ament_cppcheck, ament_cpplint

add a new method to be able to override the NodeOptions
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

added the API documentation of the new get_node_options method
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint

initialize URDF first to be able to retrieve parameters and override in node options
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

make `init` method arguments mandatory instead of using default
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_interface/test/test_controller_interface.cpp
  controller_interface/test/test_controller_with_options.cpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Apply suggestions from code review
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint

Add more test cases for different NodeOptions
  controller_interface/CMakeLists.txt
  controller_interface/test/test_controller_node_options.yaml
  controller_interface/test/test_controller_with_options.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

remove virtual method as recommended by Denis
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint

fix linter error
  controller_interface/test/test_controller_with_options.cpp
Due: ament_cppcheck, ament_cpplint

Fix controller parameter loading issue in different cases (#1293)
  controller_manager/controller_manager/spawner.py
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint

Use image from ros-controls
  .github/workflows/humble-debian-build.yml
  .github/workflows/iron-debian-build.yml
  .github/workflows/rolling-debian-build.yml
Due: none

Use image from ros-controls (#1334)
  .github/workflows/humble-debian-build.yml
  .github/workflows/iron-debian-build.yml
  .github/workflows/rolling-debian-build.yml
Due: none

Fixing format
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint

fixing pre-commit changes
  controller_manager/controller_manager/spawner.py
Due: none

Correct formatting of JointLimits URDF file.
  joint_limits/include/joint_limits/joint_limits_urdf.hpp
  joint_limits/test/joint_limits_urdf_test.cpp
Due: ament_cppcheck, ament_cpplint

[Format] Correct formatting of JointLimits URDF file. (#1339)
  joint_limits/include/joint_limits/joint_limits_urdf.hpp
  joint_limits/test/joint_limits_urdf_test.cpp
Due: ament_cppcheck, ament_cpplint

[CM] Fix controller parameter loading issue in different cases (#1293) (#1332)
  controller_manager/controller_manager/spawner.py
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint

[CM] Fix controller parameter loading issue in different cases (#1293) (#1331)
  controller_manager/controller_manager/spawner.py
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint

Adding tests for cleanup service.
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Fixup wrong resolution of merge conflicts.
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Update hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
Due: ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.38.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

3.22.1
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Move `test_components` to own package (#1325)
  .github/workflows/ci-coverage-build.yml
  .github/workflows/ci-ros-lint.yml
  controller_manager/package.xml
  hardware_interface/CMakeLists.txt
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/README.md
  hardware_interface_testing/package.xml
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_components.xml
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.hpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Resolve conflicts
  .github/workflows/ci-coverage-build.yml
  controller_manager/package.xml
Due: none

Resolve conflicts
  hardware_interface/CMakeLists.txt
Due: ament_lint_cmake

Avoid shadowing and small cosmetic changes.
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add small behavior fixes.
  controller_manager/src/controller_manager.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Move hardware component md doc to sphinx doc
  hardware_interface/README.md
  hardware_interface/doc/different_update_rates_userdoc.rst
  hardware_interface/doc/hardware_components_userdoc.rst
Due: none

__ -> _ load_urdf() -> load_and_initialize_components()
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint
