Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Fix concurrent spinning of the test_node
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_copyright

Split the tests instead
  controller_manager/test/test_ros2_control_node_launch.py
  controller_manager/test/test_test_utils.py
Due: ament_copyright

fix: Remove check for reference_interfaces_ size in export_reference_interfaces
  controller_interface/src/chainable_controller_interface.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix comments
  controller_manager/test/test_test_utils.py
Due: ament_copyright

Extend the reasoning for the capacity mismatch
  controller_interface/include/controller_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix concurrent spinning of the test_node (#2721)
  controller_manager/test/test_ros2_control_node_launch.py
  controller_manager/test/test_test_utils.py
Due: ament_copyright

Add test_test_utils to CMakeLists
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Add test_test_utils to CMakeLists (#2729)
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

ran pre commit
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

formatting
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Deactivate the controller chain upon failed group activation (#2669)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_release_interfaces.cpp
  hardware_interface/include/hardware_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "fixed tests for component interfaces"
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fixed tests for component interfaces
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

added nullptr
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix ANSI escape code pollution in log output
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Added `view_hardware_status` ros2cli verb (#2495)
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/package.xml
  ros2controlcli/ros2controlcli/verb/view_hardware_status.py
  ros2controlcli/setup.py
Due: ament_copyright

Fix Issue #2592: Make bcolors environment-aware
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/hardware_spawner.py
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Switch the default strictness to STRICT
  controller_manager/src/controller_manager_parameters.yaml
Due: ament_copyright

Update rqt_controller_manager/rqt_controller_manager/controller_manager.py
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

feat(rqt): Reset labels to fix stale data display
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

feat(rqt): Address review feedback and apply formatting
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

Deactivate the whole controller chain if one of the update results in ERROR (#2681)
  controller_manager/doc/userdoc.rst
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_controller_manager.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update release_notes.rst
  doc/release_notes.rst
Due: ament_copyright

[CI] Update path filter to run on yaml changes
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/humble-binary-build.yml
  .github/workflows/humble-coverage-build.yml
  .github/workflows/humble-debian-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/humble-semi-binary-build.yml
  .github/workflows/humble-source-build.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/jazzy-binary-build.yml
  .github/workflows/jazzy-coverage-build.yml
  .github/workflows/jazzy-debian-build.yml
  .github/workflows/jazzy-rhel-binary-build.yml
  .github/workflows/jazzy-semi-binary-build.yml
  .github/workflows/kilted-abi-compatibility.yml
  .github/workflows/kilted-binary-build.yml
  .github/workflows/kilted-coverage-build.yml
  .github/workflows/kilted-debian-build.yml
  .github/workflows/kilted-rhel-binary-build.yml
  .github/workflows/kilted-semi-binary-build.yml
  .github/workflows/kilted-source-build.yml
  .github/workflows/rolling-abi-compatibility.yml
  .github/workflows/rolling-binary-build.yml
  .github/workflows/rolling-compatibility-humble-binary-build.yml
  .github/workflows/rolling-compatibility-jazzy-binary-build.yml
  .github/workflows/rolling-compatibility-kilted-binary-build.yml
  .github/workflows/rolling-coverage-build.yml
  .github/workflows/rolling-debian-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
  .github/workflows/rolling-semi-binary-build-win.yml
  .github/workflows/rolling-semi-binary-build.yml
  .github/workflows/rolling-source-build.yml
Due: ament_copyright
