Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Add PreShutdownCallbackHandle to remove upon destruction
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Use `set_component_state` instead of directly deactivating it
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

check if the CM is assosicated to an executor
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update controller_interface/include/semantic_components/semantic_component_command_interface.hpp
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

force <led_name>/<r/g/b> convention in LED constructor
  controller_interface/include/semantic_components/led_rgb_device.hpp
  controller_interface/test/test_led_rgb_device.cpp
  controller_interface/test/test_led_rgb_device.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

linting of accepted commits
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update controller_interface/include/semantic_components/led_rgb_device.hpp
  controller_interface/include/semantic_components/led_rgb_device.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the initial wrong periodicity reported by controller_manager
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

realtime_tools_jazzy
  ros2_control.jazzy.repos
Due: ament_copyright

Use jazzy branch for realtime_tools (#2019)
  ros2_control.jazzy.repos
Due: ament_copyright

Fix the initial wrong periodicity reported by controller_manager (#2018)
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Handle SIGINT properly in the controller manager (#2014)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

4.25.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Use ABI workflow from ros2_control_ci
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/rolling-abi-compatibility.yml
Due: ament_copyright

Use ABI workflow from ros2_control_ci (#2022)
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/jazzy-abi-compatibility.yml
  .github/workflows/rolling-abi-compatibility.yml
Due: ament_copyright

Update humble-abi-compatibility.yml
  .github/workflows/humble-abi-compatibility.yml
Due: ament_copyright

Update rolling-abi-compatibility.yml
  .github/workflows/rolling-abi-compatibility.yml
Due: ament_copyright

Revert "pygraphviz functions updated (#812)"
  ros2controlcli/package.xml
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

Update dep
  ros2controlcli/package.xml
Due: ament_copyright

Rename variables
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

Add --save argument
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: ament_copyright

Parse hardware components instead
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

Add labels for different interfaces
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

Fix test
  ros2controlcli/test/test_view_controller_chains.py
Due: ament_copyright

add a semantic command interface to "semantic_components" (#1945)
  controller_interface/CMakeLists.txt
  controller_interface/include/semantic_components/led_rgb_device.hpp
  controller_interface/include/semantic_components/semantic_component_command_interface.hpp
  controller_interface/test/test_led_rgb_device.cpp
  controller_interface/test/test_led_rgb_device.hpp
  controller_interface/test/test_semantic_component_command_interface.cpp
  controller_interface/test/test_semantic_component_command_interface.hpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add semantic components
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/hardware_interface_types_userdoc.rst
  hardware_interface/doc/semantic_components.rst
Due: ament_copyright

Fix gh link
  hardware_interface/doc/asynchronous_components.rst
Due: ament_copyright

change logic to fix the bad periodict on startup
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

return get_name and get_group_name with const ref
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove unused get_name overrides
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

return by const reference
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update doc URL for useful scripts.
  hardware_interface/doc/writing_new_hardware_component.rst
Due: ament_copyright

[Doc] Fix broken link. (#2034)
  hardware_interface/doc/writing_new_hardware_component.rst
Due: ament_copyright

Handle overruns in the controller manager
  controller_manager/doc/userdoc.rst
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add links to header files
  hardware_interface/doc/semantic_components.rst
Due: ament_copyright
