Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-10
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Delete foxy-binary-build-main.yml
  .github/workflows/foxy-binary-build-main.yml
Due: none

Delete foxy-semi-binary-build-main.yml
  .github/workflows/foxy-semi-binary-build-main.yml
Due: none

Delete humble-abi-compatibility.yml
  .github/workflows/humble-abi-compatibility.yml
Due: none

Delete humble-binary-build-main.yml
  .github/workflows/humble-binary-build-main.yml
Due: none

Delete humble-binary-build-testing.yml
  .github/workflows/humble-binary-build-testing.yml
Due: none

Delete humble-rhel-binary-build.yml
  .github/workflows/humble-rhel-binary-build.yml
Due: none

Delete humble-semi-binary-build-main.yml
  .github/workflows/humble-semi-binary-build-main.yml
Due: none

Delete humble-semi-binary-build-testing.yml
  .github/workflows/humble-semi-binary-build-testing.yml
Due: none

Delete humble-source-build.yml
  .github/workflows/humble-source-build.yml
Due: none

Delete rolling-abi-compatibility.yml
  .github/workflows/rolling-abi-compatibility.yml
Due: none

Delete rolling-binary-build-main.yml
  .github/workflows/rolling-binary-build-main.yml
Due: none

Delete rolling-binary-build-testing.yml
  .github/workflows/rolling-binary-build-testing.yml
Due: none

Delete rolling-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Delete rolling-semi-binary-build-main.yml
  .github/workflows/rolling-semi-binary-build-main.yml
Due: none

Delete rolling-semi-binary-build-testing.yml
  .github/workflows/rolling-semi-binary-build-testing.yml
Due: none

Delete rolling-source-build.yml
  .github/workflows/rolling-source-build.yml
Due: none

Delete source.yml
  .github/workflows/source.yml
Due: none

Delete prerelease.yaml
  .github/workflows/prerelease.yaml
Due: none

Add documentation for realtime permission (#781)
  controller_manager/doc/userdoc.rst
Due: none

reformat
  controller_manager/test/test_hardware_management_srvs.cpp
  hardware_interface/test/test_component_parser.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make Linters happy
  hardware_interface/src/mock_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

spawner.py: Fix python logging on deprecation warning
  controller_manager/controller_manager/spawner.py
Due: none

spawner.py: Fix python logging on deprecation warning (#787)
  controller_manager/controller_manager/spawner.py
Due: none

Make output of joint limits nicer.
  joint_limits/include/joint_limits/joint_limits.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Satifsy formatting.
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: none

Update ros2controlcli/ros2controlcli/verb/list_controllers.py
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: none

remove raw pointer
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make output of joint limits nicer. (#788)
  joint_limits/include/joint_limits/joint_limits.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add chained controllers information in list controllers service #abi-braking (#758)
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/msg/ChainConnection.msg
  controller_manager_msgs/msg/ControllerState.msg
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Fix formatting.
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
  ros2controlcli/test/test_view_controller_chains.py
Due: none

Clang tidy: delete a redundant return
  controller_manager/src/realtime.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Clang tidy: delete a redundant return (#790)
  controller_manager/src/realtime.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Use appropriate python3 graphviz dependency
  ros2controlcli/package.xml
Due: none

remove unsolicited whitespace
  controller_manager/include/controller_manager/controller_manager.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Install graphviz from pip
  ros2controlcli/package.xml
Due: none

Move "realtime" to a small library
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake

this should get us dot
  ros2controlcli/package.xml
Due: none

Use a thread priority library from realtime_tools
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/realtime.hpp
  controller_manager/package.xml
  controller_manager/src/realtime.cpp
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Lint
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Cosmetic cleanup
  controller_manager/CMakeLists.txt
  controller_manager/src/ros2_control_node.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
