Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PEP 257
  - repo: https://github.com/FalconSocial/pre-commit-mirrors-pep257
    rev: v0.3.3
    hooks:
    - id: pep257
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Update reviewer-lottery.yml (#710)
  .github/reviewer-lottery.yml
Due: none

Make URDF available to HW components on initialize (#709)
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

1.5.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

2.7.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Proposal for solving multiple issues with implict interface in hardware.
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_components/test_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Pass time and period to read() and write()
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/fake_components/generic_system.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_sensor.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Pass time and period to read() and write() (#715)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_spawner_unspawner.cpp
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/include/hardware_interface/sensor_interface.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/fake_components/generic_system.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_sensor.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

2.8.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Add ControllerInterfaceBase class and use it in Controller Manager.
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface.cpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.xml
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.xml
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.xml
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Make nice user interface to export controllers.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.xml
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.xml
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.xml
Due: clang-format, ament_cppcheck, ament_cpplint

Apply suggestions from code review
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/src/controller_interface.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Apply suggestions from code review
  controller_interface/include/controller_interface/controller_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Apply suggestions from code review
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add ControllerInterfaceBase class with methods for chainable controller (#717)
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface.cpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Extending ControllerInterface with methods for chainable controllers.
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/src/chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.hpp
  controller_interface/test/test_controller_interface.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Add ControllerInterfaceBase class and use it in Controller Manager.
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_interface/src/chainable_controller_interface.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.xml
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.xml
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.xml
Due: clang-format, ament_cppcheck, ament_cpplint

Revert some changes to work on this stage.
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Extend resource manager to manage reference interfaces from controllers.
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Adjust interface between CM and RM for managing controllers' reference interfaces.
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Small fixes in controller manager tests.
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake

Added first tests up to configuration of chainable controllers.
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.xml
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Chained controllers can be manually activated.
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Successful value propagation when controllers are updated individually 🎉
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Successful updating all controllers at once when added into execution order.🎊
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add support for 'chained_controllers' parameter.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_hardware_management_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Split test into smaller reusable chunks and start test for auto-switching chained mode.
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Added functionality for auto-switching of chained mode in controllers.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Make code of controller manager more readable and better documented.
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fixed and optimization for running example.
  controller_interface/include/controller_interface/helpers.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Clean controller manager from obsolte code using parameter for chained controllers.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Added interface-matching approach for managing chaining controllers.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Return error is chained controller does not export any interfaces
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update chainable controller for tests.
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add ControllerInterfaceBase class and use it in Controller Manager.
  controller_interface/include/controller_interface/controller_interface.hpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.xml
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.xml
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.xml
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.cpp
  controller_manager/test/test_controller_with_interfaces/test_controller_with_interfaces.xml
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint
