Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Update e-mail in package description.
  launch_ros2_control/package.xml
  launch_ros2_control/setup.py
Due: ament_copyright

move all ControllerManager related method calls into the class
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/sleeping_policies.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add failing test
  ros2controlcli/test/test_view_controller_chains.py
Due: ament_copyright

Fix first round of wrong indices
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

Fix delimiters between groups
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

fix typo
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

found and fixed more typos thanks to copilot
  controller_manager/src/controller_manager.cpp
  doc/introspection.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

another tweak to the docs
  doc/introspection.rst
Due: ament_copyright

Fix a few typos (#3567)
  controller_manager/src/controller_manager.cpp
  doc/introspection.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

Parse controller/hardware interface names to support namespacing
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_controller_interface.cpp
  controller_interface/test/test_controller_interface.hpp
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
  controller_manager/src/controller_manager.cpp
  hardware_interface/doc/hardware_interface_types_userdoc.rst
  hardware_interface/include/hardware_interface/helpers.hpp
  hardware_interface/src/hardware_component_interface.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix interface name collisions and test side effects in view_controller_chains
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
  ros2controlcli/test/test_view_controller_chains.py
Due: ament_copyright

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: ament_copyright

Accumulate the changed flag over the whole parameter batch
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/test/joint_limits_rosparam_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Publish state on read/write failure
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Keep rqt controller queries on the shared executor
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/test/test_executor_aware_spinning.py
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: ament_copyright

Apply suggestion from @christophfroehlich
  ros2controlcli/test/test_view_controller_chains.py
Due: ament_copyright

Apply suggestion from copilot
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

Fix interface name collisions in view_controller_chains (#3570)
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
  ros2controlcli/test/test_view_controller_chains.py
Due: ament_copyright

pyupgrade
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

Install libboost-devel instead of boost with python support
  .github/workflows/rolling-pr-gated-ci.yml
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Install libboost-devel instead of boost with python support (#3583)
  .github/workflows/rolling-pr-gated-ci.yml
  .github/workflows/rolling-semi-binary-build-win.yml
Due: ament_copyright

Fix view_controller_chains (#2026)
  ros2controlcli/doc/userdoc.rst
  ros2controlcli/package.xml
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
  ros2controlcli/test/test_view_controller_chains.py
Due: ament_copyright

Update user documentation by removing view_hardware_status
  ros2controlcli/doc/userdoc.rst
Due: ament_copyright

Remove view_hardware_status documentation section
  ros2controlcli/doc/userdoc.rst
Due: ament_copyright

Fix merge conflicts
  ros2controlcli/doc/userdoc.rst
Due: ament_copyright

Update with real output
  ros2controlcli/doc/userdoc.rst
Due: ament_copyright

Fix API on humble
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
  ros2controlcli/test/test_view_controller_chains.py
Due: ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

6.10.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

5.18.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright
