Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

add more clear checks on the command interfaces of fallback controllers
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

added a separate method to check fallback controllers state
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

extend the checks for the needed state interfaces
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

remove the newly added unused helper functions
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Use references while iterating in loop
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

update the logic in update to activate controllers altogether
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

allow extra spawner arguments to not declare every argument in launch utils (#1505)
  controller_manager/controller_manager/launch_utils.py
Due: none

Add cm switch controller service timeout a parameter
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
  controller_manager/doc/userdoc.rst
Due: none

Update release notes
  doc/release_notes.rst
Due: none

fix the logic for existing tests
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add set_external_commands_for_testing method to the TestController class
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
Due: ament_cppcheck, ament_cpplint

Add a add_controller method to controller_manager that accepts ControllerSpec
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint

Add first basic fallback controller test
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

fix: call configure_controller on 'unconfigured' state instead load_controller
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Improve launch utils to support the multiple controller names (#1782)
  controller_manager/controller_manager/launch_utils.py
Due: none

Add a test case for the controller cannot be a fallback controller for itself
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Rename param and set to the same default as CM
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
  controller_manager/doc/userdoc.rst
Due: none

Use the same behavior than before
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
Due: none

Apply suggestions from code review
  controller_manager/controller_manager/spawner.py
  controller_manager/controller_manager/unspawner.py
Due: none

Apply suggestions from code review
  controller_manager/doc/userdoc.rst
Due: none

Added a fail test case when the fallback controllers need non existing interface to activate
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added a fail test case when the fallback controllers need non existing state interface to activate
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added test to consider when one or more fallback controllers are already active
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Improve logging for better introspection
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add test on the fallback controllers need to be in configured state already
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

update Loaned command and state handles with statistics, templated set and get value method with some statistics on misses and timeouts
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
Due: ament_cppcheck, ament_cpplint

Added test cases when using with chainable controllers
  controller_manager/CMakeLists.txt
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

added documentation and update release_note.rst
  controller_manager/doc/userdoc.rst
  doc/release_notes.rst
Due: none

fix: call configure_controller on 'unconfigured' state instead load_controller (#1794)
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Apply suggestions from code review
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

fix the missing exported state interface printing
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: none

add new --exported-interfaces arg and deprecate the old one
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: none

[ros2controlcli] Fix the missing exported state interface printing (#1800)
  ros2controlcli/ros2controlcli/verb/list_controllers.py
Due: none

set a vaid update rate for can_set_and_get_non_default_update_rate test
  controller_manager/test/test_load_controller.cpp
Due: ament_cppcheck, ament_cpplint

Check the update_rate set to the controllers to be a valid one (#1788)
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_controller_interface.cpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
