Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.3
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

[Feature] Fallback controllers (#1789)
  controller_manager/CMakeLists.txt
  controller_manager/doc/userdoc.rst
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

move the lambda function to a internal function
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

prepare and perform mode switch in the write cycle on returning error
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added a method to get the failed controller command interfaces from the list
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

prepare and perform mode switch in the read cycle on returning error
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

prepare and perform mode switch in the update cycle on failed controllers
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add exclusive interfaces hardware resources test description
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

add pre-committing changes
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
Due: ament_cppcheck, ament_cpplint

added test for the deactivation in the control loops
  controller_manager/CMakeLists.txt
  controller_manager/test/test_release_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add test_actuator_exclusive_interfaces test component to consider interface claiming
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
  hardware_interface_testing/test/test_components/test_components.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

remove unnecessary parts
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add initial version
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint

compilation fixes
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint

update the RTBufferVariables and reserve the variables
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint

Use the rt_buffer inside the read cycle
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Use the rt_buffer inside the write cycle
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Cleanup variables in the RTBufferVariables
  controller_manager/include/controller_manager/controller_manager.hpp
Due: ament_cppcheck, ament_cpplint

use the rt_buffer variables in the update method for realtimeness
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[Spawner] Add support for wildcard entries in the controller param files (#1724)
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/doc/userdoc.rst
  controller_manager/test/test_controller_spawner_with_type.yaml
  controller_manager/test/test_spawner_unspawner.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint

fix the splitting when not parsed
  controller_manager/controller_manager/spawner.py
Due: none

Add missing )
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added test for the remapped service from the controller using the spawner args
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add deprecation notice to remapping args to the controller manager node
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

update the documentaion on spawners
  controller_manager/doc/userdoc.rst
Due: none

Add controller node options args to be able to set controller specific node options arguments
  controller_manager/controller_manager/spawner.py
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint

Use the consexpr for --ros-args
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

update release_notes
  doc/release_notes.rst
Due: none

Update controller_interface/src/controller_interface_base.cpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

Update controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint

Add random noise to sensors
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Fixing pre-commit.
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

skip triggeting update cycle before deactivating the async controller
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

fix the testing for the recent change in the deactivation scheme
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add controller update stats to print every 20 seconds when there is a missed trigger
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[CM] Async Function Handler for Controllers (#1489)
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/async_controller.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/package.xml
  controller_interface/src/controller_interface_base.cpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

update tests to reproduce the issue
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

change the logic from next_update_cycle_time to last_update_cycle_time to unify with RM Fixes https://github.com/ros-controls/ros2_control/issues/1769
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Remove the DEBUG prints
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add note on why the factor 0.99 is used
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

fix compilation issues after rebasing
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint
