Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-10
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

Don't install manually clang-format
  .github/workflows/ci-format.yml
Due: none

[CI] Use clangformat hook and don't install it manually (#1007)
  .github/workflows/ci-format.yml
  .pre-commit-config.yaml
Due: none

fix copyright
  hardware_interface/include/hardware_interface/async_components.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Do not explode with empty tag
  hardware_interface/src/component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix link to hardware_components
  hardware_interface/doc/hardware_components_userdoc.rst
Due: none

use sphinx ref
  hardware_interface/doc/hardware_components_userdoc.rst
Due: none

Version with deceleration for simple joint limiter.
  joint_limits/src/simple_joint_limiter.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add ability to pass down command_data from an arbitrary ros2 controller to the hardware interface
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/actuator.hpp
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/system.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

docs: Fix link to hardware_components (#1009)
  hardware_interface/doc/hardware_components_userdoc.rst
Due: none

Remove log-level argument from spawner script
  controller_manager/controller_manager/spawner.py
Due: none

Revert "Add diagnostics (backport #820) (#922)"
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Issue_339: Implement parse_bool and refactor a few
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove log-level argument from spawner script (#1013)
  controller_manager/controller_manager/spawner.py
Due: none

Fix compilation
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update controller_manager/src/controller_manager.cpp to not capture anything
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Refactor yet another method and fix include
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

don't crash on no tag
  hardware_interface/src/component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Implement parse_bool and refactor a few (#1014)
  hardware_interface/include/hardware_interface/component_parser.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update tests to allow empty URDF parameter to hardware interface
  hardware_interface/test/test_component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix github links on control.ros.org
  doc/index.rst
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/doc/writing_new_hardware_interface.rst
  ros2controlcli/doc/userdoc.rst
Due: none

Formatting and comment to check.
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/src/simple_joint_limiter.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

Update generic_system.cpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update precommit libraries(#1020)
  .pre-commit-config.yaml
  hardware_interface/src/mock_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix github links on control.ros.org (#1019)
  doc/index.rst
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/mock_components_userdoc.rst
  hardware_interface/doc/writing_new_hardware_interface.rst
  ros2controlcli/doc/userdoc.rst
Due: none

Fix github link of controller_manager
  controller_manager/doc/userdoc.rst
Due: none

Replace test for empty param
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Code formatting
  hardware_interface/test/test_component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add text to assertions references
  controller_manager/test/test_hardware_management_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix GitHub link on control.ros.org (#1022)
  controller_manager/doc/userdoc.rst
Due: none

Use consequently 'mock' instead of 'fake'.
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add disabling command propagation option.
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix formatting.
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

remove changes to unrelated
  joint_limits_interface/test/joint_limits_urdf_test.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add class for thread management of async hw interfaces (#981)
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/async_components.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/hardware_interface/sensor.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
