Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Add missing `charconv` header
  hardware_interface/src/lexical_casts.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add missing `charconv` header (#3234)
  hardware_interface/src/lexical_casts.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

feat(hardware_interface): implement dynamic command toggling for MockHardware
  hardware_interface/CMakeLists.txt
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/package.xml
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix LNK2005 in joint*limiter
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix leading + in from_chars
  hardware_interface/src/lexical_casts.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Require full-string consumption
  hardware_interface/src/lexical_casts.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix LNK2005 in joint*limiter (#3243)
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix C++20 behavior changes of `std::from_chars` (#3244)
  hardware_interface/src/lexical_casts.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove removed packages from CI config
  .github/workflows/kilted-pre-release.yml
  .github/workflows/rolling-pre-release.yml
Due: ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright

5.14.1
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

4.45.1
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  hardware_interface_testing/CHANGELOG.rst
  hardware_interface_testing/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: ament_copyright

Remove removed packages from CI config (#3249)
  .github/workflows/kilted-pre-release.yml
  .github/workflows/rolling-pre-release.yml
Due: ament_copyright

Fix merge conflicts
  .github/workflows/rolling-pre-release.yml
Due: ament_copyright

Remove cxx_std_17
  controller_interface/CMakeLists.txt
  controller_manager/CMakeLists.txt
  hardware_interface/CMakeLists.txt
  joint_limits/CMakeLists.txt
  ros2_control_test_assets/CMakeLists.txt
  ros2_control_test_assets/package.xml
Due: ament_lint_cmake, ament_copyright

TEMP: use dev branch
  ros2_control.rolling.repos
Due: ament_copyright

Spin the executor in a separate thread
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Try increasing threads to fix rhel/debian
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Robustify checks
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Improve timings of tests
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix test when async lag more than one cycle
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix dummy_system_write_error_behavior
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Explicitely set is_async
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "TEMP: use dev branch"
  ros2_control.rolling.repos
Due: ament_copyright

Revert "Fix dummy_system_write_error_behavior"
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "Fix test when async lag more than one cycle"
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "Improve timings of tests"
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "Robustify checks"
  hardware_interface/test/test_component_interfaces.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "Try increasing threads to fix rhel/debian"
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Revert "Spin the executor in a separate thread"
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_component_interfaces_custom_export.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

docs: restore Monitoring and Tuning to userdoc.rst with introspection topics
  controller_manager/doc/running_controllers_asynchronously.rst
  controller_manager/doc/userdoc.rst
Due: ament_copyright

[doc] Add dedicated documentation page for running controllers asynchronously (#3195)
  controller_manager/doc/running_controllers_asynchronously.rst
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
