Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Fix formatting.
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
  joint_limits/src/simple_joint_limiter.cpp
Due: ament_cppcheck, ament_cpplint

Rename HW for simpler debugging and remove deprecated initial value handling.
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Fix formatting.
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Remove fake from parameters.
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Remove FakeSystem
  hardware_interface/CMakeLists.txt
  hardware_interface/fake_components_plugin_description.xml
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/include/fake_components/visibility_control.h
  hardware_interface/src/mock_components/fake_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Fix tests.
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Cleanup fake from tests.
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Added test for spawner argument --load-only
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Removed Typec check from spawner_test_load_only_in_arg, because it is not declared in this test.
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint

Also handle "stopped" arg
  controller_manager/controller_manager/spawner.py
Due: none

++stopped
  controller_manager/controller_manager/spawner.py
Due: none

[CI] codecov updates (#1147)
  .github/workflows/ci-coverage-build.yml
  README.md
  codecov.yml
Due: none

Add backport-to-iron workflow
  .github/mergify.yml
Due: none

Adjust branches in CI
  .github/workflows/iron-abi-compatibility.yml
  .github/workflows/iron-binary-build-main.yml
  .github/workflows/iron-binary-build-testing.yml
  .github/workflows/iron-semi-binary-build-main.yml
  .github/workflows/iron-semi-binary-build-testing.yml
  .github/workflows/iron-source-build.yml
Due: none

update readme for iron
  README.md
Due: none

Fix potential deadlock in ResourceManager (#925)
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Sort controllers while configuring instead of while activating (#1107)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_load_controller.cpp
Due: ament_cppcheck, ament_cpplint

Fix the issues where hardware with multiple interfaces can not be started because of a logical bug added when adding dynamics calculation functionality.
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Shorten test
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Controller sorting and proper execution in a chain (Fixes #853) (#1063)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[MockHardware] Fix the issues where hardware with multiple interfaces can not be started because of a logical bug added when adding dynamics calculation functionality. (#1151)
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Apply suggestions from code review
  .github/mergify.yml
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

3.21.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Add iron branch (#1155)
  .github/mergify.yml
  .github/workflows/iron-abi-compatibility.yml
  .github/workflows/iron-binary-build-main.yml
  .github/workflows/iron-binary-build-testing.yml
  .github/workflows/iron-semi-binary-build-main.yml
  .github/workflows/iron-semi-binary-build-testing.yml
  .github/workflows/iron-source-build.yml
  README.md
Due: none

Remove deprecation warning (#1101)
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Pass URDF to controllers on init (#1088)
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_interface/test/test_controller_interface.cpp
  controller_interface/test/test_controller_with_options.cpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

added minimal test to verify the update of robot description in controllers
  controller_manager/test/test_controller/test_controller.cpp
Due: ament_cppcheck, ament_cpplint

added controller_manager update_rate to the controller interface
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

update tests with the cm_update_rate argument
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_interface/test/test_controller_interface.cpp
  controller_interface/test/test_controller_with_options.cpp
  controller_interface/test/test_controller_with_options.hpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.hpp
Due: ament_cppcheck, ament_cpplint

added tests for the cm_update_rate method
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

added get_robot_description method to the base class
  controller_manager/test/test_controller/test_controller.cpp
Due: ament_cppcheck, ament_cpplint

use controller manager update rate as default for the controller interfaces
  controller_interface/src/controller_interface_base.cpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

fix controller interface tests
  controller_interface/test/test_controller_interface.cpp
Due: ament_cppcheck, ament_cpplint

remove the cm_update_rate API and only fix the controller update rate variable
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/src/controller_interface_base.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[Humble] Controller sorting (#1157)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_load_controller.cpp
Due: ament_cppcheck, ament_cpplint

[MockHardware] Remove all deprecated options and deprecated plugins from the library. (#1150)
  hardware_interface/CMakeLists.txt
  hardware_interface/fake_components_plugin_description.xml
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/include/fake_components/visibility_control.h
  hardware_interface/src/mock_components/fake_generic_system.cpp
  hardware_interface/src/mock_components/generic_system.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake
