Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.17.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.0
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system
        exclude: .*/conf\.py$

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.2
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.3.0
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.29.3
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

docs: standardize @return docstring tags to match upstream
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Refactor joint limit clamping logic
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Refactor joint velocity clamping logic
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add current velocity check to saturation limiter
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Reset init flag before URDF parse so invalid URDF isn't reported as initialized
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

docs: fix trailing whitespace
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Reset init flag before URDF parse so invalid URDF isn't reported as initialized (#3443)
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Refactor: Use const for stopping duration calculation
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Refactor: Simplify joint position and velocity clamping logic
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Rephrase docstring
  joint_limits/include/joint_limits/joint_limiter_interface.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the interface connections
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

Fix state interfaces read from chained controllers
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: ament_copyright

Fix joint limits namespace wording
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix joint limits namespace wording (#3445)
  joint_limits/include/joint_limits/joint_limits_rosparam.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add safety checks for joint position and velocity limits
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Make sleep in ros2_control node optional (#3213)
  controller_manager/CMakeLists.txt
  controller_manager/doc/userdoc.rst
  controller_manager/include/controller_manager/sleeping_policies.hpp
  controller_manager/package.xml
  controller_manager/src/ros2_control_node.cpp
  controller_manager/src/sleeping_policies.cpp
  controller_manager/test/test_sleeping_policies.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Fix merge conflicts
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Guard controller update rate against modulo-by-zero UB
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Refactor JointSaturationLimiter to use member variables
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add velocity saturation checks and clamping
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Remove redundant velocity saturation logic
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Recalculate effective acceleration limits based on dt
  joint_limits/include/joint_limits/joint_saturation_limiter.hpp
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Migrate hardware components to new handle API (#2987)
  controller_interface/test/test_chainable_controller_interface.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  hardware_interface/include/hardware_interface/handle.hpp
  hardware_interface/include/hardware_interface/loaned_command_interface.hpp
  hardware_interface/include/hardware_interface/loaned_state_interface.hpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_component_interfaces.cpp
  hardware_interface/test/test_handle.cpp
  hardware_interface/test/test_hardware_components/test_force_torque_sensor.cpp
  hardware_interface/test/test_hardware_components/test_imu_sensor.cpp
  hardware_interface/test/test_hardware_components/test_single_joint_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_hardware_components/test_two_joint_system.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_actuator_exclusive_interfaces.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the initialization of the parsed resource managers (#3346)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_with_resource_manager.cpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

test added when impl vel exceeds max vel, limits are enforced with effective acc.
  joint_limits/src/joint_saturation_limiter.cpp
  joint_limits/test/test_joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Get spawner logger from node to respect remapped names (#3446)
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

Fix merge conflict in docstring (#3441)
  controller_interface/include/controller_interface/helpers.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Change log_limits parameter type to const char*
  joint_limits/src/joint_saturation_limiter.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

rqt_cm: Robustify test and fix shutdown races (#3396)
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
  rqt_controller_manager/test/test_run_launch.py
Due: ament_copyright

Add logic to unload all inactive controllers
  ros2controlcli/ros2controlcli/verb/unload_controller.py
Due: ament_copyright

Update doc
  ros2controlcli/doc/userdoc.rst
Due: ament_copyright

Add testing for the new option
  ros2controlcli/test/test_unload_controller.py
Due: ament_copyright

test: add unit test for modulo-by-zero guard in controller update rate
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

refactor: use strict parameter validation instead of manual zero fallback per review
  controller_manager/src/controller_manager.cpp
  controller_manager/src/controller_manager_parameters.yaml
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  hardware_interface_testing/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: ament_copyright
