Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v2.12.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PEP 257
  - repo: https://github.com/FalconSocial/pre-commit-mirrors-pep257
    rev: v0.3.3
    hooks:
    - id: pep257
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/pycqa/flake8
    rev: 3.9.0
    hooks:
    - id: flake8
      args: ["--ignore=E501"]

  # CPP hooks
  - repo: local
    hooks:
      - id: clang-format
        name: clang-format
        description: Format files with ClangFormat.
        entry: clang-format-10
        language: system
        files: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: 0.9.0a1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.8.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.0.0
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

Remove 'moving'/'non-moving' interface-handling.
  hardware_interface/include/hardware_interface/types/hardware_interface_type_values.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

fix formatting.
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Apply suggestions from code review
  ros2_control/ros2_control.repos
Due: none

Point control_msgs to galactic branch (#587)
  ros2_control/ros2_control.repos
Due: none

Correct formatting.
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Use lambda functions in ros2_control generic_system for repetitive tasks (#579)
  hardware_interface/include/fake_components/generic_system.hpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

ci: add docker build workflow
  .docker/source/Dockerfile
  .github/workflows/docker.yml
Due: none

cli: break out release and source Dockerfiles in build step
  .github/workflows/docker.yml
Due: none

ci: :build: add buildx and buidx args fixes
  .docker/source/Dockerfile
  .github/workflows/docker.yml
Due: none

Adding support for 'initial_value' parameter.
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Addressing review comments.
  hardware_interface/src/component_parser.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

fix copy paste error in documentation
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add multiple controllers.
  .vscode/settings.json
  controller_manager/test/test_controller_manager.cpp
  ros2controlcli/ros2controlcli/__pycache__/__init__.cpython-38.pyc
  ros2controlcli/ros2controlcli/api/__pycache__/__init__.cpython-38.pyc
  ros2controlcli/ros2controlcli/command/__pycache__/__init__.cpython-38.pyc
  ros2controlcli/ros2controlcli/verb/__pycache__/__init__.cpython-38.pyc
Due: clang-format, ament_cppcheck, ament_cpplint

feat: add utils file that includes the colors class
  controller_manager/scripts/spawner.py
  controller_manager/scripts/utils.py
Due: none

Remove cache and setting files.
  .vscode/settings.json
  ros2controlcli/ros2controlcli/__pycache__/__init__.cpython-38.pyc
  ros2controlcli/ros2controlcli/api/__pycache__/__init__.cpython-38.pyc
  ros2controlcli/ros2controlcli/command/__pycache__/__init__.cpython-38.pyc
  ros2controlcli/ros2controlcli/verb/__pycache__/__init__.cpython-38.pyc
Due: none

fix copy paste error in documentation (#594)
  hardware_interface/include/hardware_interface/actuator_interface.hpp
  hardware_interface/include/hardware_interface/system_interface.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Adding support for 'initial_value' parameter. (#593)
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
  hardware_interface/test/test_component_parser.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/components_urdfs.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Remove ament_lint_auto
  controller_manager/CMakeLists.txt
  controller_manager/package.xml
Due: ament_lint_cmake

run precommit
  controller_manager/scripts/utils.py
Due: none

Help ament_copyright find the license
  controller_manager/scripts/utils.py
Due: none

Copy over copyright notice from original file
  controller_manager/scripts/utils.py
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

0.9.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

doc: :memo: add docker prebuilt information to README.md
  .docker/README.md
  README.md
Due: none

1.3.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Adding support for initial_value for fake component.
  hardware_interface/src/fake_components/generic_system.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

cpplint fix.
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

ci: add docker build workflow (#592)
  .docker/README.md
  .docker/source/Dockerfile
  .github/workflows/docker.yml
  README.md
Due: none

Update hardware_interface/src/fake_components/generic_system.cpp
  hardware_interface/src/fake_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

2.0.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

fix typo in .repos control_msgs version
  ros2_control/ros2_control.repos
Due: none

fix typo in .repos control_msgs version (#601)
  ros2_control/ros2_control.repos
Due: none

Point ros-controls/ros2_control to galactic
  ros2_control/ros2_control.repos
Due: none

Point ros2_control and ros2_controllers to foxy
  ros2_control/ros2_control.repos
Due: none

Point ros-controls/ros2_control to galactic (#602)
  ros2_control/ros2_control.repos
Due: none

Point ros2_control and ros2_controllers to foxy (#603)
  ros2_control/ros2_control.repos
Due: none

Support of "initial_value" for the 'FakeSystem' (#598)
  hardware_interface/src/fake_components/generic_system.cpp
  hardware_interface/test/fake_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint
