Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

clang-format:
  name: clang-format
  description: Format files with ClangFormat.
  entry: clang-format-10
  language: system
  args:
  - -fallback-style=none
  - -i

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

2.15.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

pygraphviz functions updated (#812)
  ros2controlcli/package.xml
  ros2controlcli/ros2controlcli/verb/view_controller_chains.py
Due: none

Update changelogs (dummy)
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

3.0.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

Use allocated vectors in non-realtime methods.
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Handle hardware errors in Resource Manager (#805)
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/actuator.cpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/src/sensor.cpp
  hardware_interface/src/system.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_components/test_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Cleanup Resource Manager a bit to increase clarity.
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Cleanup Resource Manager a bit to increase clarity. (#816)
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_resource_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Search for controller manager in spawner's namespace
  controller_manager/controller_manager/spawner.py
Due: none

small fix
  controller_manager/controller_manager/spawner.py
Due: none

.
  controller_manager/controller_manager/spawner.py
Due: none

initial commit
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

.
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

fix format
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add code for deactivating controller when hardware gets an error on read and write.
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
  hardware_interface/test/test_components/test_actuator.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Remove unintended include.
  hardware_interface/test/test_components/test_actuator.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update nomenclature of Controller Manager.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

ci: :construction_worker: update rhel container
  .github/workflows/galactic-rhel-binary-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

ci: :construction_worker: update rhel container (#823)
  .github/workflows/galactic-rhel-binary-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

fix
  controller_manager/controller_manager/spawner.py
Due: none

Handle HW errors on read and write in CM by stopping controllers (#742)
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager_hardware_error_handling.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Search for controller manager in the same namespace as spawner (#810)
  controller_manager/controller_manager/spawner.py
Due: none

Rephrase a few lines
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Add docs in export interface configurations for controllers. (#804)
  controller_interface/include/controller_interface/controller_interface_base.hpp
Due: clang-format, ament_cppcheck, ament_cpplint

Apply suggestions from code review
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

fix format
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

apply comments
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

format fix
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Update rqt_controller_manager/rqt_controller_manager/update_combo.py
  rqt_controller_manager/rqt_controller_manager/update_combo.py
Due: none

Add diagnostics for controllers activity (#820)
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/package.xml
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint, ament_lint_cmake

Don't ask for export reference interface inthe callback of controller is not 'inactive' or 'active'
  controller_manager/src/controller_manager.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fixup tests.
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Don't ask to export reference interface if controller not 'inactive' or 'active' (#824)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Fix defintion of containers in workflow files
  .github/workflows/galactic-rhel-binary-build.yml
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Rename cache of reusable workflows
  .github/workflows/reusable-industrial-ci-with-cache.yml
Due: none

Also initialize non-joint components
  hardware_interface/include/mock_components/generic_system.hpp
  hardware_interface/src/mock_components/generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Added parsing tests for sensor & gpio initial values
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: clang-format, ament_cppcheck, ament_cpplint

Path conditions:
  clang-format: any of: \.(c|cc|cxx|cpp|frag|glsl|h|hpp|hxx|ih|ispc|ipp|java|js|m|proto|vert)$
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
