Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.15.2
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v18.1.3
    hooks:
      - id: clang-format
        args: ['-fallback-style=none', '-i']

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.6
    hooks:
      - id: codespell
        args: ['--write-changes', '--uri-ignore-words-list=ist', '-L manuel']
        exclude: CHANGELOG\.rst|\.(svg|pyc|drawio)$

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.28.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

Bring back --controller-manager-timeout option
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
  controller_manager/doc/userdoc.rst
Due: none

fixup! Bring back --controller-manager-timeout option
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
Due: none

Fix link to gazebosim.org
  hardware_interface/doc/joints_userdoc.rst
Due: none

Fix link to gazebosim.org (#1563)
  hardware_interface/doc/joints_userdoc.rst
Due: none

Update spawner to have a timeout on service call
  controller_manager/controller_manager/controller_manager_services.py
Due: none

move the async function handler to the realtime_tools and integrate from it
  controller_interface/CMakeLists.txt
  controller_interface/include/controller_interface/async_function_handler.hpp
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_interface/package.xml
  controller_interface/src/controller_interface_base.cpp
  controller_interface/test/test_async_function_handler.cpp
  controller_interface/test/test_async_function_handler.hpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

start the async thread when configuring the controller
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

Modify switch_controllers to implement a reset operation by executing deactivate followed by activate when the same controller is specified for both start and stop
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.cpp
  controller_manager/test/test_chainable_controller/test_chainable_controller.hpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_with_command/test_controller_with_command.cpp
  controller_manager/test/test_controller_with_command/test_controller_with_command.hpp
  controller_manager/test/test_controller_with_command/test_controller_with_command.xml
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_reset_controller.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

refactor
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

renamed from reset to restart
  controller_manager/CMakeLists.txt
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_restart_controller.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

fix logic and add test
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

remove debug code and add comment
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

move internal function to anonymous namespace. add comment
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

fix a bug and add test
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

refactor and cleanup code
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
  controller_manager/test/test_restart_controller.cpp
Due: ament_cppcheck, ament_cpplint

fix the points indicated by pre-commit run
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/test/test_controller_with_command/test_controller_with_command.hpp
Due: ament_cppcheck, ament_cpplint

remove the get_state bind for API change
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint

remove unused input arg
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

add dummy lambda definition to maintain ABI compatibility
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

modify comment
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add default implementation to the on_export_state_interfaces and on_export_reference_interfaces
  controller_interface/include/controller_interface/chainable_controller_interface.hpp
  controller_interface/src/chainable_controller_interface.cpp
Due: ament_cppcheck, ament_cpplint

Fix merge error.
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix tests and remove dupplicated test after changes.
  hardware_interface_testing/test/test_resource_manager.cpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

Small improvements to the error output in component parser to make debugging easier.
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Correct formatting.
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Correct formatting.
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Correct formatting.
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Small improvements to the error output in component parser to make debugging easier. (#1580)
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Fix merge conflict
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

remove one of the redundant checks with the new approach
  controller_interface/src/chainable_controller_interface.cpp
  controller_interface/test/test_chainable_controller_interface.cpp
Due: ament_cppcheck, ament_cpplint

enhance chainig test
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[RM] Rename `load_urdf` method to `load_and_initialize_components` and add error handling there to avoid stack crashing when error happens. (#1354)
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_urdf_passing.cpp
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.hpp
  ros2_control_test_assets/include/ros2_control_test_assets/descriptions.hpp
Due: ament_cppcheck, ament_cpplint

[rqt_controller_manager] Add hardware components (#1455)
  controller_manager/doc/images/rqt_controller_manager.png
  controller_manager/doc/userdoc.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/resource/controller_manager.ui
  rqt_controller_manager/resource/popup_info.ui
  rqt_controller_manager/rqt_controller_manager/controller_manager.py
Due: none

Add custom rosdoc2 config for ros2_control metapackage (#1484)
  .github/workflows/rosdoc2.yml
  .pre-commit-config.yaml
  doc/Doxyfile
  ros2_control/doc/conf.py
  ros2_control/doc/index.rst
  ros2_control/package.xml
  ros2_control/rosdoc2.yaml
Due: none
