Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Cleanup allowable_exit_codes
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
Due: ament_copyright

No need to install test files
  controller_manager/test/test_launch_utils/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

Wait for spawners to exit and check controllers again
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
Due: ament_copyright

Revert unrelated changes
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Avoid printing to stdout from tests
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
Due: ament_copyright

Add tests for launch_utils of controller manager (#2768)
  controller_manager/CMakeLists.txt
  controller_manager/test/test_launch_utils/CMakeLists.txt
  controller_manager/test/test_launch_utils/test_launch_utils_integration_dict.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_list.py
  controller_manager/test/test_launch_utils/test_launch_utils_integration_load.py
  controller_manager/test/test_launch_utils/test_launch_utils_unit.py
  controller_manager/test/test_launch_utils/test_ros2_control_node_combined.yaml
Due: ament_lint_cmake, ament_copyright

Remove legacy parametrer
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix: failing test fix in services test
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Bump version of pre-commit hooks
  .pre-commit-config.yaml
Due: ament_copyright

docs: merged monitoring and tuning into introspection
  doc/introspection.rst
Due: ament_copyright

docs: merge monitoring and tuning into stats paragraph
  doc/introspection.rst
Due: ament_copyright

Update doc/introspection.rst
  doc/introspection.rst
Due: ament_copyright

Fix pre-commit
  doc/introspection.rst
Due: ament_copyright

doc: reorder ros2_control TOC (#3478)
  controller_manager/doc/async_updates.rst
  controller_manager/doc/clocks.rst
  controller_manager/doc/userdoc.rst
  doc/concepts.rst
  doc/guidelines_and_best_practices.rst
  doc/index.rst
  doc/introspection.rst
  hardware_interface/doc/handling_errors_during_read_write.rst
  hardware_interface/doc/hardware_components_userdoc.rst
  hardware_interface/doc/lifecycle_of_a_hardware_component.rst
  ros2controlcli/doc/userdoc.rst
Due: ament_copyright

Fix merge conflicts
  ros2controlcli/doc/userdoc.rst
Due: ament_copyright

Fix merge conflicts in ros2controlcli
  ros2controlcli/doc/userdoc.rst
Due: ament_copyright

Fix merge conflicts in cm docs
  controller_manager/doc/userdoc.rst
Due: ament_copyright

fix: use is_controller_unconfigured helper and remove unused simulate_cleanup_failure
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix: skip configure_controller for already-configured controllers in spawner
  controller_manager/controller_manager/spawner.py
Due: ament_copyright

fix: skip configure_controller for already-configured controllers in load_controller verb
  ros2controlcli/ros2controlcli/verb/load_controller.py
Due: ament_copyright

Use FileContent instead of cat
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_copyright

Add RangeSensor unit coverage
  controller_interface/CMakeLists.txt
  controller_interface/include/semantic_components/range_sensor.hpp
  controller_interface/test/test_range_sensor.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Refactor launch test to use launch substitutions instead of os (#3142)
  controller_manager/controller_manager/launch_utils.py
  controller_manager/test/test_ros2_control_node_launch.py
Due: ament_copyright

Apply suggestions from code review
  controller_interface/test/test_range_sensor.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Avoid Windows TRUE/FALSE macro collisions in hardware_interface (#3486)
  hardware_interface/include/hardware_interface/hardware_info.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add RangeSensor unit coverage (#3522)
  controller_interface/CMakeLists.txt
  controller_interface/include/semantic_components/range_sensor.hpp
  controller_interface/test/test_range_sensor.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

use controller update_rate as async parameter update rate.
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

move declare() async parameters into initialize()
  controller_interface/src/controller_interface_base.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
