Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  stages:
  - commit
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  stages:
  - commit
  entry: ament_lint_cmake
  language: system

create SaturationHandle per control mode instead of a single one
  hardware_interface/include/hardware_interface/limits_handle.hpp
Due: ament_cppcheck, ament_cpplint

Added the first version of the SaturationHandle class
  hardware_interface/include/hardware_interface/limits_handle.hpp
Due: ament_cppcheck, ament_cpplint

Make the main Limits variable optional and added exception handling for general scenario
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Added methods to retrieve limits from the URDF joints and ros2_control tags
  hardware_interface/CMakeLists.txt
  hardware_interface/package.xml
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add joint_limits dependency and add limits map to the HardwareInfo struct
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/hardware_info.hpp
  hardware_interface/package.xml
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Retrieve limits from the URDF as well as ros2_control tag from robot_description
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Make tests to use hardware descritpion in tests to be able to activate controllers.
  controller_manager/test/controller_manager_test_common.hpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix some other stuff.
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

print error and continue instead of throwing exception
  hardware_interface/src/component_parser.cpp
Due: ament_cppcheck, ament_cpplint

Use testing repo
  .github/workflows/humble-abi-compatibility.yml
  .github/workflows/iron-abi-compatibility.yml
Due: none

Add rolling ABI check
  .github/workflows/rolling-abi-compatibility.yml
Due: none

check the components size instead of the variable (fixes #1299)
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

remove is_urdf_loaded variable
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Add iron rhel workflow
  .github/workflows/iron-rhel-binary-build.yml
Due: none

Fix branches in wf
  .github/workflows/iron-rhel-binary-build.yml
Due: none

Reactivate RHEL workflows
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Activate iron RHEL
  .github/workflows/iron-rhel-binary-build.yml
Due: none

Fix format of humble rhel wf
  .github/workflows/humble-rhel-binary-build.yml
Due: none

Update rolling wf for future backports
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Update wf for future backports
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Update wf for future backports (#1303)
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Revert "remove is_urdf_loaded variable"
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

add new load_and_initialize_components default argument to the load_urdf method
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Reformat with braces added (#1209)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

[ControllerManager] Fix all warnings from the latets features. (#1174)
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
Due: ament_cppcheck, ament_cpplint

Fix conflict.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Resolve conflicts
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Resolve conflicts
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Resolve conflicts
  controller_manager/test/test_controller_failed_init/test_controller_failed_init.cpp
Due: ament_cppcheck, ament_cpplint

Fix some other stuff.
  hardware_interface/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint

Fix some other stuff.
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint

Remove obsolete test code.
  hardware_interface/test/test_resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Resolve conflicts
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Add additional checks for non existing and not available interfaces. (#1218)
  hardware_interface/CMakeLists.txt
  hardware_interface/include/hardware_interface/resource_manager.hpp
  hardware_interface/src/resource_manager.cpp
  hardware_interface/test/mock_components/test_generic_system.cpp
  hardware_interface/test/test_components/test_actuator.cpp
  hardware_interface/test/test_hardware_components/test_system_with_command_modes.cpp
  hardware_interface/test/test_resource_manager.cpp
  hardware_interface/test/test_resource_manager.hpp
  hardware_interface/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Correct tests of Mock Hardware.
  hardware_interface/test/mock_components/test_generic_system.cpp
Due: ament_cppcheck, ament_cpplint

Fixup the tests.
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager_srvs.cpp
  controller_manager/test/test_controllers_chaining_with_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
