Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake

.pre-commit-config.yaml:

# To use:
#
#     pre-commit run -a
#
# Or:
#
#     pre-commit install  # (runs every time you commit in git)
#
# To update this file:
#
#     pre-commit autoupdate
#
# See https://github.com/pre-commit/pre-commit

repos:
  # Standard hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude_types: [rst]
      - id: fix-byte-order-marker


  # Python hooks
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.4.0
    hooks:
    -   id: pyupgrade
        args: [--py36-plus]

  # PyDocStyle
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
    - id: pydocstyle
      args: ["--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404"]

  - repo: https://github.com/psf/black
    rev: 23.3.0
    hooks:
      - id: black
        args: ["--line-length=99"]

  - repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    - id: flake8
      args: ["--extend-ignore=E501"]

  # CPP hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v14.0.6
    hooks:
      - id: clang-format

  - repo: local
    hooks:
      - id: ament_cppcheck
        name: ament_cppcheck
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cppcheck
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$

  # Maybe use https://github.com/cpplint/cpplint instead
  - repo: local
    hooks:
      - id: ament_cpplint
        name: ament_cpplint
        description: Static code analysis of C/C++ files.
        stages: [commit]
        entry: ament_cpplint
        language: system
        files: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
        args: ["--linelength=100", "--filter=-whitespace/newline"]

  # Cmake hooks
  - repo: local
    hooks:
      - id: ament_lint_cmake
        name: ament_lint_cmake
        description: Check format of CMakeLists.txt files.
        stages: [commit]
        entry: ament_lint_cmake
        language: system
        files: CMakeLists\.txt$

  # Copyright
  - repo: local
    hooks:
      - id: ament_copyright
        name: ament_copyright
        description: Check if copyright notice is available in all files.
        stages: [commit]
        entry: ament_copyright
        language: system

  # Docs - RestructuredText hooks
  - repo: https://github.com/PyCQA/doc8
    rev: v1.1.1
    hooks:
      - id: doc8
        args: ['--max-line-length=100', '--ignore=D001']
        exclude: CHANGELOG\.rst$

  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: CHANGELOG\.rst$
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

  # Spellcheck in comments and docs
  # skipping of *.svg files is not working...
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.4
    hooks:
      - id: codespell
        args: ['--write-changes']
        exclude: CHANGELOG\.rst|\.(svg|pyc)$

3.22.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Update changelogs
  controller_interface/CHANGELOG.rst
  controller_manager/CHANGELOG.rst
  controller_manager_msgs/CHANGELOG.rst
  hardware_interface/CHANGELOG.rst
  joint_limits/CHANGELOG.rst
  ros2_control/CHANGELOG.rst
  ros2_control_test_assets/CHANGELOG.rst
  ros2controlcli/CHANGELOG.rst
  rqt_controller_manager/CHANGELOG.rst
  transmission_interface/CHANGELOG.rst
Due: none

2.37.0
  controller_interface/CHANGELOG.rst
  controller_interface/package.xml
  controller_manager/CHANGELOG.rst
  controller_manager/package.xml
  controller_manager_msgs/CHANGELOG.rst
  controller_manager_msgs/package.xml
  hardware_interface/CHANGELOG.rst
  hardware_interface/package.xml
  joint_limits/CHANGELOG.rst
  joint_limits/package.xml
  ros2_control/CHANGELOG.rst
  ros2_control/package.xml
  ros2_control_test_assets/CHANGELOG.rst
  ros2_control_test_assets/package.xml
  ros2controlcli/CHANGELOG.rst
  ros2controlcli/package.xml
  ros2controlcli/setup.py
  rqt_controller_manager/CHANGELOG.rst
  rqt_controller_manager/package.xml
  rqt_controller_manager/setup.py
  transmission_interface/CHANGELOG.rst
  transmission_interface/package.xml
Due: none

Don't run on pushes
  .github/workflows/humble-debian-build.yml
Due: none

Rename workflow
  .github/workflows/humble-debian-build.yml
Due: none

Rename wf and don't run on pushes
  .github/workflows/humble-debian-build.yml
  .github/workflows/iron-debian-build.yml
  .github/workflows/rolling-debian-build.yml
Due: none

Use local repos file
  .github/workflows/humble-debian-build.yml
  .github/workflows/iron-debian-build.yml
  .github/workflows/rolling-debian-build.yml
Due: none

rename params_file to parameters_file as per PR suggestions
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint

implement logic to append --ros-args if not defined in the node options arguments
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

implement logic of use_sim_time as arguments to solve #1311
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Update ci-coverage-build.yml
  .github/workflows/ci-coverage-build.yml
Due: none

[CI] Add ABI check for rolling (#1300)
  .github/workflows/iron-abi-compatibility.yml
  .github/workflows/rolling-abi-compatibility.yml
Due: none

Use correct distro for coverage build
  .github/workflows/ci-coverage-build.yml
Due: none

[CI] Activate coverage-build for humble (#1323)
  .github/workflows/ci-coverage-build.yml
Due: none

Issue-759: Adding cleanup service
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/srv/CleanupController.srv
  ros2controlcli/ros2controlcli/verb/cleanup_controller.py
  ros2controlcli/setup.py
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Revert "Issue-759: Adding cleanup service"
  controller_manager/controller_manager/__init__.py
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/controller_manager/spawner.py
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager_msgs/CMakeLists.txt
  controller_manager_msgs/srv/CleanupController.srv
  ros2controlcli/ros2controlcli/verb/cleanup_controller.py
  ros2controlcli/setup.py
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

[CI] Activate coverage-build for iron (#1322)
  .github/workflows/ci-coverage-build.yml
Due: none

Optimize cleanup controllers method.
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

Added package to CI
  .github/workflows/ci-coverage-build.yml
  .github/workflows/ci-ros-lint.yml
Due: none

Move test_components to own package
  controller_manager/package.xml
  hardware_interface/CMakeLists.txt
  hardware_interface_testing/CMakeLists.txt
  hardware_interface_testing/README.md
  hardware_interface_testing/package.xml
  hardware_interface_testing/test/test_components/test_actuator.cpp
  hardware_interface_testing/test/test_components/test_components.xml
  hardware_interface_testing/test/test_components/test_sensor.cpp
  hardware_interface_testing/test/test_components/test_system.cpp
  hardware_interface_testing/test/test_resource_manager.cpp
  hardware_interface_testing/test/test_resource_manager.hpp
  hardware_interface_testing/test/test_resource_manager_prepare_perform_switch.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake

Add new package to CI jobs
  .github/workflows/ci-coverage-build.yml
  .github/workflows/ci-ros-lint.yml
Due: none

Rename workflow and don't run on push
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Add verbose option to test-result
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

Add names to steps
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

move the NodeOptions logic into a separate method
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
Due: ament_cppcheck, ament_cpplint

[RHEL-CI] Rename workflow and don't run on push (#1326)
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/iron-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

[RHEL-CI] Rename workflow and don't run on push (#1326)
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/iron-rhel-binary-build.yml
Due: none

[CI] Add debian source build job (#1310)
  .github/workflows/humble-debian-build.yml
  .github/workflows/iron-debian-build.yml
  .github/workflows/rolling-debian-build.yml
Due: none

Fix merge conflicts
  .github/workflows/humble-rhel-binary-build.yml
  .github/workflows/rolling-rhel-binary-build.yml
Due: none

add public access specifier to JointSaturationInterface
  hardware_interface/include/hardware_interface/limits_handle.hpp
Due: ament_cppcheck, ament_cpplint

Add import joint limiters from the hardware_info
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

rename to hardware command limiter instead of joint limiter
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Enforce limits before calling write method of the hardware
  hardware_interface/src/resource_manager.cpp
Due: ament_cppcheck, ament_cpplint

Fix controller parameter loading issue in different cases (#1293)
  controller_manager/controller_manager/spawner.py
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/src/controller_manager.cpp
  hardware_interface/include/hardware_interface/controller_info.hpp
Due: ament_cppcheck, ament_cpplint
