Repository ros-controls/ros2_control: changes, and which pre-commit hooks are due for each by the changed paths.
All: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

ament_cppcheck:
  name: ament_cppcheck
  description: Static code analysis of C/C++ files.
  entry: env AMENT_CPPCHECK_ALLOW_SLOW_VERSIONS=1 ament_cppcheck
  language: system

ament_cpplint:
  name: ament_cpplint
  description: Static code analysis of C/C++ files.
  entry: ament_cpplint
  language: system
  args:
  - --linelength=100
  - --filter=-whitespace/newline

ament_lint_cmake:
  name: ament_lint_cmake
  description: Check format of CMakeLists.txt files.
  entry: ament_lint_cmake
  language: system

ament_copyright:
  name: ament_copyright
  description: Check if copyright notice is available in all files.
  entry: ament_copyright
  language: system

Update mergify.yml author entries
  .github/mergify.yml
Due: ament_copyright

Update mergify.yml author entries (#1841)
  .github/mergify.yml
Due: ament_copyright

Fix unload of controllers when spawned with `--unload-on-kill` (#1717)
  controller_manager/controller_manager/spawner.py
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Add test coverage for `params_file` parameter in spawner/unspawner tests (#1754)
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

pre-commit changes
  controller_manager/test/test_spawner_unspawner.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[Spawner] Add support for wildcard entries in the controller param files (#1724)
  controller_manager/controller_manager/controller_manager_services.py
  controller_manager/doc/userdoc.rst
  controller_manager/test/test_controller_spawner_with_type.yaml
  controller_manager/test/test_spawner_unspawner.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix: typo use thread_priority
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

migrate the transmission_interface to the new variants changes
  transmission_interface/include/transmission_interface/accessor.hpp
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/include/transmission_interface/handle.hpp
  transmission_interface/include/transmission_interface/simple_transmission.hpp
  transmission_interface/include/transmission_interface/transmission.hpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the utils test
  transmission_interface/test/utils_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the simple transmission test
  transmission_interface/test/simple_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix differential_transmission tests
  transmission_interface/include/transmission_interface/differential_transmission.hpp
  transmission_interface/test/differential_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix four base linkage transmission tests
  transmission_interface/include/transmission_interface/four_bar_linkage_transmission.hpp
  transmission_interface/test/four_bar_linkage_transmission_test.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

fix: typo use thread_priority (#1844)
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update ros2_control_node.cpp
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix CMP0115 (#1830)
  controller_manager/CMakeLists.txt
Due: ament_lint_cmake, ament_copyright

[ros2_control_node] Add the realtime_tools lock_memory method to prevent page faults (#1822)
  controller_manager/src/ros2_control_node.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

Update release_notes.rst
  doc/release_notes.rst
Due: ament_copyright

[ros2_control_node] Add option to set the CPU affinity via parameters
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

make ros2_control_node handle simulation environments
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

add release_notes
  doc/release_notes.rst
Due: ament_copyright

[ros2_control_node] Add option to set the CPU affinity (#1852)
  controller_manager/src/ros2_control_node.cpp
  doc/release_notes.rst
Due: ament_cppcheck, ament_cpplint, ament_copyright

Fix the missing ending brace
  controller_manager/src/ros2_control_node.cpp
Due: ament_cppcheck, ament_cpplint, ament_copyright

[CM] Fix controller missing update cycles in a real setup (#1774)
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

[CM] Fix controller missing update cycles in a real setup (#1774)
  controller_interface/include/controller_interface/controller_interface_base.hpp
  controller_manager/CMakeLists.txt
  controller_manager/include/controller_manager/controller_manager.hpp
  controller_manager/include/controller_manager/controller_spec.hpp
  controller_manager/src/controller_manager.cpp
  controller_manager/test/test_controller/test_controller.cpp
  controller_manager/test/test_controller/test_controller.hpp
  controller_manager/test/test_controller_manager.cpp
Due: ament_cppcheck, ament_cpplint, ament_lint_cmake, ament_copyright

Add docs
  controller_manager/doc/userdoc.rst
  doc/release_notes.rst
Due: ament_copyright

Update controller_manager/doc/userdoc.rst
  controller_manager/doc/userdoc.rst
Due: ament_copyright

Path conditions:
  ament_cppcheck: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_cpplint: any of: \.(h\+\+|h|hh|hxx|hpp|cuh|c|cc|cpp|cu|c\+\+|cxx|tpp|txx)$
  ament_lint_cmake: any of: CMakeLists\.txt$
  ament_copyright: any file but: .*/conf\.py$
